/* FOOTER START */

footer#Footer {
    background: $footer_bg;
    padding-bottom: 1vw;
    .risk_content {
        margin-bottom: 0;
    }
    .top-footer {
        padding: 8px 0;
        background: $footer_top_bg;
        .footer-menu-holder {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            .footer_logo {
                margin: auto 0;
                .logo {
                    display: block;
                    img {
                        vertical-align: middle;
                    }
                }
            }
            .menu-footer-horizontal-menu {
                display: flex;
                flex-wrap: wrap;
                li {
                    padding: 0 14px;
                    a {
                        font-weight: 400;
                        color: $footer_menu_text;
                        font-size: 1rem;
                        &:hover {
                            color: $links_hover;
                        }
                    }
                }
            }
        }
    }
    .bottom-footer {
        padding-bottom: 50px;
        .contact-information {
            margin-top: 20px;
            font-weight: 400;
            font-size: 1rem;
            line-height: 1.8rem;
            color: $footer_address_text;

            a {
                color: $footer_address_text;
                &:hover {
                    color: $links_hover;
                }
            }
        }
    }
    .footer_risk {
            padding-top: 10px;
            border-top: 1px solid $risk_border;
            p.risk_disclaimer {
                font-size: 0.8rem;
                line-height: 1.2rem;
                font-weight: 400;
                color: $risk_text;
            }
    }
    #to-top-button{
        background: $top_button_bg;
        border: 1px solid $top_button_border;
        position: fixed;
        display: none;
        right: 3vw;
        cursor: pointer;
        bottom: 3vw;
        padding: 1vw .7vw;
        z-index: 111;
        opacity: .7;
        transition: .5s;
        a {
            display: block;
            font-size: 0;

            svg {
                width: 19px;
                height: auto;
                path {
                    fill: $top_button_arrow;
                }
            }
        }

        &:hover{
            opacity: 1;
        }
    }
}

#mini-install-button {
    position: fixed;
    left: 0;
    bottom: 35px;
    width: 60px;
    height: 60px;
    z-index: 99;
    background-color: #2896d0;
    border-radius: 0 10px 10px 0;
    display: none;
    opacity: 0;

    &.show {
        animation: slide-up 2s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        display: block;
    }

    a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;

        img {
            width: 70%;
            height: 70%;
            margin: auto;
        }
    }

}

/* FOOTER END */
