/* Purpose: all elements that are global, such as buttons, popup windows etc. */

/* MAIN START */

.mobile-only {
    display: none;
}

.desktop-only {
    display: block;
}
body.nav-active {
    overflow-y: hidden;
}

nav ul {
    margin-top: unset;
    margin-bottom: unset;
}

button:active,
a:active {
    opacity: 0.8;
    text-shadow: 0 0 5px $secondary_color;
}

#check-access {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: grey;
    z-index: 11;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;

    .spinner-layer {
        border-color: darkgreen;
    }
}
body.ip-allowed #check-access {
    display: none;
}

@keyframes slide-down {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    100% {
        opacity: 0.9;
        transform: translateY(0);
    }
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(30%);
    }

    100% {
        opacity: 0.9;
        transform: translateY(0);
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-400px)
    }
    50% {
        opacity: 0.3
    }
    100% {
        opacity: 1;
        transform: translateX(0)
    }
}

@keyframes lock-stripes {
    from {
        background-position: 100% 0;
    }

    to {
        background-position: -100% 0;
    }
}

@keyframes skeletor-demo {
    0% {
        transform: translateY(-50%) scaleY(0);
        filter: opacity(0);
    }

    100% {
        transform: translateY(-50%) scaleY(1);
        filter: opacity(1);
    }
}

@keyframes swing {
    0% {
        transform: rotateX(-180deg) translateX(-50%);
        filter: opacity(0);
    }

    30% {
        transform: rotateX(30deg) translateX(-50%);
        filter: opacity(1);
    }

    60% {
        transform: rotateX(-10deg) translateX(-50%);
        filter: opacity(1);
    }

    90% {
        transform: rotateX(5deg) translateX(-50%);
        filter: opacity(1);
    }

    100% {
        transform: rotateX(0deg) translateX(-50%);
        filter: opacity(1);
    }
}

@keyframes drag-up {
    0% {
        transform: translateY(0) translateX(-50%);
        filter: opacity(1);
    }

    50% {
        filter: opacity(0);
    }

    100% {
        transform: translateY(-250%) translateX(-50%);
        filter: opacity(0);
    }
}


body:not(#trading-platform-page) #Header {
    -webkit-perspective: 600px;
    perspective: 600px;
    &.pinned {
        .install-prompt-style {
            animation: swing 1.5s cubic-bezier(0, 0.4, 0.74, 1.07);
            animation-fill-mode: forwards;
            z-index: -1;
        }
    }
}

/* Install website to desktop prompt box BEGIN */
.install-prompt-style {
    z-index: -10;
    position: absolute;
    height: 75px;
    background: rgba(7, 30, 50, 0.71);
    box-shadow: 0 1px 10px 3px rgba(0, 0, 0, 0.25);
    top: 57px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 20px;
    filter: opacity(0);
    transform-style: preserve-3d;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    transform-origin: top;


    &.fading {
        z-index: 2;
        filter: opacity(1);
        animation: drag-up 1s ease-out;
        animation-fill-mode: forwards;
        top: 90px;
    }

    .flex_wrapper {
        display: flex;
        height: 100%;
    }

    &:hover {
        box-shadow: 0 10px 21px 2px #0a7db6a1;
    }

    .logo_container {
        background-image: url("/assets/images/install-popup_circle.png");
        background-size: cover;
        width: 60px;
        height: 60px;
        text-align: center;
        display: flex;
        margin: auto;

        img {
            margin: auto;
        }
    }

    .message-cta {
        display: inline-block;
        color: white;
        text-decoration: none;
        transition: all .3s ease-in-out;
        clear: both;
        background: rgba(47, 171, 233, 0.24);
        border: 1px solid #45C0FF;
        box-sizing: border-box;
        border-radius: 8px;
        height: 44px;
        line-height: 44px;
        text-align: center;
        margin: auto 30px;
        padding: 0 13px;
        font-size: 20px;

        &:hover {
            filter: saturate(140%) brightness(1.1);
        }
    }

    .hide-install-prompt {
        color: white;
        text-transform: uppercase;
        text-align: center;
        font-size: 1rem;
        margin: auto 0;


        &:hover {
            text-decoration: underline;
        }
    }
}
/* Install website to desktop prompt box END */

/* 404 Style START */

body.not_found {
    background-image: url("/assets/images/bg_404.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

    .not_found_wrapper {
        padding-top: 20vh;

        .col > * {
            margin: 1.3rem 0;
            #history-back {
                color: $white;
                text-decoration: underline;
                text-align: center;

                &:hover {
                    color: $main_btn;
                }
            }
        }

        .logo {
            background-image: url("/assets/images/logo.svg");
            height: 4.6rem;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }

        h1 {
            font-size: 4.6rem;
            line-height: 5.4rem;
            color: $white;
        }

        h3 {
            font-weight: 200;
            font-size: 1.8rem;
            color: $white;
        }

        h4 {
            font-weight: 200;
            font-size: 1.3rem;
            color: $white;
        }

        .nav-buttons {
            display: flex;
            justify-content: center;

            & a {
                display: inline-block;
                text-align: center;
                padding: 0.6rem;
                font-size: 1.2rem;
                transition: all 350ms;
            }

            .homepage-button,
            .trading-button {
                min-width: 175px;
                margin: 0.3rem;

                &:hover {
                    color: $main_btn;
                    background-color: transparent;
                    box-shadow: inset 0 0 0 1px $main_btn;
                }
            }

            .homepage-button {
                background-color: $main_btn;
                color: white;
            }

            .trading-button {
                color: $main_btn;
                box-shadow: inset 0 0 0 1px $main_btn;
                background-color: $white;
            }
        }
    }
}

/* 404 Style END */
.container {
    max-width: 1400px;
    width: 100%;
    padding: 0 15px;
}

#wrapper {
    overflow: hidden;

    .row {
        margin-bottom: 0;
    }
}

/*    CTA Button Styles    */
.cta_button {
    font-family: $headers_font;
    font-size: 1.1rem;
    line-height: 1.2rem;
    font-weight: 400;
    text-align: left;
    padding: 14px 20px;
    background: transparent;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin: .5vw;
    transition: filter .3s;

    &.cta_button1 {
        background-color: $cta1_bg;
        color: $cta1_text;
        border: 1px solid $cta1_border;

        &:before {
            background-color: $cta1_bg_hover;
        }
    }

    &.cta_button2 {
        background-color: $cta2_bg;
        color: $cta2_text;
        border: 1px solid $cta2_border;

        &:before {
            background-color: $cta2_bg_hover;
        }
    }

    &.gradient_btn {
        background: $gradient_cta_bg;
        color: $gradient_cta_text;
        border: 1px solid $gradient_cta_border;

        &:hover {
            filter: saturate(1.4);
        }
    }
}

.bg_hover_fadein {
    z-index: 1;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        transition: all .3s;
        border-radius: 3px;
        opacity: 0;
        transform: scale(0.5, 0.5)
    }

    &:hover:before {
        opacity: 1;
        transform: scale(1, 1);
    }
}

.cta_arrow {
    min-width: 200px;
    padding-right: 70px;
    transition: all 0.5s;
    &:after {
        content: '';
        background: url("/assets/images/btn_arrow.png") no-repeat;
        position: absolute;
        top: 50%;
        margin-top: -5px;
        transition: transform 0.5s ease;
        right: 13px;
        width: 40px;
        height: 10px;
    }

    &:hover:after {
        transform: translate3d(0.3rem, 0, 0)
    }
}

.lock_load {
    background-image: linear-gradient(95deg, #b5bac1 0%, #b5bac1 30%, #e3ebf0, #b5bac1 70%, #b5bac1 100%) !important;
    background-size: 200% auto !important;
    animation: lock-stripes 2s linear infinite;
    border: 1px solid #525252 !important;
    pointer-events: none !important;
    color: #7f7d7d !important;
    opacity: .7;
}

.user-actions {
    transition: all .5s;
}

.loader_animation {
    background-image: linear-gradient(95deg, #b5bac1 0%, #b5bac1 30%, #e3ebf0, #b5bac1 70%, #b5bac1 100%) !important;
    background-size: 200% auto !important;
    animation: lock-stripes 4s linear infinite;
    border: 1px solid #525252 !important;
    pointer-events: none !important;
    color: #7f7d7d !important;
    opacity: .3;
    border-radius: 5px;
    min-height: 34px;
    position: relative;
    & > * {
        filter: opacity(0);
    }
}

/*    CTA Buttons Style End    */

/* Modal window with Market news video START */

/* compensate disappearing scrollbar on locked scroll */
.scroll_compensate {
    width:  calc(100% - var(--scrollbar-width));

}

#modalVideoFrame {
    background: $video_popup_bg;
    width: 100%;

    .modal-content {
        width: 60%;
        margin: 0 auto;

        iframe {
            min-height:  600px;
        }
    }
    .modal-close {
        width: 1vw;
        height: 1vw;
        position: absolute;
        right: .1vw;
        top: .1vw;
        display: block;
        margin: .3vw;
        padding: .1vw;

        &:before,
        &:after {
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            background-color: $video_popup_close;
            width: 100%;
            height: .2vw;
            border-radius: .1vw;
        }

        &:before {
            transform: translate(-50%, -50%) rotate(45deg)
        }

        &:after {
            transform: translate(-50%, -50%) rotate(-45deg)
        }
    }
}

/* Modal window with Market news video END */

.small-width-container {
    max-width: 1140px;
    margin: 0 auto;
}

/* MAIN END */


/* Language switcher with rounded flags */
.lang_switcher_round {
    position: relative;
    background-color: $sidenav_lang_bg;
    padding: 10px 30px 10px 10px;
    border-radius: 5px;

    .active_lang {
        display: flex;
    }

    .flag_icon {
        width: 30px;
        height: 30px;
        background-position: center;
        background-size: cover;
        border-radius: 50%;
        margin-right: 1rem;
    }

    .lang_name {
        font-size: 1.2rem;
        line-height: 30px;
    }

    &:after {
        border-left: none;
        border-top: none;
        content: '';
        height: 5px;
        position: absolute;
        right: 10px;
        top: calc(50% - 3px);
        transform: scale(1, 0.8) rotate(225deg);
        transition: all 250ms;
        width: 5px;
    }

    .additional_langs {
        display: flex;
        flex-direction: column;
        visibility: hidden;
        pointer-events: none;
        filter: opacity(0);
        transform: translateY(30%);
        transition: all .3s;
        position: absolute;
        left: 0;
        bottom: 50px;
        background-color: $sidenav_lang_bg;
        padding: 10px 30px 10px 10px;
        width: 100%;
        border-radius: 5px 5px 0 0;
        animation: slide-up .2s linear 1;
        animation-direction: reverse;
        z-index: -1;

        li.additional_lang {
            padding: 10px 0;

            &:first-child {
                padding-top: 0;
            }

            &:last-child {
                padding-bottom: 0;
            }

            a {
                display: flex;
                padding: 0;
                height: 30px;
            }
        }
    }

    &:focus-within {
        border-radius: 0 0 5px 5px;

        &:after {
            transform: scale(1, 0.8) rotate(45deg);
        }

        .additional_langs {
            filter: opacity(1);
            animation: slide-up .2s linear 1;
            visibility: visible;
            pointer-events: auto;
            transform: translateY(0);
            z-index: 999;
        }
    }
}

#demo_site_message {
    background: $primary_color;
    width: 100%;
    padding: 4px 40px 4px 0;
    z-index: -999;
    position: fixed;
    text-align: center;
    bottom: 0;
    visibility: hidden;
    filter: opacity(0);
    transition: all .5s;
    padding: 5px;

    &.visible {
        visibility: visible;
        filter: opacity(1);
        z-index: 99999;
    }

    #demo_close {
        position: absolute;
        right: 15px;
        width: 20px;
        height: 20px;
        border: none;
        background: $primary_color;
        transition: all .25s ease-in-out;
        top: 50%;
        transform: translateY(-50%);
        &:after {
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            right: 0;
            top: 0;
            background: url(/assets/images/close-btn.svg) no-repeat center;
        }
    }
    p {
        margin: 0;
        max-width: 90%;
    }
}


/* COOKIE POLICY POPUP START */

#gdpr-cookie-message {
    position: fixed;
    bottom: 1vw;
    right: 1vw;
    background-color: $cookie_popup_bg;
    width: 100%;
    max-width: 460px;
    z-index: 9999;
    border-radius: .3vw;
    padding: .5vw 2vw;
    border: 1px solid $cookie_popup_border;

    .scroll_compensate & {
        right: calc(1vw + var(--scrollbar-width));
    }

    h4 {
        font-size: 1.3rem;
        color: $cookie_popup_title !important;
    }

    p {
        font-size: 1rem;
        color: $cookie_popup_text !important;
    }

    a {
        color: $cookie_popup_link;
        &:hover {
            color: $cookie_popup_link_hover;
        }
    }

    button#gdpr-cookie-accept {
        background-color: $cookie_popup_cta_bg;
        color: $cookie_popup_cta_text;
        transition: all .3s;
        margin: 0 auto;
        display: block;
        height: 40px;
        min-width: 180px;
        border: none;
        border-radius: .1vw;

        &:hover,
        &:active,
        &:focus {
            background-color: darken($cookie_popup_cta_bg, 30%);
        }
    }

}
/* COOKIE POLICY POPUP END */
