/* HELPER CLASSES START */

body.logged_in {
    .hide_logged_in {
        display: none !important;
    }
}

.hidden {
    display: none !important;
}

.text_left {
    text-align: left !important;
}

.text_center {
    text-align: center !important;
}

.text_right {
    text-align: right !important;
}

.margin_auto_h {
    margin: 0 auto !important;
    display: block;
}

.margin_auto_v {
    margin: auto 0 !important;
}

.margin_auto_all {
    margin: auto !important;
}

.bold {
    font-weight: 600 !important;
}

.light {
    font-weight: 100 !important;
}

.transparent_bg {
    background: transparent;
}

.no_bottom_pad {
    padding-bottom: 0 !important;
}

.no_top_pad {
    padding-top: 0 !important;
}

.divider {
    width: 100%;
    display: inline-block;
    white-space: nowrap;
    clear: both;

    &.blank {
        background: transparent;

        &.height-50 {
            height: 50px;
        }

        &.height-60 {
            height: 60px;
        }

        &.height-70 {
            height: 70px;
        }

        &.height-80 {
            height: 80px;
        }

        &.height-90 {
            height: 90px;
        }
    }
}

/* colors */

$white:     #FFFFFF;
$silver:    #C0C0C0;
$gray:      #808080;
$black:     #000000;
$maroon:    #800000;
$red:       #FF0000;
$orange:    #FF6600;
$yellow:    #FFFF00;
$olive:     #808000;
$lime:      #00FF00;
$green:     #008000;
$teal:      #008080;
$aqua:      #00FFFF;
$blue:      #32B4F4;
$blue:      #0000FF;
$navy:      #000080;
$fuchsia:   #FF00FF;
$purple:    #800080;

/* HELPER CLASSES END */
