/*    Home Page    */
body.homepage {
    /*  First page section hero screen  */
    .top-hero-screen {
        position: relative;
        height: 100vh;
        width: 100%;
        z-index: 2;
        overflow: hidden;

        .hero-bg {
            position: absolute;
            left: 0;
            right: 0;
            width: 100%;
            height: 100vh;
            background:
                    radial-gradient(circle at top right, #083357 25%, #32B4F4 93%),
                    radial-gradient(circle at bottom right, #00336C 0, #0157A0 100%),
                    radial-gradient(circle at center left, #0898DE 0, #0898DE 100%);
        }


        .container {
            width: 79vw;
            max-width: 1560px;
            position: absolute;
            top: 54%;
            left: 0;
            right: 0;
            transform: translateY(-50%);
            margin: 0 auto;
            padding: 0;

            .parallax {
                display: block;
                height: auto;
                position: relative;
                width: auto;

                &-content {
                    height: auto;
                    transform-style: preserve-3d;
                    transition: all .5s ease;
                    width: 100%;
                    transform: translate3d(-0.8px, -0.8px, 16px) scale(0.97);

                    .c-box {
                        padding: 3rem 3rem 7rem 3rem;
                    }

                    &:before {
                        content: "";
                        display: block;
                        height: 100%;
                        left: 0;
                        position: absolute;
                        top: 0;
                        width: 100%;
                        opacity: 0;
                        transition: all .5s ease;
                    }
                }

                &-front {
                    h1,
                    p {
                        text-shadow: 1px 1px 2px rgba(3, 3, 3, 0.76);
                        transition: all .5s ease;
                    }
                }

                &-top-left {
                    height: 50%;
                    left: 0;
                    position: absolute;
                    top: 0;
                    width: 50%;
                    z-index: 300;

                    &:hover ~ .parallax-content {
                        transform: perspective(1600px) rotateX(-5deg) rotateY(5deg);
                        box-shadow: 1px 1px 16px rgba(0,0,0,0.3);
                        &:before {
                            opacity: 1;
                            background: linear-gradient(
                                            135deg,
                                            rgba(255, 255, 255, .25) 0%,
                                            rgba(255, 255, 255, 0) 50%

                            );
                            animation: gradient 10s ease;
                        }

                        .parallax-front {
                            transform: translate3d(-.10px, -.10px, 16px) scale(1);
                        }
                    }
                }

                &-top-right {
                    height: 50%;
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 50%;
                    z-index: 300;

                    &:hover ~ .parallax-content {
                        transform: perspective(1600px) rotateX(-5deg) rotateY(-5deg);
                        box-shadow: 1px 1px 16px rgba(0,0,0,0.3);
                        &:before {
                            /*opacity: 1;
                            background: linear-gradient(
                                            -135deg,
                                            rgba(255, 255, 255, .25) 0%,
                                            rgba(255, 255, 255, 0) 50%);
                            animation: gradient 10s ease-in-out;*/
                        }

                        .parallax-front {
                            transform: translate3d(.10px, -.10px, 16px) scale(1);
                        }
                    }
                }

                &-bottom-left {
                    bottom: 0;
                    height: 50%;
                    left: 0;
                    position: absolute;
                    width: 50%;
                    z-index: 300;
                    cursor: pointer;

                    &:hover ~ .parallax-content {
                        transform: perspective(1600px) rotateX(5deg) rotateY(5deg);
                        box-shadow: 1px 1px 16px rgba(0,0,0,0.3);
                        &:before {
                            opacity: 1;
                            background: linear-gradient(
                                            45deg,
                                            rgba(255, 255, 255, .25) 0%,
                                            rgba(255, 255, 255, 0) 50%);
                            animation: gradient 10s ease;
                        }

                        .parallax-front {
                            transform: translate3d(-.10px, .10px, 16px) scale(1);
                        }
                    }
                }

                &-bottom-right {
                    bottom: 0;
                    height: 50%;
                    position: absolute;
                    right: 0;
                    width: 50%;
                    z-index: 300;

                    &:hover ~ .parallax-content {
                        transform: perspective(1600px) rotateX(5deg) rotateY(-5deg);
                        box-shadow: 1px 1px 16px rgba(0,0,0,0.3);
                        &:before {
                            /*opacity: 1;
                            background: linear-gradient(
                                            -45deg,
                                            rgba(255, 255, 255, .25) 0%,
                                            rgba(255, 255, 255, 0) 50%);
                            animation: gradient 10s ease-in-out;*/

                        }
                        .parallax-front {
                            transform: translate3d(.10px, .10px, 16px) scale(1);
                        }
                    }
                }
            }

            .hero-screen-content-holder {
                position: relative;

                .left-content-box {

                    h1 {
                        font-size: 4vw;
                        line-height: 1;
                        font-weight: 500;
                        color: #fff;
                        text-align: left;
                        margin: 0;
                    }

                    p {
                        font-size: 1.2vw;
                        line-height: 1.1;
                        font-weight: 400;
                        color: $white;
                        margin-bottom: 50px;
                    }

                    .cta_btn_holder {
                        display: flex;
                        flex-direction: row;

                        a {
                            &:hover {
                                background: transparent;
                            }
                        }

                        .main_btn {
                            margin-left: 15px;
                            background: transparent;
                            border: 1px solid $main_btn;
                        }

                        .secondary_btn {
                            background: transparent;
                            border: 1px solid $secondary_color;
                        }
                    }
                }

                .right-content-box {
                    position: relative;

                    .mobile-phone {
                        position: absolute;
                        background: #1d74a7 url("/assets/images/home/mobile-phone-frame.png") no-repeat top center;
                        background-size: contain;
                        width: 38%;
                        //height: 606px;
                        right: 38%;
                        //padding: 0;
                        box-shadow: 1px 1px 16px rgba(0,0,0,0.3);
                        border-radius: 36px;
                        z-index: 3;
                        transition: transform 100ms linear;
                        transform: translate3d(0, 0, 0);
                        transform-style: preserve-3d;
                        backface-visibility: hidden;

                        &:after {
                            display: block;
                            width: 100%;
                            padding-top: (606 / 271) * 100%;
                            content: "";
                        }

                        .video-source {
                            position: absolute;
                            content: "";
                            margin: 13% 0 0 1.7%;
                            width: 96%;
                            height: auto;
                            border: 1px solid rgba(245, 246, 246, .5);
                            border-radius: 3px;
                        }
                    }

                    .open-order-frame {
                        position: absolute;
                        left: -1vw;
                        top: -11vh;
                        width: 43.5%;
                        transition: transform 100ms linear;
                        box-shadow: 1px 1px 9px -2px #1e1e1f;
                        z-index: 2;
                        transform: translate3d(0, 0, 0);
                        transform-style: preserve-3d;
                        backface-visibility: hidden;

                        &:after {
                            display: block;
                            content: "";
                            width: 100%;
                            position: absolute;
                            padding-top: (139 / 74) * 100%;
                            top: 0;
                            left: 0;
                            bottom: 0;
                            right: 0;
                            background: #1d74a7;
                        }

                        &:before {
                            display: block;
                            width: 100%;
                            padding-top: (139 / 74) * 100%;
                            content: "";
                            background: #1d74a7 url("/assets/images/home/open-order-screen-transparent.png") no-repeat top center / cover;
                            opacity: 0.8;
                            top: 0;
                            left: 0;
                            bottom: 0;
                            right: 0;
                            position: absolute;
                            z-index: 1;
                        }

                    }

                    .trading-platform-frame {
                        position: absolute;
                        top: 13vh;
                        right: -13vw;
                        width: 82.1%;
                        /*height: 544px;
                        padding: 0;
                        margin: 0;*/
                        transition: transform 100ms linear;
                        box-shadow: 1px 1px 9px -2px #1e1e1f;
                        z-index: 2;
                        transform: translate3d(0, 0, 0);
                        transform-style: preserve-3d;
                        backface-visibility: hidden;

                        &:after {
                            display: block;
                            content: "";
                            width: 100%;
                            position: absolute;
                            top: 0;
                            left: 0;
                            bottom: 0;
                            right: 0;
                            background: #1d74a7;
                            padding-top: (136 / 145) * 100%;
                        }

                        &:before {
                            display: block;
                            width: 100%;
                            padding-top: (136 / 145) * 100%;
                            content: "";
                            background: #1d74a7 url("/assets/images/home/trading-platform-transparent.png") no-repeat top center / cover;
                            opacity: 0.8;
                            top: 0;
                            left: 0;
                            bottom: 0;
                            right: 0;
                            position: absolute;
                            z-index: 1;
                        }
                    }
                }
            }
        }
    }
    /*    Homepage hero screen End    */

    /*    Slider Carousel Full Width    */
    .slider-carousel {
        padding: 150px 0 0;

        & > .row:not(.full-width-holder) {
            display: flex;
        }

        .col.l8 {
            padding: 0 50px;

            h3 {
                font-weight: 600;
                font-size: 3.2rem;
                line-height: 3.6rem;
                color: $font-color;
                margin: 0 0 20px;
            }

            p {
                font-weight: 400;
                font-size: 1rem;
                line-height: 1.4rem;
                color: $font_color;
            }
        }

        .col.l2 {
            position: relative;

            .controls-slider-carousel {
                position: absolute;
                bottom: 10%;
                width: 20%;
                display: flex;
                justify-content: space-between;
                left: 50%;
                transform: translate(-50%);

                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;

                    &:hover {
                        filter: sepia(100%) brightness(0.5) saturate(1500%) hue-rotate(135deg);
                    }
                }

                .prev-arrow {
                    opacity: 0.7;

                    &:hover {
                        opacity: 1;
                    }
                }

                .next-arrow {
                    opacity: 0.7;

                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }

        .full-width-holder {
            padding: 0;
            margin-top: 30px;

            .carousel-holder {
                position: relative;

                .col {
                    padding-left: 0;

                    .full-width-carousel {
                        height: 442px;
                        margin-top: 20px;
                        display: flex;
                        flex-direction: row;
                        overflow: hidden;
                        position: relative;
                        width: 100%;
                        perspective: 500px;
                        transform-style: preserve-3d;
                        transform-origin: 0 50%;

                        .carousel-item {
                            width: 442px;
                            height: 442px;
                            opacity: 1 !important;
                            background: #F0F0F0;
                            text-align: center;
                            box-sizing: border-box;
                            display: flex;
                            flex-direction: column;
                            align-items: stretch;
                            justify-content: space-evenly;
                            visibility: hidden;
                            position: absolute;
                            top: 0;
                            left: 0;
                            cursor: grab;
                            padding: 45px 0 0;

                            &:active {
                                cursor: grabbing;
                            }

                            .count {
                                font-weight: 500;
                                font-size: 13.67rem;
                                line-height: 10rem;
                                color: #F6F6F6;
                                position: absolute;
                                top: 0;
                                left: 0;
                                z-index: -1;
                            }

                            .carousel-content {
                                padding: 2rem 2.6rem;
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                                position: relative;

                                .content {
                                    h5 {
                                        font-weight: 500;
                                        font-size: 2.46rem;
                                        line-height: 3rem;
                                        color: $font_color;
                                        text-transform: capitalize;
                                        margin-top: 0;
                                    }

                                    p {
                                        font-weight: 400;
                                        font-size: 1rem;
                                        line-height: 1.2rem;
                                        color: $font_color;
                                    }
                                }

                                .btn-holder {
                                    margin-top: 30px;
                                    text-align: center;

                                    a {
                                        font-weight: 400;
                                        font-size: 1rem;
                                        line-height: 1.2rem;
                                        color: $font_color;
                                        transition: all 0.5s;
                                        position: relative;
                                        padding: 8px;
                                        display: block;
                                        cursor: none;

                                        &:after {
                                            content: "";
                                            position: absolute;
                                            background: $font_color;
                                            width: 60%;
                                            left: 50%;
                                            bottom: 0;
                                            transform: translateX(-50%);
                                            height: 1px;
                                        }
                                    }
                                }
                            }

                            &.active {
                                background: $font_color;

                                .count {
                                    color: #3A3D4B;
                                }

                                .carousel-icon {
                                    svg {
                                        path {
                                            fill: $secondary_color;
                                        }
                                    }
                                }

                                .carousel-content {
                                    .content {
                                        h5,
                                        p {
                                            color: $white;
                                        }
                                    }

                                    .btn-holder {
                                        a {
                                            color: $white;
                                            cursor: pointer;

                                            &:after {
                                                background: $secondary_color;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    /*    Slider Carousel Full Width End    */

    /*    Slogan Banner Section    */
    .slogan-banner {
        background: url("/assets/images/home/slogan-bg.jpg") top center no-repeat;
        background-size: cover;
        padding: 80px 0;

        h3 {
            font-size: 2.067rem;
            line-height: 2.4rem;
            font-weight: 700;
            color: $white;
            margin-top: 0;
            margin-bottom: 20px;
        }

        p {
            font-weight: 400;
            font-size: 1rem;
            line-height: 1.4rem;
            color: $white;
            margin-top: 0;
            margin-bottom: 20px;
        }
    }

    /*    Slogan Banner Section End    */

    /*    Arrows Section    */
    .arrows-section {
        background: url("/assets/images/home/bg_arrows-section.png") center no-repeat;
        background-size: cover;
        padding: 100px 0;

        .row.center {
            h3 {
                font-weight: 700;
                font-size: 5rem;
                line-height: 5.6rem;
                color: $primary_color;
                margin: 0 0 20px;
            }

            p {
                font-weight: 400;
                font-size: 1rem;
                line-height: 1.4rem;
                color: $font_color;
                margin: 0;
            }
        }

        .arrows-block-holder {
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h5 {
                font-weight: 500;
                font-size: 1.86rem;
                line-height: 2rem;
                color: $font_color;
                margin: 0 0 20px;
                text-align: center;
            }

            .arrows-block {
                max-width: 770px;
                width: 100%;
                display: flex;
                justify-content: space-between;

                .icon-item {
                    display: flex;
                    flex-direction: column;
                    max-width: 135px;
                    justify-content: center;
                    align-items: center;
                    position: relative;

                    &:after {
                        content: "";
                        background: url("/assets/images/home/arrow-img.png") no-repeat;
                        width: 169px;
                        height: 12px;
                        position: absolute;
                        right: 0;
                        top: 75px;
                        transform: translate(100%, -40px);
                    }

                    &:last-child {
                        &:after {
                            display: none;
                        }
                    }

                    .icon-bg {
                        width: 75px;
                        height: 75px;
                        background: #515566;
                        border-radius: 5px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    p {
                        font-weight: 400;
                        font-size: 1rem;
                        line-height: 1.4rem;
                        color: $font_color;
                        text-align: center;
                        min-height: 7rem;
                    }
                }
            }

            .btn-holder {
                margin-top: 50px;

                a {
                    text-align: center;
                    padding: 14px 20px;
                    margin: 0 8px;

                    &:after {
                        display: none;
                    }
                }
            }
        }
    }

    /*    Arrows Section End    */

    /*    Accounts Section    */
    .accounts-section {
        background: #171A21;
        padding: 80px 0;

        h3 {
            font-weight: 500;
            font-size: 3.2rem;
            color: $primary_color;
            margin: 0;
        }

        .accounts-holder {
            margin-top: 50px;

            .col {
                .account {
                    height: 100%;
                    background: #262A34;
                    transition: all 0.5s ease-in-out;

                    .account-header {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-weight: 700;
                        font-size: 3rem;
                        line-height: 2rem;
                        color: $white;
                        text-align: center;
                        min-height: 200px;
                        background-size: cover;

                        p {
                            color: #FFFFFF;
                            font-weight: 600;
                            font-family: $headers_font;
                            font-size: 3rem;
                            line-height: 70%;
                        }

                        span {
                            font-family: $headers_font;
                            font-weight: 400;
                            font-size: 1.2rem;
                            line-height: 1.4rem;
                        }

                        &.basic {
                            background: url("/assets/images/home/bg_basic.png") center top no-repeat;

                        }

                        &.silver {
                            background: url("/assets/images/home/bg_silver.png") center top no-repeat;
                        }

                        &.golden {
                            background: url("/assets/images/home/bg_golden.png") center top no-repeat;
                        }
                    }

                    .account-info {
                        padding: 35px 35px 20px;
                        transition: all 0.8s;

                        .btn-holder {
                            text-align: center;
                            margin-top: 0;

                            a {
                                background: #D8D8D8;
                                color: #353846;
                                padding: 12px 10px;
                                text-align: center;
                                min-width: 160px;
                                border-radius: 23px;
                                display: inline-block;
                                box-shadow: 0 0 0 rgba(0, 0, 0, 0);
                                transition: .3s all;

                                &:hover {
                                    background: $primary_color;
                                    color: $white;
                                    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
                                    transform: translateY(-3px);
                                }
                            }
                        }

                        .account-list {
                            margin-top: 25px;

                            li {
                                font-weight: 400;
                                font-size: 1rem;
                                line-height: 1.4rem;
                                color: $white;
                                display: block;
                                padding: 10px 20px 10px 0;
                                position: relative;
                                border-bottom: 1px solid #3E4047;

                                &:after {
                                    content: "";
                                    background: url("/assets/images/home/account-list-arrow.svg") no-repeat;
                                    width: 12px;
                                    height: 10px;
                                    position: absolute;
                                    right: 0;
                                    top: 50%;
                                    transform: translate(0, -50%);
                                }

                                &:last-child {
                                    border-bottom: none;
                                }
                            }
                        }
                    }

                    &:hover {
                        transform: scale(1.15);
                        position: relative;
                        z-index: 999;

                        .account-info {
                            background: $white;

                            .btn-holder {
                                a {
                                    background: $primary_color;
                                    color: $white;
                                }
                            }

                            .account-list {
                                li {
                                    color: #434343;

                                    &:after {
                                        background: url("/assets/images/home/account-list-arrow-dark.svg") no-repeat;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .btn-holder {
            margin-top: 80px;
        }
    }

    /*    Accounts Section End    */

    /*    Advantages Section    */
    .advantages-section {
        background: #F1F1F1;
        padding: 80px 0 100px;

        h4 {
            font-weight: 700;
            font-size: 2.067rem;
            line-height: 2.4rem;
            color: $font_color;
        }

        p.border-text {
            font-size: 1rem;
            line-height: 1.4rem;
            color: $font_color;
            font-weight: 400;
            padding-left: 20px;
            margin: 20px 0;
            position: relative;
            border-left: 1px solid $primary_color;
        }

        p {
            font-weight: 500;
            font-size: 1rem;
            line-height: 1.4rem;
            color: $font_color;
        }

        .btn-holder {
            margin-top: 70px;

            a {
                text-align: center;
                padding: 14px 20px;

                &:after {
                    display: none;
                }

                &.main_btn {
                    margin-right: 15px;
                }
            }
        }

        .advantage-holder {
            min-height: 212px;
            background: $white;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            box-shadow: -4px 3px 15px rgba(0, 0, 0, 0.3);
            padding: 24px 10px;
            margin-bottom: 15px;
            border-radius: 4px;
            transition: all 0.5s;
            position: relative;
            z-index: 1;

            &:before {
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                border-radius: 4px;
                z-index: -1;
                transition: all 0.5s;
                background: #0473AA;
                background: linear-gradient(0, rgba(48, 177, 241, 0.6) 0%, #43b0e1 46.5%, #0473AA 100%);
                opacity: 0;
            }

            p {
                font-weight: 500;
                font-size: 1.067rem;
                line-height: 1.4rem;
                color: $font_color;
                margin: 0;
                padding: 15px 0 0;
                border-top: 1px solid #868686;
                width: 100%;
                text-align: center;
                transition: all 0.5s;
            }

            svg {
                path {
                    transition: all 0.5s;
                }
            }

            &:hover {
                &:before {
                    opacity: 1;
                }

                p {
                    color: $white;
                    border-top: 1px solid rgba(255, 255, 255, 0.15);
                }

                svg {
                    path {
                        fill: #FF8E50;
                    }
                }
            }
        }
    }

    /*    Advantages Section End    */

    /*    Assets Section    */
    .assets-section {
        background: #141821;
        background: radial-gradient(ellipse at center, #194568 0%, #15212f 55%, #141821 100%);
        padding: 80px 0;
        position: relative;

        &:before,
        &:after {
            content: "";
            background: url("/assets/images/home/assets-arrow-prev.png") no-repeat;
            width: 226px;
            height: 162px;
            position: absolute;
            left: 5%;
            top: 50%;
        }

        &:after {
            background: url("/assets/images/home/assets-arrow-next.png") no-repeat;
            right: 5%;
            left: auto;
        }

        h3 {
            font-weight: 700;
            font-size: 5rem;
            line-height: 5.4rem;
            color: $primary_color;
            margin: 0;
        }

        p {
            font-weight: 400;
            font-size: 1rem;
            line-height: 1.4rem;
            color: $white;
        }

        #tradingAssetsAppId {
            max-width: 100%;
            border-radius: 0;
            z-index: 1;

            .asset-items {
                &.row {
                    &:hover {
                        background: rgba(158, 158, 158, 0.2);

                        .asset-item.cta {
                            background: $primary_color;
                        }
                    }
                }

                .cta {
                    border-color: $primary_color;
                    color: $primary_color;
                    background: transparent;
                }
            }

            .info ul li span {
                z-index: 10;
                padding: 0 13px;
            }

            .assets-tabs-holder {
                background: #141821;
                background: linear-gradient(240deg, #141821 0%, #2d6490 46.5%, #141821 100%);
            }

            .asset-tab {
                color: $white;

                &.active {
                    color: $white;
                    border-bottom: 2px solid $primary_color;
                    background: $primary_color;
                }
            }
        }
    }

    /*    Assets Section End   */

    /*    Additional Info With Images Section    */
    .additional-info-with-images {
        padding: 80px 0;

        h3 {
            font-weight: 500;
            font-size: 3.66rem;
            line-height: 4rem;
            color: $font_color;
            margin: 0 0 30px;
        }

        .col {
            .image-holder {
                position: relative;
                height: 298px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                &:before,
                &:after {
                    content: "";
                    display: block;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    height: 10px;
                    width: 10px;
                    opacity: 0;
                    background: rgba(35, 37, 49, 0.76);
                    transition: 300ms;
                    transform: translate(-50%, -50%);
                    border: 2px solid transparent;
                }

                &:after {
                    background: rgba(50, 180, 244, 0.2);
                    transition: 800ms;
                }
            }

            .description {
                .title {
                    font-weight: 500;
                    font-size: 1.33rem;
                    line-height: 1.7rem;
                    color: $font_color;
                    position: relative;
                    margin: 15px 0;
                    padding-bottom: 5px;

                    &:before {
                        content: "";
                        display: block;
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        height: 1px;
                        width: 140px;
                        background: $primary_color;
                        transition: 500ms;
                    }
                }

                p {
                    font-weight: 400;
                    font-size: 0.93rem;
                    line-height: 1.2rem;
                    color: #5C5B5B;
                }

                a.more {
                    font-weight: 500;
                    font-size: 1.067rem;
                    line-height: 1.3rem;
                    color: #272525;
                    position: relative;
                    min-width: 165px;
                    text-align: left;
                    padding: 14px 40px 14px 20px;
                    background: transparent;
                    border-radius: 3px;
                    -moz-transition: all 0.5s;
                    -o-transition: all 0.5s;
                    transition: all 0.5s;
                    overflow: hidden;
                    display: inline-block;
                    z-index: 1;
                    border: 1px solid transparent;

                    &:after {
                        content: '';
                        background: url("/assets/images/home/btn-arrow-dark.png") no-repeat;
                        position: absolute;
                        top: 50%;
                        margin-top: -3px;
                        transition: transform 500ms ease;
                        right: 13px;
                        width: 40px;
                        height: 10px;
                    }

                    &:before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        z-index: -1;
                        -moz-transition: all 0.3s;
                        -o-transition: all 0.3s;
                        transition: all 0.3s;
                        border-radius: 3px;
                        opacity: 0;
                        background: linear-gradient(267deg, rgba(251, 210, 101, 0.5) -5.02%, rgba(234, 123, 61, 0.5) 125.48%, rgba(242, 114, 46, 0.5) 100%);
                        transform: scale(0.5, 0.5);
                    }
                }
            }

            &:hover {
                .description {
                    .title {
                        &:before {
                            width: 100%;
                        }
                    }

                    a.more {
                        color: $white;
                        background: #f58839;
                        background: linear-gradient(267deg, #f6c65d 0%, #f5a84b 46.5%, #f58839 100%);
                        border: 1px solid $secondary_color;

                        &:after {
                            background: url("/assets/images/btn_arrow.png") no-repeat;
                        }

                        &:hover {
                            background: transparent;

                            &:after {
                                transform: translate3d(0.3rem, 0, 0);
                            }

                            &:before {
                                opacity: 1;
                                transform: scale(1, 1);
                            }
                        }
                    }
                }

                .image-holder {
                    &:before,
                    &:after {
                        opacity: 1;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }

    /*    Additional Info With Images Section End    */

    /*    Mobile Section    */
    .mobile-section {
        background: #141822 url("/assets/images/home/mobile-section-bg.png") top right no-repeat;
        background-size: cover;
        padding: 80px 0 100px;

        h3 {
            font-weight: 500;
            font-size: 3.33rem;
            line-height: 3.8rem;
            color: $primary_color;
            margin: 0;

            span {
                font-weight: 500;
                font-size: 5rem;
                line-height: 5.4rem;
                color: $primary_color;
            }
        }

        .border-text {
            margin: 35px 0 60px;
            padding-left: 20px;
            border-left: 1px solid rgba(255, 255, 255, 0.5);

            p {
                font-weight: 400;
                font-size: 1rem;
                line-height: 1.4rem;
                color: $white;

                span {
                    font-weight: 700;
                    font-size: 1.333rem;
                    line-height: 1.8rem;
                    color: $white;
                }
            }
        }

        .btn-holder {
            a {
                text-align: center;
                padding: 14px 20px;

                &:after {
                    display: none;
                }

                &.main_btn {
                    margin-right: 15px;
                }
            }
        }

        .col.l4 {
            text-align: right;

            img {
                height: 580px;
            }
        }
    }

    /*    Mobile Section End    */

    /*    App Section    */
    .app-section {
        background: $white url("/assets/images/home/app-section-bg.png") right bottom no-repeat;
        padding: 140px 0;

        h3 {
            font-weight: 700;
            font-size: 3.667rem;
            line-height: 4rem;
            color: $primary_color;
            margin: 0 0 30px;
            text-transform: none;
        }

        p {
            font-weight: 400;
            font-size: 1rem;
            line-height: 1.4rem;
            color: $font_color;
            padding-right: 90px;

            span {
                font-weight: 500;
            }

            &.sub {
                font-style: italic;
                font-size: 0.866rem;
                line-height: 1rem;
                color: $font_color;
            }
        }

        .social-btn-holder {
            margin: 50px 0;

            a {
                border-bottom: 1px solid #F2F2F2;
                transition: all 0.5s;
                display: inline-block;
                margin-right: 30px;

                &:hover {
                    border-bottom: 1px solid #C1C1C1;
                }
            }
        }
    }

    /*    App Section End    */

    /*     Section With Icons   */
    .section_with_icons {
        background: url("/assets/images/home/bg_icons-section.png") center no-repeat;
        padding: 3rem 0 5.3rem;
        background-size: cover;

        h3 {
            font-weight: 700;
            text-transform: capitalize;
            text-align: center;
            color: #353535;
            font-size: 3.66rem;
            line-height: 4rem;
            margin-bottom: 45px;
            margin-top: 0;
        }

        .col.l6 {
            .focus-block {
                box-shadow: 3px 5px 16px rgba(0, 0, 0, 0.1);
                transition: 1s;
                display: flex;
                align-items: center;
                padding: 20px;
                margin: 10px 10px 10px 45px;
                border-radius: 5px;
                background: $white;

                .img {
                    background: #209CDA;
                    min-width: 90px;
                    height: 90px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 5px;
                    position: relative;
                    left: -45px;
                }

                .content-block {
                    overflow: hidden;

                    h5 {
                        font-weight: 500;
                        font-size: 1.26rem;
                        line-height: 1.5rem;
                        color: #161D21;
                    }

                    p {
                        font-size: 0.93rem;
                        line-height: 1.2rem;
                        color: #444444;
                        margin-bottom: 0;
                        margin-top: 15px;
                        text-overflow: ellipsis;
                        max-height: 54px;
                    }
                }

                &:hover {
                    transform: translateY(-8px);
                    box-shadow: 3px 5px 16px rgba(0, 0, 0, 0.3);
                }
            }
        }

        .btn-holder {
            text-align: center;
            margin-top: 40px;

            a {
                margin: 0 8px;
            }
        }
    }

    /*     Section With Icons End   */

    /*    Feature Section    */
    .feature-section {
        padding: 60px 0 90px;
        background: #12151F url("/assets/images/home/bg_feature.png") no-repeat;
        background-position: center bottom;
        background-size: cover;
        position: relative;

        .container {
            z-index: 2;
            position: relative;

            h3 {
                font-weight: 600;
                font-size: 3.66rem;
                line-height: 4rem;
                color: $primary_color;
                text-transform: capitalize;
                margin-top: 0;
                margin-bottom: 30px;
            }

            p {
                font-weight: 400;
                font-size: 1rem;
                line-height: 1.4rem;
                color: $white;
            }

            .switcher {
                margin: 30px auto 0;

                label {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .switcher-nav {
                        display: block;
                        width: 70px;
                        height: 37px;
                        margin: 0;
                        border-radius: 50px;
                        background-repeat: no-repeat;
                        background-color: transparent;
                        background-size: 26px 26px;
                        border: 2px solid $white;
                        position: relative;

                        &:active {
                            &::before,
                            &::after {
                                transform: scale(1) translateY(-50%);
                            }
                        }

                        &:before,
                        &:after {
                            top: 50%;
                            left: 35px;
                            transform: translateY(-50%);
                            background: $white;
                            border-radius: 50%;
                            width: 26px;
                            height: 26px;
                            border: none;
                            margin: 0;
                        }

                        &:after {
                            background-color: transparent;
                        }
                    }

                    input[type=checkbox] {
                        &:checked {
                            & + {
                                .switcher-nav {
                                    background-position: 32px center;

                                    &:before, &:after {
                                        top: 50%;
                                        left: 7px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .themes {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 40px;

            .platform-container {
                background: rgba(255, 255, 255, 0.1);
                position: relative;
                padding: 10px 8px 10px;

                .platforms-contain {
                    position: relative;
                    overflow: hidden;
                    width: 800px;
                    height: 376px;
                    /*background: url("/assets/images/home/platforms_placeholder.jpg") no-repeat;
                    background-size: contain;*/
                    figure {
                        background-image: url("/assets/images/home/dark_platform.jpg");
                        background-size: cover;
                        font-size: 0;
                        height: 100%;
                        margin: 0;
                        position: relative;
                        width: 100%;
                        #compare {
                            background-image: url("/assets/images/home/light_platform.jpg");
                            background-size: cover;
                            bottom: 0;
                            border-right: 5px solid rgba(255,255,255,0.7);
                            box-shadow: 10px 0 15px -13px #000;
                            height: 100%;
                            max-width: 98.6%;
                            min-width: 0.6%;
                            overflow: visible;
                            position: absolute;
                            width: 50%;
                            transition: all 0.3s linear;

                            &::before {
                                background: url("/assets/images/home/drag.png") no-repeat scroll center center transparent;
                                background-size: contain;
                                content: close-quote;
                                float: right;
                                height: 100%;
                                margin-right: -54px;
                                position: relative;
                                top: 0;
                                width: 100px;
                            }
                        }
                    }

                    @keyframes compare_animation {
                        0% {width: 0%; }
                        50% {width: 80%; }
                        100% {width: 50%; }
                    }
                    @-webkit-keyframes compare_animation {
                        0% {width: 0%; }
                        50% {width: 80%; }
                        100% {width: 50%; }
                    }

                    input#slider {
                        -moz-appearance: none;
                        -webkit-appearance: none;
                        border: none;
                        background: transparent;
                        cursor: col-resize;
                        height: 100vw;
                        left: 0;
                        margin: 0;
                        outline: none;
                        padding: 0;
                        position: relative;
                        top: -100vw;
                        width: 100%;
                        z-index: 3;

                        &::-moz-range-track {
                            background: transparent;
                        }

                        &::-ms-track {
                            border: none;
                            background-color: transparent;
                            height: 100vw;
                            left: 0;
                            outline: none;
                            position: relative;
                            top: -100vw;
                            width: 100%;
                            margin: 0;
                            padding: 0;
                            cursor: col-resize;
                            color: transparent;
                        }

                        &::-ms-fill-lower {
                            background-color: transparent;
                        }

                        &::-webkit-slider-thumb {
                            -webkit-appearance: none;
                            height: 100vw;
                            width: 0.5%;
                            opacity: 0;
                        }

                        &::-moz-range-thumb {
                            -moz-appearance: none;
                            height: 100vw;
                            width: 0.5%;
                            opacity: 0;
                        }

                        &::-ms-thumb {
                            height: 100vw;
                            width: 0.5%;
                            opacity: 0;
                        }

                        &::-ms-tooltip {
                            display: none;
                        }
                    }

                    input[type=range] + .thumb {
                        background: transparent;
                    }
                }
            }

            &.aos-animate #compare {
                animation: compare_animation 2s 1 normal ease-in-out 0.1s;
            }
        }
    }

    /*    Feature Section End    */

    /*    Carousel Section    */
    .carousel-section {
        background: #E5E5E5;
        padding: 3rem 0 5.3rem;

        p {
            font-weight: 400;
            font-size: 1rem;
            line-height: 1.4rem;
            color: $font_color;
        }

        .carousel-holder {
            position: relative;
            display: flex;

            .carousel {
                height: 37rem;
                margin-top: 1rem;

                .carousel-item {
                    width: 27rem;
                    height: 33rem;
                    opacity: 1 !important;
                    background: #fff;
                    box-shadow: 0.3rem 0.6rem 1.2rem rgba(0, 0, 0, 0.1);
                    text-align: left;
                    box-sizing: border-box;
                    display: flex;
                    flex-direction: column;
                    align-items: stretch;
                    justify-content: space-evenly;

                    .carousel-img {
                        position: relative;
                        font-size: 0;
                        overflow: hidden;

                        &:after, &:before {
                            content: "";
                            background: rgba(0, 0, 0, 0.6);
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            left: 0;
                            top: 0;
                        }

                        &:before {
                            background: rgba(255, 255, 255, 0.5);
                            transition: transform 0.6s;
                            transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -110%, 0);
                            z-index: 1;
                        }

                        img {
                            width: 100%;
                            position: relative;
                            width: -webkit-calc(100% + 60px);
                            width: calc(100% + 60px);
                            opacity: 1;
                            transition: opacity 0.35s, transform 0.35s;
                            transform: translate3d(-30px, 0, 0) scale(1.12);
                            backface-visibility: hidden;
                        }
                    }

                    .carousel-content {
                        padding: 2rem 2.6rem;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        position: relative;

                        &:after {
                            content: "";
                            background: $primary_color;
                            width: 0.4rem;
                            height: 11.87rem;
                            position: absolute;
                            left: 0;
                            top: 50%;
                            transform: translateY(-50%);
                            -webkit-transition: all 400ms cubic-bezier(0, 0.208, 0.73, 1.075);
                            -moz-transition: all 400ms cubic-bezier(0, 0.208, 0.73, 1.075);
                            -o-transition: all 400ms cubic-bezier(0, 0.208, 0.73, 1.075);
                            transition: all 400ms cubic-bezier(0, 0.208, 0.73, 1.075);
                        }

                        &:before {
                            content: "";
                            position: absolute;
                            z-index: -1;
                            left: 0;
                            right: 100%;
                            bottom: 0;
                            background: $primary_color;
                            height: 0.4rem;
                            transition-property: right;
                            transition-duration: 0.3s;
                            transition-timing-function: ease-out;
                        }

                        &:hover {
                            &:after {
                                height: 100%;
                            }

                            &:before {
                                right: 0;
                            }
                        }

                        .content {
                            h5 {
                                font-weight: 400;
                                font-size: 1.8rem;
                                line-height: 2rem;
                                color: #494747;
                                margin-top: 0;
                            }

                            p {
                                font-weight: 300;
                                font-size: 1rem;
                                line-height: 1.2rem;
                                color: #494747;
                            }
                        }

                        .btn-holder {
                            margin-top: 2.6rem;
                            text-align: left;

                            a {
                                font-weight: 500;
                                font-size: 1rem;
                                line-height: 1.2rem;
                                color: #484848;
                                transition: all 0.5s;

                                &:hover {
                                    color: $primary_color;
                                }
                            }
                        }
                    }

                    &:hover {
                        .carousel-img {
                            img {
                                transform: translate3d(0, 0, 0) scale(1);
                            }

                            &:before {
                                transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 110%, 0);
                            }
                        }
                    }

                    &.active {
                        .carousel-content {
                            .btn-holder {
                                a {
                                    color: #323232;

                                    &:hover {
                                        color: $primary_color;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .controls-holder {
                position: absolute;
                top: 50%;
                width: 100%;
                display: flex;
                justify-content: space-between;
                left: 50%;
                transform: translate(-50%);

                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    transition: 0.5s;
                }

                .prev-arrow {
                    opacity: 0.7;

                    &:hover {
                        opacity: 1;
                        transform: translateX(-5px);
                    }
                }

                .next-arrow {
                    opacity: 0.7;

                    &:hover {
                        opacity: 1;
                        transform: translateX(5px);
                    }
                }
            }
        }

        .btn-holder {
            text-align: center;
            margin-top: 40px;
        }
    }

    /*    Carousel Section End    */

    /*    Platform Section    */
    .platform-section {
        background: url("/assets/images/home/bg_platform.jpg")center no-repeat;
        padding: 80px 0;
        background-size: cover;
        h3 {
            font-weight: 500;
            font-size: 3.66rem;
            line-height: 4rem;
            color: $white;
            margin: 0;
        }
        .platform {
            margin-top: 190px;
            position: relative;
            img {
                width: 100%;
            }
            .info {
                position: absolute;
                li {
                    position: relative;
                    .title {
                        font-weight: 500;
                        font-size: 1.2rem;
                        line-height: 1.6rem;
                        color: $primary_color;
                        position: relative;
                    }
                    p {
                        font-weight: 400;
                        font-size: 1rem;
                        line-height: 1rem;
                        color: $white;
                    }
                }
                &.left_info {
                    left: 54px;
                    top: 10px;
                    width: 20%;
                    ul {
                        li {
                            text-align: right;
                            &:first-child {
                                padding-bottom: 170px;
                            }
                        }
                    }
                }
                &.center_info {
                    left: 50%;
                    top: -100px;
                    transform: translateX(-50%);
                    ul{
                        li{
                            position: relative;
                            &:first-child {
                                padding-right: 133px;
                                width: 70%;
                                top: -50px;
                            }
                            &:last-child {
                                width: 42%;
                                position: absolute;
                                right: -64px;
                                top: 12%;
                            }
                        }
                    }
                }
                &.right_info {
                    right: 62px;
                    top: 47px;
                    width: 18%;
                    ul{
                        li{
                            position: relative;
                            &:first-child {
                                padding-bottom: 133px;
                            }
                        }
                    }

                }
            }
        }
        .btn-holder {
            margin-top: 80px;
            a {
                text-align: center;
                padding: 14px 20px;
                margin: 0 5px;
                &:after {
                    display: none;
                }
            }
        }
    }
    /*    Platform Section End    */
}

/*    Home Page End    */
