/*    Inner Pages    */

body.inner_page {
    .header-container {
        width: 100%;

        #Header {
            position: absolute;
            background: #1B2131;
        }
    }
    #main {

        .inner_title {
            padding-top: 56px; //Header height compensation
            background: url("/assets/images/inner/inner-bg.jpg") center bottom no-repeat;
            background-size: cover;
            min-height: 200px;
            display: flex;
            align-items: center;

            .text-inner_title {
                font-weight: 500;
                color: $white;
                font-size: 2.46rem;
                line-height: 3rem;
                text-align: center;
                text-transform: capitalize;
            }
        }
        #breadcrumbs {
            margin-bottom: 1rem;
            .breadcrumbs {
                display: flex;
            }

            a {
                font-size: 0.8rem;
                font-weight: 300;
                color: $breadcrumbs_link;
                &.active, &:hover {
                    color: $breadcrumbs_current;
                }
                &.active {
                    font-weight: 500;
                    pointer-events: none;
                }
            }

            span {
                padding: 0 0.3rem;
            }

            .breadcrumb-separator {
                padding:0 1rem;
                color: $breadcrumbs_separator;
            }
        }
        .inner-list {
            ul{
                font-weight: 300;
                li {
                    position: relative;
                    padding-left: 20px;
                    margin-bottom: 10px;

                    &:before {
                        content: "●";
                        color: $primary_color;
                        left: 0;
                        top: -2px;
                        position: absolute;
                    }
                }
            }

        }
        .main_btn {
            color: $main_btn;
            &:hover {
                color: $main_btn;
            }
        }

        img {
            max-width: 100%;
        }
        .centered-nav {
            .nav-menu {
                background: #E9E9E9;
                box-shadow: none;
                .navbar-nav-menu {
                    text-align: center;
                    li {
                        display: inline-block;
                        transition: all .5s;
                        a {
                            font-weight: 400;
                            font-size: 1rem;
                            line-height: 1.3rem;
                            padding: 17px 25px;
                            color: $secondary_menu_font_color;
                            display: block;

                            &:hover {
                                text-shadow: 0 0 1px #000;
                            }

                            &.active {
                                font-weight: 700;
                                color: $white;
                                position: relative;
                                z-index: 1;
                                &:before {
                                    content: "";
                                    width: 100%;
                                    height: 111%;
                                    background: $primary_color;
                                    position: absolute;
                                    border-radius: 3px;
                                    left: 0;
                                    top: -4px;
                                    z-index: -1;
                                }
                            }
                        }
                    }
                    &.pinned {
                        animation: slide-down 0.3s;
                        z-index: 1;
                        margin-top: 35px;
                        background: #E9E9E9;
                        width: 100%;
                        left: 0;

                        &~ div.navbar_compensator  {
                            margin-top:53px;
                        }
                    }
                }
            }
        }
        .holder-content {
            position: relative;
            padding-bottom: 5rem;
            margin-top: 0;
            &:before {
                content: "";
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                width: 34%;
                min-height: 100%;
                background: #E5E5E7;
                z-index: -1;
            }

            .left_sidebar {
                .pin-bottom {
                    transform: translateY(-100%);
                }
            }

            .navbar {
                width: 20.3rem;
                .navbar-nav-menu {
                    margin-top: 3.3rem;
                    text-align: center;
                    width: 20.3rem;

                    a {

                        font-weight: 400;
                        display: block;
                        padding: 0.8rem 0;
                        font-size: 1rem;
                        transition: color .2s;
                        border-bottom: 1px solid #DDDDDE;
                        text-align: left;

                        &:hover {
                            color: $secondary_color;
                        }

                        &.active {
                            font-weight: 700;
                            font-size: 1.2rem;
                            pointer-events: none;
                        }
                    }
                }
            }

        }
        .full-content {
            padding-bottom: 5rem;
        }
        .account-table {
            overflow: hidden;

            tr {
                border-bottom: 1px solid $white;

                td, th {
                    padding: 10px;
                    text-align: center;
                    border-radius: 0;

                    &:first-child {
                        text-align: left;
                    }
                }

                td:not(:first-child) {
                    background: #e9e8e8;
                    border-right: 5px solid #f2f2f2;
                }
            }

            .check {
                color: green;
            }

            .cross {
                color: red;
            }

            thead {
                font-size: 1.2rem;
                color: $white;
                background: $primary_color;
            }

            tbody {
                background: #f2f2f2;
            }

            .clean-th {
                padding: 0;
            }
        }
        ::-webkit-input-placeholder {
            color: $primary_color;
        }

        ::-moz-placeholder {
            color: $primary_color;
        }

        :-ms-input-placeholder {
            color: $primary_color;
        }

        :-moz-placeholder {
            color: $primary_color;
        }
        /* CONTACT US PAGE START */
        .contact-container {
            input[type=text],
            input[type=email] {
                border: 1px solid $primary_color;
                text-indent: 1.3rem;
                height: 3rem;
                width: 100%;
                margin-bottom: 5px;
            }

            textarea {
                min-height: 10rem;
                padding-top: 1rem;
                padding-left: 1.3rem;
                border: 1px solid $primary_color;
            }

            ::placeholder {
                color: #3B3B3B;
                font-size: 0.8rem;
            }
            #contact_button_container {
                width: 100%;

                .blockMsg {
                    width: 100% !important;
                    height: 100% !important;
                    left: 0 !important;
                    background-color: #969696 !important;
                }
                #contact_button {
                    color: #FFF;
                    background-color: $primary_color;
                    border: 3px solid $primary_color;
                    width: 100%;
                    padding: 1rem 0;
                    font-weight: 500;
                    font-size: 1.1rem;
                    cursor: pointer;
                    transition: all 300ms;

                    &:hover, &:active {
                        color: $primary_color;
                        background-color: transparent;
                        border: 3px solid $primary_color;
                    }
                }
            }
            .message-placeholder {
                min-height: 3rem;
                padding-top: 1rem;
            }

            .send_form_fail,
            .send_form_success {
                display: none;
                color: #FFF;
                min-height: 3rem;
                line-height: 3rem;
                text-align: center;
            }

            .send_form_fail {
                background-color: #d66868;
            }

            .send_form_success {
                background-color: #3bb139;
            }

            #throbber {
                div {
                    justify-content: center;
                }

                h3 {
                    justify-content: center;
                    font-size: 2rem;
                    line-height: 2rem;
                    text-indent: 20px;
                    margin: auto 0;
                }

                img {
                    margin: auto 0;
                }
            }
        }
        /* CONTACT US PAGE END */
        /* GLOSSARY PAGE */
        .letter-list-wrap {
            .letters-list {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                margin: 10px 0 40px 0;
                list-style: none;
                padding: 20px 0;
                .letter-element {
                    &:before {
                        display: none;
                    }
                    .letter-link {
                        font-weight: 700;
                        text-transform: uppercase;
                        font-size: 1.4rem;
                        display: flex;
                        justify-content: center;
                        width: 40px;
                        height: 40px;
                        flex-direction: column;
                        text-align: center;

                        &:hover {
                            color: $primary_color;
                        }

                        &.active {
                            color: $white;
                            background: $primary_color;
                            border-radius: 6px;
                        }
                    }
                    &.disabled {
                        .letter-link {
                            pointer-events: none;
                            color: rgba(0, 0, 0, 0.3);
                        }
                    }
                }
            }

            &.pinned {
                animation: slide-down 0.3s;
                background: #F9F9F9;
                width: 100%;
                left: 0;
                z-index: 3;
                -webkit-box-shadow: 0 3px 5px 1px rgba(0,0,0,0.25);
                -moz-box-shadow: 0 3px 5px 1px rgba(0,0,0,0.25);
                box-shadow: 0 3px 5px 1px rgba(0,0,0,0.25);

                .letters-list {
                    padding: 20px 0 10px 0;
                    margin: 0 auto;
                    max-width: 1300px;
                }

                &~ .letter-list_compensator {
                    margin-top: 120px;
                }
            }
        }
        .glossary-content {
            ul {
                li {
                    padding-left: 0;
                    margin-bottom: 0;
                    &:before {
                        display: none;
                    }
                }
            }
            .glossary-table {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                margin-bottom: 40px;
                outline: none;
                .glossary-letter {

                    font-weight: 700;
                    font-size: 1.6rem;
                    line-height: 2rem;
                    color: $primary_color;
                    text-transform: uppercase;
                }
                .glossary-column {
                    width: 100%;
                    h3 {
                        font-weight: 500;
                    }
                    .collapsible {
                        border: none;
                        box-shadow: none;
                        li {
                            .collapsible-header {

                                background-color: transparent;
                                border-bottom: 1px solid #D9D9D9;
                                font-size: 1rem;
                                line-height: 1.33rem;
                                font-weight: 400;
                                position: relative;
                                padding-left: 30px;
                                &:before {
                                    content: "";
                                    background: url("/assets/images/inner/glossary_arrow.svg") no-repeat;
                                    width: 10px;
                                    height: 10px;
                                    position: absolute;
                                    left: 0;
                                    top: 46%;
                                    transform: translateY(-50%);
                                    transition: all .5s;
                                }
                            }
                            .collapsible-body {
                                font-size: 1rem;
                                line-height: 1.4rem;
                                font-weight: 400;
                                border-bottom: none;
                                padding: 0 0 15px 30px;
                            }
                        }

                        li.active {
                            border-bottom: 1px solid #d9d9d9;
                            .collapsible-header {
                                font-weight: 700;
                                border-bottom: none;
                                &:before {
                                    -webkit-transform: rotate(90deg);
                                    -moz-transform: rotate(90deg);
                                    -ms-transform: rotate(90deg);
                                    -o-transform: rotate(90deg);
                                    transform: rotate(90deg);
                                }
                            }
                        }
                    }
                }
            }
        }
        /* GLOSSARY PAGE END */
        /* FAQ PAGE */
        .faq-content {
            margin-top: 30px;
            .faq-column {
                .collapsible {
                    border: none;
                    box-shadow: none;
                    .toggle-wrap {
                        background: #F3F3F3;
                        margin-bottom: 10px;
                        .collapsible-header {
                            font-weight: 400;
                            font-size: 100%;
                            line-height: 1.4rem;
                            border-bottom: 1px solid $white;
                            background-color: transparent;
                            padding: 1rem 2rem 1rem 1rem;
                            position: relative;
                            transition: all .3s;
                            &:after {
                                content: "+";
                                font-size: 1.5rem;
                                line-height: 1.8rem;
                                color: $primary_color;
                                position: absolute;
                                right: 15px;
                                top: 50%;
                                transform: translate(0, -50%);
                            }
                        }
                        .collapsible-body {

                            font-weight: 400;
                            font-size: 0.93rem;
                            line-height: 1.4rem;
                            padding: 1rem 1rem 2rem;
                            border-bottom: none;
                        }
                        &.active {
                            .collapsible-header {
                                font-size: 110%;
                                text-decoration: underline;
                                &:after {
                                    content: "-";
                                }
                            }
                        }
                    }
                }
            }
        }
        /* FAQ PAGE END */

        /* BLOG PAGE */
        .blog_carousel {
            position: relative;

            .carousel {
                height: 500px;

                .carousel-item {
                    width: 45%;
                    height: 400px;
                    opacity: 1 !important;

                    img {
                        width: 100%;
                        height: auto;
                        object-fit: cover;
                        max-height: 400px;
                    }

                    .carousel_caption,
                    .carousel_excerpt{
                        position: absolute;

                        width: 100%;
                        background-color: rgba(255, 255, 255, 0.86);
                        padding: 1rem;
                    }

                    .carousel_caption {
                        top: 0;
                        text-align: center;
                    }

                    .carousel_excerpt {
                        bottom: 0;
                        min-height: 3rem;
                    }
                }
            }

            .controls-holder {
                position: absolute;
                top: 50%;
                width: 28%;
                display: flex;
                justify-content: space-between;
                transform: translateY(-50%);
                z-index: 9;
                height: 100%;
                cursor: pointer;

                svg {
                    position: absolute;
                    path {
                        fill: $primary_color;
                    }
                }

                &.left {
                    left: 0;
                    svg {
                        margin-right: 0;
                        margin-left: auto;
                        left: 15%;
                    }
                }

                &.right {
                    right: 0;
                    svg {
                        right: 15%;
                    }
                }

                .arrow {
                    opacity: 0.9;
                    transition: 0.5s;
                    display: flex;
                    align-items: center;
                    height: 100%;
                    width: 100%;
                    position: relative;

                    &:hover {
                        opacity: 1;
                        transform: translateX(-5px);
                    }
                }
            }
        }

        #categories {
            margin: 30px 0;
            .cat-nav {
                background-color: transparent;
                box-shadow: none;
                margin-bottom: 30px;
                ul {
                    display: flex;
                    justify-content: center;
                    li {
                        padding: 10px;

                        a {
                            color: #242b3e;
                            background-color: #e9e9e9;

                            .badge {
                                font-weight: 600;
                                color: white;
                                min-width: 1.5rem;
                                height: 2rem;
                                line-height: 2rem;
                                background-color: #ee6e73;
                                border-radius: 4px;
                                box-sizing: content-box;
                            }
                            &:hover {
                                color: $links_hover;
                            }
                        }
                    }
                }
            }
        }


        .blog_tiles {
            position: relative;
            padding: 50px 0 0 0;

            &:before {
                content: "";
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-image: linear-gradient(to bottom, #f4f4f4, #f7f7f7, #f9f9f9, #fcfcfc, #ffffff);
                box-shadow: inset 0 8px 11px -1px rgba(0,0,0,0.1);
                z-index: -1;
            }
            ul {
                align-items: center;
                flex-wrap: wrap;
                justify-content: space-between;
                padding-top: 30px;

                li {
                    background: #F3F3F3;
                    margin-bottom: 40px;
                    transition: 0.5s;
                    width: 48.5%;
                    justify-content: space-between;

                    .picture {
                        width: 35%;
                        position: relative;
                        display: flex;
                        align-items: center;

                        img {
                            width: 100%;
                            height: auto;
                        }
                        &:before {
                            content: "";
                            display: block;
                            position: absolute;
                            left: 0;
                            top: 0;
                            bottom: 0;
                            width: 100%;
                            height: 100%;
                            background: rgba(32, 32, 32, 0.79);
                            transition: 0.5s;
                            opacity: 0;
                        }

                        .more {
                            color: $white;
                            font-size: 1rem;
                            font-weight: 700;
                            padding: 7px 0;
                            text-align: center;
                            position: absolute;
                            bottom: 0;
                            left: 50%;
                            transform: translate(-50%, 50%);
                            border: 1px solid $white;
                            transition: 0.5s;
                            opacity: 0;
                            min-width: 90%;
                            border-radius: 3px;
                        }

                    }
                    .description {
                        width: 63%;
                        padding: 10px;
                        box-sizing: border-box;

                        .title {
                            font-size: 1.5rem;
                            line-height: 1.1;
                            font-weight: 500;
                            position: relative;
                            padding-bottom: 10px;
                            margin-bottom: 14px;
                            min-height: 4.2rem;

                            &:before {
                                content: "";
                                display: block;
                                position: absolute;
                                left: 0;
                                bottom: 0;
                                width: 100px;
                                height: 2px;
                                background: $main_btn;
                                transition: 0.5s;

                            }
                        }

                        .excerpt {
                            color: #5C5B5B;
                        }
                    }
                    &:hover {
                        background: $white;
                        box-shadow: 3px 5px 11px rgba(0,0,0,0.1);

                        .picture {

                            .more {
                                opacity: 1;
                                bottom: 50%;

                                &:hover {
                                    background: $main_btn;
                                    border: 1px solid transparent;
                                }
                            }
                            &:before {
                                opacity: 1;
                            }
                        }
                        .description {

                            .title {

                                &:before {
                                    width: 95%;
                                }
                            }
                        }
                    }
                }
            }
        }

        .pagination_container {
            background-color: transparent;
            width: 300px;
            text-align: center;
            box-shadow: none;
            margin: 0 auto 40px;

            ul.pagination {
                li {
                    height: 40px;
                    width: 40px;

                    a {
                        border-radius: 4px;

                        &.active {
                            background-color: #ee6e73;
                            color: white;
                        }

                        &.disabled {
                            color: #C1C1C1;
                            pointer-events: none;
                        }
                    }
                }
            }
        }
        /* BLOG PAGE END */
    }

    /* SINGLE POST START */

    &.post_page {
        .post_img {
            height: 300px;
        }

        .posted_on {
            float: right;
        }

        .posts_nav {
            font-size: 1.1rem;
            font-weight: 500;

            .pull_left {
                text-align: left;
                float: left;
            }

            .pull_right {
                text-align: right;
                float: right;
            }
        }
    }

    /* SINGLE POST END */


    /* Category list START */
    &.category_list #main {
        .panel-body {
            display: flex;
            & > img {
                max-width: 320px;
                margin-right: 20px;
                object-fit: scale-down;
            }
        }
    }
    /* Category list END */


}
/*    Inner Pages End    */

