/* RESPONSIVE START */
/* DESKTOP START */
@media only screen and (min-width: 1421px) and(max-width: 1920px) {
    body {
        #Header {
            nav {
                .nav-wrapper {
                    width: 98%;
                }
            }
        }

        #panda-forex-clock {
            display: none;
        }

        &.homepage {
            .top-hero-screen {

                .hero-screen-holder {
                    .video-holder {
                        video {
                            height: 420px;
                        }
                    }
                }
            }
        }
    }
}

/* DESKTOP END */

/* LAPTOP START */

@media only screen and (max-width: 1420px) {
    html {
        font-size: 14px;
        body {

            #Header {
                nav {
                    .nav-wrapper {
                        max-width: 100%;
                        display: inline-block;

                        .navigation-user-action-container {
                            margin-top: 6px;
                        }
                    }
                }
            }

            .container {
                max-width: 1100px;
                h3 {
                    font-size: 2.2rem;
                }
            }
            .main_btn,
            .secondary_btn {
                min-width: 180px;
            }
            &.homepage {
                .top-hero-screen {

                    .container {
                        width: 90vw;

                        .hero-screen-content-holder {

                            .parallax-content {

                                .c-box {

                                    .left-content-box {

                                    }

                                    .right-content-box {
                                    }
                                }
                            }
                        }
                    }
                }

                .slider-carousel {
                    padding: 60px 0 80px;

                    .controls-slider-carousel {
                        width: 45%;
                    }
                }
                .arrows-section,
                .accounts-section,
                .assets-section,
                .additional-info-with-images,
                .mobile-section,
                .app-section,
                .advantages-section,
                .platform-section {
                    padding: 60px 0;
                }
                .arrows-section {
                    h3 {
                        font-size: 4rem;
                        line-height: 4.4rem;
                    }
                }
                .assets-section {
                    h3 {
                        font-size: 4rem;
                        line-height: 4.4rem;
                    }
                }
                .app-section {
                    background-position: 123% bottom;
                }
                .carousel-section {
                    padding: 2rem 0;
                    .carousel-holder .carousel .carousel-item {
                        width: 21rem;
                        .carousel-content {
                            .content {
                                h5 {
                                    font-size: 1.6rem;
                                }
                            }
                        }
                    }
                }
                .platform-section {
                    h3 {
                        font-size: 3rem;
                        line-height: 3.4rem;
                    }
                    .platform {
                        .info.left_info {
                            left: 0;
                            top: -2px;
                            width: 26%;
                            ul {
                                li {
                                    &:after {
                                        left: 390px;
                                    }
                                    &:first-child {
                                        padding-bottom: 90px;
                                    }
                                }
                            }
                        }
                        .info.right_info {
                            top: 25px;
                            ul {
                                li {
                                    &:before {
                                        width: 100px;
                                        left: -122px;
                                    }
                                    &:after {
                                        left: -126px;
                                    }
                                    &:first-child {
                                        padding-bottom: 50px;
                                    }
                                }
                            }
                        }
                        .info.center_info {
                            top: -116px;
                            ul {
                                li {
                                    &:first-child {
                                        width: 80%;
                                        .title {
                                            &:after {
                                                top: 100px;
                                                right: 23%;
                                            }
                                            &:before {
                                                top: 106px;
                                                right: 25%;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* LAPTOP END */


/* TABLET START */
@media only screen and (max-width: 1024px) {
    html body {

        .mobile-only {
            display: initial !important;
        }
        .desktop-only {
            display: none !important;
        }

        #slide-out {
            width: 100vw;
            .mobile-hide-overlay .user_actions_mobile {
                display: flex;
            }
        }

        #demo_site_message {
            text-align: justify;
        }

        .modal-content {
            width: 100%;

            iframe {
                min-height:  400px;
            }
        }

        &.inner_page {
            #main {
                .holder-content:before {
                    display: none;
                }

                #breadcrumbs a {
                    font-size: 1rem;
                }

                .letter-list-wrap {

                    .letters-list {
                        justify-content: flex-start;
                        flex-wrap: nowrap;
                        list-style: none;
                        overflow-x: scroll;
                    }

                    &.pinned {
                        &:before,
                        &:after {
                            content: '';
                            position: absolute;
                            height: 100%;
                            width: 10%;
                            opacity: .35;
                            top: 0;
                            z-index: -1;
                        }

                        &:before {
                            background-image: linear-gradient(to right, #000000b0, white);
                            left: 0;
                        }

                        &:after {
                            background-image: linear-gradient(to left, #000000b0, white);
                            right: 0;
                        }
                    }
                }
            }
        }
        &.homepage {
            .top-hero-screen {
                .container {
                    width: 90vw;
                }
            }

            .carousel-section .carousel-holder .carousel .carousel-item {
                width: 20rem;
                .carousel-content {
                    padding: 2rem 2rem;
                }
            }
            .feature-section {
                display: none;
            }

            .slider-carousel {
                &>.row:not(.full-width-holder) {
                    display: block;
                }
                .col.l8 {
                    padding: 0 0.75rem;
                    h3 {
                        font-size: 2.4rem;
                        line-height: 2.8rem;
                    }
                }
                .col.l2 {
                    .controls-slider-carousel {
                        position: static;
                        transform: none;
                        width: 7%;
                    }
                }
            }
            .carousel-section .carousel-holder .carousel .carousel-item {
                width: 100%;
            }
            .accounts-section {
                .accounts-holder {
                    .col {
                        .account {
                            margin: 0 0 15px;
                            &:hover {
                                transform: none;
                            }
                        }
                    }
                }
            }
            .advantages-section .btn-holder {
                margin: 30px 0;
                text-align: center;
            }
            .assets-section h3 {
                font-size: 3rem;
                line-height: 3.4rem;
            }
            .additional-info-with-images {
                h3 {
                    font-size: 3.2rem;
                    line-height: 3.6rem;
                }
                .col {
                    .description {
                        margin-bottom: 25px;
                        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
                    }
                }
            }
            .mobile-section {
                h3 {
                    font-size: 2.2rem;
                    line-height: 2.6rem;
                    span {
                        font-size: 3.2rem;
                        line-height: 3.6rem;
                    }
                }
                .col.l4 {
                    text-align: center;
                    img {
                        height: 420px;
                    }
                }
                .btn-holder {
                    text-align: center;
                }
            }
            .app-section {
                background-position: right 264px;
                background-size: contain;
                h3 {
                    font-size: 3.2rem;
                    line-height: 3.6rem;
                }
                .social-btn-holder {
                    a {
                        max-width: 120px;
                        img {
                            width: 100%;
                        }
                    }
                }
            }
            .section_with_icons {
                h3 {
                    font-size: 3rem;
                    line-height: 3.4rem;
                }
                .col.l6 {
                    .focus-block {
                        .content-block {
                            overflow: visible;
                            p {
                                max-height: 100%;
                            }
                        }
                    }
                }
            }
            .platform-section {
                .platform {
                    margin-top: 30px;
                    .info {
                        position: static;
                        ul {
                            li {
                                padding-bottom: 0 !important;
                            }
                        }
                        &.left_info {
                            width: 100%;
                            ul {
                                li {
                                    text-align: left;
                                    &:before,
                                    &:after {
                                        display: none;
                                    }
                                    .title {
                                        &:before,
                                        &:after {
                                            display: none;
                                        }
                                    }
                                }
                            }
                        }
                        &.center_info {
                            transform: none;
                            ul {
                                li {
                                    &:first-child {
                                        padding-right: 0;
                                        width: 100%;
                                        top: 0;
                                        &:before,
                                        &:after {
                                            display: none;
                                        }
                                    }
                                    &:last-child {
                                        position: static;
                                        width: 100%;
                                        &:before,
                                        &:after {
                                            display: none;
                                        }
                                    }
                                    .title {
                                        &:before,
                                        &:after {
                                            display: none;
                                        }
                                    }
                                }
                            }
                        }
                        &.right_info {
                            width: 100%;
                            ul {
                                li {
                                    &:before,
                                    &:after {
                                        display: none;
                                    }
                                    .title {
                                        &:before,
                                        &:after {
                                            display: none;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .col.offset-l3 {
                        margin-top: 30px;
                        text-align: center;
                        img {
                            width: 60%;
                        }
                    }
                }
            }
        }

        &.inner_page {
            #main .blog_tiles ul > li {
                width: 100%;
            }
        }

        #Footer .top-footer .footer-menu-holder .menu-footer-horizontal-menu li {
            padding: 0 10px;
        }

        #gdpr-cookie-message {
            bottom: 0;
            right: 0;
        }
    }
}
/* TABLET END */

/* MOBILE START */
@media only screen and (max-width: 768px) {
    html {
        body {

            .install-prompt-style {
                padding: 0 3vw;
                width: 100%;
                left: 50%;
                top: 59px;
                height: 60px;
                border-radius: 0;

                .logo_container {
                    display: none;
                }

                .message-cta {
                    height: 36px;
                    line-height: 36px;
                    margin: auto 20px;
                    white-space: pre;
                    font-size: 17px;
                }
            }

            #Header {
                .pull-left .logo img {
                    width: 100%;
                }

            }

            &.not_found {
                background-image: linear-gradient(to top, #131a24, #1c5f93);

                .not_found_wrapper {
                    padding-top: 5vh;
                    .nav-buttons {
                        flex-direction: column;
                    }
                    .col > * {
                        margin: 1rem 0;
                    }
                    .logo {
                        background-position-x: center;
                    }
                    h1 {
                        font-size: 2.6rem;
                    }
                }
            }
            .main_btn,
            .secondary_btn {
                font-size: 0.9rem;
            }
            &.homepage {
                .arrows-section,
                .accounts-section,
                .assets-section,
                .additional-info-with-images,
                .mobile-section,
                .app-section,
                .advantages-section,
                .platform-section {
                    padding: 40px 0;
                }
                h3 {
                    font-size: 1.6rem;
                    line-height: 2rem;
                }

                .top-hero-screen {
                    height: auto;
                    overflow: visible;
                    margin-bottom: 75px;

                    .container {
                        width: 90vw;
                        position: relative;
                        top: 85px;
                        transform: none;

                        .hero-screen-content-holder {
                            .parallax-top-left,
                            .parallax-top-right,
                            .parallax-bottom-left,
                            .parallax-bottom-right {
                                display: none;
                            }

                            .parallax-content {

                                .c-box {
                                    padding: 0;

                                    .left-content-box {
                                        text-align: center;

                                        h1 {
                                            font-size: 4rem;
                                            line-height: 4.1rem;
                                            text-align: center;
                                        }

                                        p {
                                            font-size: 2rem;
                                            line-height: 2.1rem;
                                            margin-bottom: 20px;
                                        }

                                        .cta_btn_holder {
                                            display: inline-block;
                                            margin-bottom: 45px;
                                        }
                                    }

                                    .right-content-box {
                                        .open-order-frame,
                                        .trading-platform-frame {
                                            display: none;
                                        }

                                        .mobile-phone {
                                            position: relative;
                                            margin: 0 auto;
                                            right: auto;

                                            .video-source {
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .slider-carousel {
                    .col.l8 {
                        h3 {
                            font-size: 2rem;
                            line-height: 2.4rem;
                            text-align: left;
                        }
                        p {
                            text-align: left;
                        }
                    }
                    .col.l2 {
                        .controls-slider-carousel {
                            width: 20%;
                        }
                    }
                }
                .arrows-section {
                    .row.center {
                        h3 {
                            font-size: 2.2rem;
                            line-height: 2.4rem;
                        }
                    }
                    .arrows-block-holder {
                        margin-top: 20px;
                        .arrows-block {
                            .icon-item {
                                &:after {
                                    width: 114px;
                                    background-size: contain;
                                    transform: translate(108%, -40px);
                                }
                                .icon-bg {
                                    width: 72px;
                                    height: 72px;
                                }

                                p {
                                    min-height: 6rem;
                                }
                            }
                        }
                        .btn-holder {
                            margin-top: 20px;
                            a {
                                font-size: 0.9rem;
                                padding: 10px;
                                margin: 0 5px;
                                min-width: 120px;
                            }
                        }
                    }
                }
                .accounts-section {
                    h3 {
                        font-size: 2.2rem;
                    }
                    .accounts-holder .col .account .account-header {
                        min-height: 100px;
                    }
                }
                .additional-info-with-images h3 {
                    font-size: 2rem;
                    line-height: 2.4rem;
                }
                .mobile-section {
                    h3 span {
                        font-size: 2.8rem;
                    }
                    .btn-holder {
                        margin-bottom: 20px;
                        a {
                            font-size: 0.9rem;
                            padding: 10px;
                            min-width: 115px;
                            &.main_btn {
                                margin-right: 10px;
                            }
                        }
                    }
                }
                .app-section {
                    background-position: 405px 252px;
                    h3 {
                        font-size: 2.4rem;
                        line-height: 2.8rem;
                    }
                }
                .section_with_icons {
                    h3 {
                        font-size: 2.2rem;
                        line-height: 2.4rem;
                    }
                    .btn-holder {
                        a {
                            font-size: 0.9rem;
                            padding: 10px;
                            margin: 0 5px;
                            min-width: 120px;
                            text-align: center;
                            &:after {
                                display: none;
                            }
                        }
                    }
                }
                .platform-section {
                    h3 {
                        font-size: 2rem;
                        line-height: 2.4rem;
                    }
                    .btn-holder {
                        a {
                            font-size: 0.9rem;
                            padding: 10px;
                            margin: 0 5px;
                            min-width: 120px;
                            text-align: center;
                        }
                    }
                    .platform .col.offset-l3 img {
                        width: 100%;
                    }
                }
            }
            &.inner_page {
                #main {
                    .inner_title {
                        min-height: 180px;
                        .text-inner_title {
                            font-size: 1.8rem;
                            line-height: 2.2rem;
                        }
                    }

                    .blog_carousel .carousel {
                        height: 250px;

                        .carousel-item {
                            width: 90%;
                            height: 220px;
                        }
                    }

                    .blog_tiles ul li a.d-flex {
                        flex-direction: column;

                        .picture,
                        .description {
                            width: 100%;
                        }
                    }

                    .posts_nav {
                        display: flex;
                        justify-content: space-between;
                        a {
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            &.prev {
                                margin-right: .5rem;
                            }

                            &.next {
                                margin-left: .5rem;
                            }
                        }
                    }
                }

                .cat-nav ul {
                    flex-direction: column;
                }
            }

            #Footer {
                #to-top-button {
                    display: none !important;
                }
                .top-footer {
                    .footer_logo {
                        padding: 5vw 0;

                        img {
                            width: 50vw;
                        }
                    }

                    .footer-menu-holder {
                        justify-content: center;
                        flex-direction: column;
                        .menu-footer-horizontal-menu {
                            flex-direction: column;
                            justify-content: center;
                            width: 100%;
                            li {
                                padding: 5px 0;
                                text-align: center;
                                width: 100%;
                                a {
                                    display: block;
                                    font-size: 1.3rem;
                                    padding: 3vw;
                                }
                            }
                        }
                    }
                }
                .bottom-footer {
                    padding-bottom: 20px;
                    text-align: center;
                }
            }
        }
    }
}

/* mobile table */
@media screen and (max-width: 480px) {
    html {
        font-size: 13px;

        body {
            h3 {
                font-size: 1.3rem;
                line-height: 1.8rem;
                margin-top: 0;
            }

            &.homepage {
                .top-hero-screen {
                    height: auto;
                    overflow: visible;
                    margin-bottom: 75px;

                    .container {
                        width: 90vw;
                        position: relative;
                        top: 85px;
                        transform: none;

                        .hero-screen-content-holder {
                            .parallax-top-left,
                            .parallax-top-right,
                            .parallax-bottom-left,
                            .parallax-bottom-right {
                                display: none;
                            }

                            .parallax-content {

                                .c-box {
                                    padding: 0;

                                    .left-content-box {
                                        text-align: center;

                                        h1 {
                                            font-size: 2rem;
                                            line-height: 2.1rem;
                                            text-align: center;
                                        }

                                        p {
                                            font-size: 1rem;
                                            line-height: 1.1rem;
                                            margin-bottom: 20px;
                                        }

                                        .cta_btn_holder {
                                            display: inline-block;
                                            margin-bottom: 25px;
                                        }
                                    }

                                    .right-content-box {
                                        .open-order-frame,
                                        .trading-platform-frame {
                                            display: none;
                                        }

                                        .mobile-phone {
                                            position: relative;
                                            margin: 0 auto;
                                            right: auto;
                                            width: 90%;

                                            .video-source {
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .carousel-section .carousel-holder {
                    .carousel .carousel-item .carousel-content .content h5 {
                        font-size: 1.4rem;
                        line-height: 1.8rem;
                    }

                    .controls-holder {
                        top: 10rem;
                        width: 90%;

                        a {
                            img {
                                filter: sepia(211%) brightness(100) saturate(0) hue-rotate(56deg);
                            }
                        }
                    }
                }

                .arrows-section .arrows-block-holder .arrows-block .icon-item:after {
                    display: none;
                }

                .advantages-section {
                    .btn-holder {
                        display: none;
                    }

                    .col.offset-l1 {
                        margin-top: 30px;
                    }
                }

                .assets-section h3 {
                    font-size: 2.2rem;
                    line-height: 2.6rem;
                }

                .app-section {
                    padding: 40px 0 220px;
                    background-position: right 120%;
                    background-size: 70%;

                    p {
                        padding-right: 0;
                    }

                    h3 {
                        font-size: 2rem;
                        line-height: 2.4rem;
                    }

                    .social-btn-holder {
                        display: flex;
                        a {
                            max-width: unset;
                            margin: 0 5%;
                        }
                    }
                }

                .section_with_icons {
                    .col.l6 {
                        .focus-block {
                            margin: 0 0 10px;
                            flex-direction: column;
                            text-align: center;

                            .img {
                                left: 0;
                            }
                        }
                    }
                }

                .slider-carousel .full-width-holder .carousel-holder .col .full-width-carousel .carousel-item {
                    width: 410px;
                }

                .slider-carousel .full-width-holder {
                    margin-top: 10px;
                }

                .controls-slider-carousel img {
                    height: 22px;
                }


            }

            &.inner_page {
                .inner-content {
                    table {
                        border: 0;

                        caption {
                            font-size: 1.3em;
                        }

                        thead {
                            border: none;
                            clip: rect(0 0 0 0);
                            height: 1px;
                            margin: -1px;
                            overflow: hidden;
                            padding: 0;
                            position: absolute;
                            width: 1px;
                        }

                        tr {
                            border-bottom: 3px solid #ddd;
                            display: block;
                            margin-bottom: .625em;
                        }

                        td {
                            border-bottom: 1px solid #ddd;
                            display: block;
                            font-size: .8em;
                            text-align: right;
                            min-height: 2rem;

                            &:before {
                                content: attr(data-label);
                                float: left;
                                font-weight: bold;
                                text-transform: uppercase;
                            }

                            &:last-child {
                                border-bottom: 0;
                            }
                        }
                    }
                }
            }

            #Footer {
                .footer-menu-holder {
                    align-items: center;
                    justify-content: space-between;
                    flex-direction: column;

                    .menu-footer-horizontal-menu {
                        flex-direction: column;
                        align-items: center;

                        li {
                            padding: 0 0.6rem 0.3rem;
                        }
                    }
                }

                .footer-information {
                    justify-content: center;
                }
            }
        }
    }

}
/* end mobile table */


/* MOBILE LANDSCAPE END */
@media only screen and (max-width: 360px) {
    html body {
        #slide-out .mobile-close {
            top: 1.3rem;
        }
        &.homepage {
            .carousel-section .carousel-holder .controls-holder {
                top: 7rem;
            }
            .advantages-section .advantage-holder p {
                font-size: 1rem;
                line-height: 1.2rem;
            }
            .arrows-section {
                .arrows-block-holder {
                    .arrows-block {
                        .icon-item p {
                            font-size: 0.9rem;
                        }
                    }
                }
            }
            .app-section {
                background-position: right 570px;
            }
            .slider-carousel .full-width-holder .carousel-holder .col .full-width-carousel .carousel-item {
                width: 360px;
            }
        }
    }
}

/* MOBILE END */

/* RESPONSIVE END */
