/*    Mobile Navigation (Slide-out)    */
    body:not(#trading-platform-page) .sidenav-toggle {
        display: block;
        margin: auto;;
        -webkit-transition: 0.2s ease-in-out;
        transition: 0.2s ease-in-out;
        z-index: 10;
    }

    .mobile_hamburger {
        -webkit-transition: 0.2s ease-in-out;
        transition: 0.2s ease-in-out;
        position: relative;
        width: 50px;
        height: 50px;
        padding: 10px;

        svg {
            display: block;
            position: relative;
            margin-top: 7px;
            //top: 0;
            //            //left: 0;
            width: 100%;
            height: auto;
            -webkit-transition: 0.2s ease-in-out;
            transition: 0.2s ease-in-out;

            rect {
                fill: $sidenav_controls;
            }
        }
    }


#slide-out {
    background-color: $sidenav_bg;
    padding: 0;
    overflow-y: hidden;
    width: 23%;
    z-index: 999;
    display: flex;
    flex-direction: column;
    height: 100%;

    .trade_button_container {
        display: none !important;
    }

    .sidenav-close {
        width: 5vw;
        height: 5vw;
        position: absolute;
        right: 10vw;
        top: 6vw;
        display: block;
        svg {
            fill: $sidenav_controls;
        }
    }

    .mobile-hide-overlay {
        overflow: auto;
        display: flex;
        flex-direction: column;
        .user_actions_mobile {
            display: flex;
            justify-content: space-between;
            padding: 0 10%;
            margin: 6vh 0 0;

            .cta_button {
                width: 48%;
                text-align: center;
                height: 37px;
                line-height: 37px;
                padding: 0;
            }
        }

        .sidenav-language-switcher {
            position: fixed;
            bottom: 2vh;
            left: 50%;
            transform: translateX(-50%);

            .lang_switcher_round {
                min-width: 150px;

                &:focus-within {
                    &:before {
                        content: '';
                        background-color: transparent;
                        position: absolute;
                        height: 100%;
                        width: 100%;
                        z-index: 9999;
                        left: 0;
                        top: 0;
                    }
                }

                .lang_name {
                    color: $sidenav_controls;
                }

                &:after {
                    border-right: 2px solid $header_nav_arrows;
                    border-bottom: 2px solid $header_nav_arrows;
                }

            }
        }

        .trade_button_container {
            text-align: center;
            margin-right: 0;
        }
        .menu {
            border: none;
            padding: 30px 0;
            max-height: 70vh;

            & > li {
                text-align: center;
                width: 100%;
                border: none;
                background: transparent;
                display: block;
                padding: 0 5vw;

                a {
                    font-weight: 300;
                    font-size: 1.2rem;
                    line-height: 1.6rem;
                    color: $white;
                    height: auto;
                    padding: 18px 30px;
                    display: block;
                    width: 100%;
                    position: relative;
                    border-bottom: 1px solid #1E2D3F;
                    &:hover {
                        background-color: transparent;
                    }
                }
            }
            > li.has_children {
                position: relative;
                &:before {
                    content: "";
                    background-color: transparent;
                    height: 48px;
                    width: 100%;
                    position: absolute;
                    left: 0;
                    top: 0;
                }

                & > a {
                    pointer-events: none;
                    &:after {
                        cursor: pointer;
                        content: '';
                        width: 7px;
                        height: 7px;
                        position: absolute;
                        right: 5vw;
                        top: 21px;
                        -webkit-transform: scale(1, 0.8) rotate(45deg);
                        transform: scale(1, 0.8) rotate(45deg);
                        border-left: none;
                        border-top: none;
                        border-right: 1px solid #FFF;
                        border-bottom: 1px solid #FFF;
                        transition: all 250ms;
                    }
                }

                &.topnav_blog > a {
                    pointer-events: auto;

                    &:after {
                        display: none !important;
                    }
                }
                &.open a:after {
                    transform: scale(1, .8) rotate(225deg);
                    top: 18px;
                    border-right: 2px solid $primary_color;
                    border-bottom: 2px solid $primary_color;
                }
                &.open {
                    > a {
                        font-weight: 600;
                        background: linear-gradient(180deg, #202F41 0%, #182432 100%);
                        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.16);
                        border-radius: 3px;
                        color: $primary_color;
                    }
                }
                .submenu {
                    padding: 0;
                    background: transparent;
                    li {
                        a {
                            color: $white;
                            font-size: 1.1rem;
                            padding: 5px 30px;
                            border: none;
                            line-height: 3rem;
                        }
                    }
                }
            }
        }
    }
    .logo {
        margin: 9px 30px;
        a {
            display: block;
            width: 230px;
            margin: 0;
            img {
                width: 100%;
            }
        }
    }
}

/*    Mobile Navigation (Slide-out) end    */
