.wrapper-spinner-pandats {
    position: absolute;
    z-index: 9999;
    margin-top: 0 !important;
    bottom: auto !important;
}

.noscroll {
    overflow: hidden;
    padding-right: 1rem;
}

.frx-dropdown-pandats.dropdown-expanded-pandats {
    z-index: 99;
}


#pts-forex-init-wrapper {
    height: 0;
}

body#trading-platform-page {

    #panda-forex-deposit-credit .forex-button-pandats.simple-button-pandats {
        border: 1px solid $dark_theme_accent;
        color: $dark_theme_text;
        background: transparent;
        transition: all 0.5s;
        background: $dark_theme_accent;
    }

    #platform-wrapper,
    #trading-platform,
    #tp-wrapper {
        width: 100%;
        min-height: 100%;
        height: 100%;
    }

    #tradingPlatform {
        height: calc(100vh - 60px);
        padding: 0.6rem;
        transition: background-color 1s;
        min-width: 100%;
        display: flex;
        margin: 0 auto;
        position: relative;
        width: calc(100% - 10px);
    }

    #Header {
        height: 60px;
        position: relative;
        z-index: unset;

        .tp-info-accounts {
            margin: auto 0 auto 3vw;
        }

        .tp-info-status {
            margin: auto 0;
        }

        #panda-forex-clock {
            margin-right: 4px;
        }

        .user-actions {
            min-width: 302px;
            display: flex;
        }
        .header_container {
            height: 100%;
            display: flex;
            justify-content: space-between;
            padding: 0 1vw 0 3vw;
        }

        .logo_container .logo {
            width: 162px;
            height: 60px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            display: block;
        }
    }

    &.theme-dark {

        .hamburger {
            svg {
                rect  {
                    fill: $dark_theme_sidenav_accent;
                }

                circle {
                    fill: $dark_theme_sidenav_bg;
                    stroke: $dark_theme_sidenav_accent;
                }
            }

            &:hover {
                box-shadow: 0 0 15px 3px transparentize($dark_theme_sidenav_accent, .5);
            }
        }

        #Trading_sidemenu {
            background-color: $dark_theme_sidenav_bg;
            border-right: 1px solid $dark_theme_sidenav_accent;
            box-shadow: 1px 0 15px 0 $dark_theme_sidenav_bg;
            .logo {
                background-image: url("/assets/images/logo.svg");
            }
            .localisation-title {
                .dropdown-trigger {
                    color: $dark_theme_sidenav_text;
                    &:hover {
                        background: transparentize($dark_theme_sidenav_accent, .8);
                    }
                    &:after {
                        background-color: $dark_theme_sidenav_accent;
                    }
                }
            }
            .nfp-lang-switcher {
                background-color: opacify($dark_theme_sidenav_bg, 1);

                &::-webkit-scrollbar {
                    background-color: $dark_theme_sidenav_accent;
                }

                &::-webkit-scrollbar-thumb {
                    background-color: $dark_theme_sidenav_accent;
                }

                li {
                    a {
                        color: $dark_theme_sidenav_text;
                    }

                    &:hover {
                        background: transparentize($dark_theme_sidenav_accent, .8);
                    }
                }
            }
            .menu {
                & > li:hover > a,
                & > li.active > a{
                    color: $dark_theme_sidenav_accent;
                }

                li {
                    a {
                        color: $dark_theme_sidenav_text;
                    }
                }

                &:hover {
                    color: $dark_theme_sidenav_accent;
                }

                .has_children {
                    .submenu {
                        &:before {
                            background: $dark_theme_sidenav_accent;
                        }
                    }

                    &.open {
                        ul {
                            background-color: #121213;
                            > li:hover a {
                                color: $dark_theme_sidenav_accent;
                            }
                        }

                        background-color: #121213;
                    }


                    &:after {
                        border-right: 2px solid $dark_theme_sidenav_accent;
                        border-bottom: 2px solid $dark_theme_sidenav_accent;
                    }
                }
            }
        }

        #Header{
            background-color: $dark_theme_bg;
            .logo_container a.logo {
                background-image: url("/assets/images/logo.svg");
            }

            .cmicon-wifi_tethering:before {
                color: $dark_theme_accent;
            }

            .user-actions {
                #panda-forex-login .mainpandats .simple-button-pandats.spinner-button-pandats,
                #panda-forex-signup .mainpandats .simple-button-pandats.forex-button-pandats,
                #panda-forex-clock .current-time-pandats {
                    color: $dark_theme_text;
                }

                #panda-forex-clock {
                    custom-select .frx-dropdown-content-pandats span {
                        background: $dark_theme_bg;
                        &.active-pandats {
                            background: $dark_theme_accent;
                            span {
                                background: $dark_theme_accent;
                            }
                        }
                    }
                }
                #panda-forex-menu {
                    .dropdown-pandats {
                        &:before {
                            border-bottom-color: $dark_theme_accent;
                        }
                    }
                    .button-pandats {
                        .icon-pandats {
                            &:before {
                                color: $dark_theme_text;
                            }
                        }
                        .user-name-pandats {
                            span.ng-star-inserted {
                                color: $dark_theme_text;
                            }
                        }
                    }
                }
            }


            #panda-forex-account-status .mainpandats li.equal-pandats,
            #panda-forex-account-status .mainpandats li.plus-pandats,
            #panda-forex-account-status .mainpandats li.pure-value {
                .value-pandats {
                    color: $dark_theme_accent;
                }

                &:after {
                    background: $dark_theme_accent;
                }
            }

            #panda-forex-menu .dropdown-pandats.menu-pandats li:hover,
            custom-select .frx-dropdown-content-pandats .item-pandats:hover {
                border-left: 3px solid $dark_theme_accent;
                color: $dark_theme_text;
                background: $dark_theme_accent;
            }

            .mainpandats .forex-button-pandats {
                border: 1px solid $dark_theme_accent;
                color: $dark_theme_accent;
                background: transparent;
                transition: all 0.5s;
            }
            custom-select .frx-dropdown-content-pandats span {
                color: $white;
                background: $secondary_color;
                border-bottom: $white;
            }
            #panda-forex-signup .mainpandats .popup-wrapper-pandats .signup-button-pandats,
            .mainpandats login-popup .popup-wrapper-pandats .col-left-pandats button {
                color: $white;
            }
        }

        .mainpandats login-popup .popup-wrapper-pandats .close-pandats {
            color: #FFFFFF;
        }

        #tradingPlatform {
            background-color: $dark_theme_bg;
        }
    }

    &.theme-white {

        .hamburger {
            svg {
                rect  {
                    fill: $white_theme_sidenav_accent;
                }

                circle {
                    fill:  $white_theme_bg;
                    stroke: $white_theme_sidenav_accent;
                }
            }

            &:hover {
                box-shadow: 0 0 15px 3px transparentize($white_theme_sidenav_accent, .5);
            }
        }

        #Trading_sidemenu {
            background-color: $white_theme_sidenav_bg;
            border-right: 1px solid $white_theme_sidenav_accent;
            box-shadow: 1px 0 15px 0 $white_theme_sidenav_bg;
            .logo {
                background-image: url("/assets/images/logo_dark.svg");
            }
            .localisation-title {
                .dropdown-trigger {
                    color: $white_theme_sidenav_text;
                    &:hover {
                        background: transparentize($white_theme_sidenav_accent, .8);
                    }
                    &:after {
                        background-color: $white_theme_sidenav_accent;
                    }
                }
            }
            .nfp-lang-switcher {
                background-color: opacify($white_theme_sidenav_bg, 1);

                li {
                    a {
                        color: $white_theme_sidenav_text;
                    }

                    &:hover {
                        background: transparentize($white_theme_sidenav_accent, .8);
                    }
                }
            }
            .menu {

                & > li:hover > a,
                & > li.active > a{
                    color: $white_theme_sidenav_accent;
                }

                li {
                    a {
                        color: $white_theme_sidenav_text;
                    }
                }

                &:hover {
                    color: $white_theme_sidenav_accent;
                }

                .has_children {
                    .submenu {
                        &:before {
                            background: $white_theme_sidenav_accent;
                        }
                    }

                    &.open {
                        ul {
                            background-color: desaturate(lighten(opacify($white_theme_sidenav_bg, 1), 3%), 30%);
                            > li:hover a {
                                color: $white_theme_sidenav_accent;
                            }
                        }

                        background-color: desaturate(lighten(opacify($white_theme_sidenav_bg, 1), 3%), 30%);
                    }


                    &:after {
                        border-right: 2px solid $white_theme_sidenav_accent;
                        border-bottom: 2px solid $white_theme_sidenav_accent;
                    }
                }
            }
        }

        #Header {


            .mainpandats .forex-button-pandats {
                border: 1px solid $white_theme_accent;
                color: $white_theme_accent;
                background: transparent;
                transition: all 0.5s;
            }


            .header_container {
                background: $white_theme_bg;

                #panda-forex-account-status .mainpandats li {
                    color: $white_theme_text;
                }

                .logo_container {
                    a.logo{
                        background-image: url("/assets/images/logo_dark.svg");
                    }
                }

                span.account-type-pandats,
                i.icon-pandats,
                #panda-forex-account-status .mainpandats li {
                    color: $white_theme_text;
                }
                #panda-forex-menu .button-pandats,
                #panda-forex-clock .frx-dropbtn-pandats.popup-pandats {
                    border: 1px solid $white_theme_accent;
                }
                #panda-forex-clock .current-time-pandats {
                    color: $white_theme_text;
                }
            }

            custom-select .frx-dropdown-content-pandats span {
                color: $white_theme_bg;
                background: $white_theme_accent;
                border-bottom: $white_theme_bg;
            }
            #panda-forex-clock {
                custom-select {
                    .frx-dropdown-content-pandats span {
                        color: $white_theme_text;
                        background: $white_theme_bg;
                        &.active-pandats {
                            border-left: 3px solid $white_theme_accent;
                            color: $white_theme_bg;
                            background: $white_theme_accent;
                            span {
                                background: transparent;
                                color: $white_theme_bg;
                            }
                        }
                        span {
                            background: $white_theme_bg;
                        }
                    }
                    .frx-dropbtn-pandats {
                        &:after {
                            top: 36%;
                        }
                    }
                }
            }
            .user-actions {
                #panda-forex-signup .mainpandats .simple-button-pandats.forex-button-pandats,
                #panda-forex-login .mainpandats .simple-button-pandats.spinner-button-pandats,
                #panda-forex-menu .button-pandats {
                    .icon-pandats {
                        &:before {
                            color: $white_theme_accent;
                        }
                    }
                    .user-name-pandats {
                        span.ng-star-inserted {
                            color: $white_theme_text;
                        }
                    }
                }
            }

            #panda-forex-menu .dropdown-pandats.menu-pandats li:hover,
            custom-select .frx-dropdown-content-pandats .item-pandats:hover {
                border-left: 3px solid $white_theme_accent;
                color: $white_theme_bg;
                background: $white_theme_accent;
            }

            #panda-forex-account-status .mainpandats li.equal-pandats,
            #panda-forex-account-status .mainpandats li.plus-pandats,
            #panda-forex-account-status .mainpandats li.pure-value {
                .value-pandats {
                    color: $white_theme_text;
                }

                &:after {
                    color: $white_theme_bg;
                }
            }
        }

        #tradingPlatform {
            background-color: $white_theme_bg;
        }
    }

    custom-select {
        .frx-dropbtn-pandats {
            &:after {
                border-right: 2px solid $dark_theme_accent;
                border-bottom: 2px solid $dark_theme_accent;
                border-left: none;
                border-top: none;
            }

            &.dropdown-expanded-pandats .frx-dropbtn-pandats:after {
                border-left: 2px solid $dark_theme_accent;
                border-top: 2px solid $dark_theme_accent;
                border-right: none;
                border-bottom: none;
            }
        }
    }



    /* SIDEMENU */

    .hamburger {
        cursor: pointer;
        height: 33px;
        position: absolute;
        top: 30px;
        transform: translate(-50%, -50%);
        width: 33px;
        border-radius: 50%;
        right: -73px;
        transition: all 0.5s;

        a {
            width: 100%;
            height: 100%;
            display: block;
        }

        &.sidenav-close {
            opacity: 0;
        }

        &.sidenav-trigger {
            opacity: 1;
        }
    }

    &.nav-active {

        &.theme-white .hamburger svg circle {
            fill: $white_theme_sidenav_bg;
        }

        &.theme-drk .hamburger svg circle {
            fill: $dark_theme_sidenav_bg;
        }

        #Trading_sidemenu {
            left: 0;
            z-index: 99;
        }

        .sidenav-close {
            z-index: 99;
            opacity: 1;
            right: -33px;
        }

        .sidenav-trigger {
            opacity: 0;
            transform: translate(-52px, -50%);
        }
    }

    .sidenav-overlay {
        z-index: 98;
    }

    #Trading_sidemenu {
        left: 0;
        width: 290px;
        transition: all 0.6s;
        position: fixed;
        height: 100%;
        z-index: 99;
        .logo {
            width: 60%;
            margin: auto;
            padding: 4vh 0;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100% auto;
            height: 60px;
        }
        .localisation-title {
            position: relative;
            text-align: center;
            margin: 3vh 0 4vh;
            .dropdown-trigger {
                display: block;
                width: 100%;
                font-size: 1rem;
                line-height: 1.5rem;
                text-transform: capitalize;
                transition: all .3s;
                &:after {
                    content: '';
                    display: block;
                    width: 85%;
                    height: 1px;
                    margin: 0 auto;
                }
            }
        }
        .nfp-lang-switcher {
            margin-top: 7vh;
            height: calc(100vh - 150px) !important;
            box-shadow: none;

            &::-webkit-scrollbar {
                width: 0;
            }

            &::-webkit-scrollbar-thumb {
                border-radius: 0;
            }

            li {
                padding: 0.3rem 0;
                min-height: unset;
                text-indent: 1.5vw;
                a {
                    font-size: 1rem;
                    line-height: 1.5rem;
                    text-transform: capitalize;
                    margin: 0;
                    padding: 0;
                    img {
                        margin-right: .3vw;
                        width: 20px;
                    }
                }
            }
        }
        .menu {
            overflow-y: scroll;
            height: calc(100vh - 77px);
            border: none;
            transition: all .3s;
            box-shadow: none;

            &::-webkit-scrollbar {
                width: 0;
            }

            li {
                transition: all 550ms;
                list-style: none;
                padding: 0.6rem 0;
                position: relative;
                background: transparent;
                display: block;
                border: none;

                a {
                    display: block;
                    margin-left: 25px;
                    font-size: 1rem;
                    line-height: 1.2rem;
                    transition: color .2s;
                    text-transform: uppercase;
                }
                .submenu {
                    li {
                        a {
                            text-transform: capitalize;
                        }
                    }
                }
            }

            .has_children {
                .submenu {
                    border: none;
                    background: transparent;
                    padding: .6rem 0 0 25px;
                    position: relative;
                    &:before {
                        content: "";
                        width: 1px;
                        height: 85%;
                        position: absolute;
                        left: 25px;
                        top: 1rem;
                    }
                }

                ul {
                    display: none;
                    animation: slide-down 0.3s;
                }

                &.open {
                    ul {
                        display: block;
                    }
                }

                &.open:after {
                    transform: scale(1, .8) rotate(225deg);
                }

                &:after {
                    cursor: pointer;
                    content: "";
                    width: 0.5rem;
                    height: 0.5rem;
                    position: absolute;
                    right: 0.6rem;
                    top: 1.13rem;
                    transform: scale(1, 0.8) rotate(45deg);
                    background: 0px center;
                    transition: all 250ms ease 0s;
                }
            }
        }

    }

    .switch {
        margin: auto 1vw auto auto;

        label {
            display: flex;
            flex-direction: column;
            align-items: center;
            input[type=checkbox]:not(:disabled) ~ .lever:active:before,
            input[type=checkbox]:not(:disabled).tabbed:focus ~ .lever::before {
                transform: scale(1) translateY(-50%);
            }
            .lever {
                display: block;
                width: 50px;
                height: 16px;
                margin: 0;
                border: 1px solid  $lever_border;
                border-radius: 10px;
                background-color: transparent;

                &:before,
                &:after {
                    display: none;
                }
                .slider {
                    position: absolute;
                    top: 50%;
                    left: 2px;
                    right: auto;
                    transform: translateY(-50%);
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    background-color: $lever_light_bg;
                    transition: all .3s;

                    .light,
                    .dark {
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        transition: filter .3s;
                        width: 25px;
                        height: 25px;
                         svg {
                             position: absolute;
                             left: 50%;
                             top: 50%;
                             transform: translate(-50%, -50%);
                             width: 20px;
                             height: 20px;
                         }
                    }

                    .light {
                        filter:opacity(1);
                        svg path {
                            fill: $lever_light;
                        }
                    }

                    .dark {
                        filter:opacity(0);
                        svg path {
                            fill: $lever_dark;
                        }
                    }
                }
            }

            input[type=checkbox] {
                &:checked {
                    & + {
                        .lever {
                            background-color: transparent;
                            .slider {
                                top: 50%;
                                right: auto;
                                left: 16px;
                                background-color: $lever_dark_bg;

                                .light {
                                    filter:opacity(0);
                                }

                                .dark {
                                    filter:opacity(1);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1400px) {

    html body#trading-platform-page {
        #Header {
            #panda-forex-clock {
                display: none !important;
            }

            .header_container {
                padding-left: 1vw;
            }

            .logo_container {
                margin-left: 2vw;
                .logo {
                    width: 100px;
                    margin-left: 1vw;
                }
            }
        }
    }
}

/* ULTRA SMALL LAPTOP START */
@media only screen and (max-width: 1365px) {
    html body {

        &#trading-platform-page {
            #Header {
                .logo_container {
                    display: none;
                }

                #panda-forex-deposit-credit > div.mainpandats > button.forex-button-pandats {
                    display: none;
                }

                #panda-forex-account-status .mainpandats li > div.value-pandats {
                    font-size: 15px;
                }

                .user-actions {
                    min-width: 180px;
                }
            }


            .hamburger.sidenav-trigger {
                background-image: url('/assets/images/favicon/favicon-32x32.png');
                border-radius: 50%;
                background-size: contain;
                border: 1px solid $dark_theme_sidenav_accent;
                background-color: white;

                svg {
                    display: none;
                }
            }
        }
    }
}

/* ULTRA SMALL LAPTOP END */

