/* HEADER START */
#Header {
    position: absolute;
    width: 100%;
    z-index: 10;

    .scroll_compensate & {
        right: calc(var(--scrollbar-width) / 2);
    }

    &.pinned {
        animation: slide-down 0.7s;
        background: rgba(7,3,20,0);
        background: -moz-linear-gradient(267deg, rgba(26, 96, 147, 0.9) 0%, rgba(24, 59, 87, 0.9) 19.5%, rgba(20, 24, 33, 0.9) 100%);
        background: -webkit-linear-gradient(267deg, rgba(26, 96, 147, 0.9) 0%, rgba(24, 59, 87, 0.9) 19.5%, rgba(20, 24, 33, 0.9) 100%);
        background: linear-gradient(267deg, rgba(26, 96, 147, 0.9) 0%, rgba(24, 59, 87, 0.9) 19.5%, rgba(20, 24, 33, 0.9) 100%);
        border-bottom: .5px solid $primary_color;
    }
    nav {
        box-shadow: none;
        background: none;
        position: relative;
        .nav-wrapper {

            max-width: 90%;

            .logo-container {
                float: left;
            }

            .navigation-user-action-container {
                float: right;
                display: flex;
                align-items: center;
                justify-content: space-between;

                & > * {
                    margin-right: 1vw;
                }

                .video_popup_trigger {
                    color: $video_button_text;
                    line-height: 1.8rem;
                    text-align: center;
                    padding: 4px 7px;
                    border: .15vw solid $video_button_border;
                    border-radius: .2vw;
                    display: inline-flex;
                    overflow: hidden;
                    white-space: nowrap;
                    transition: all .3s;
                    align-items: center;

                    svg {
                        margin: 0 8px 0 0;
                        height: 23px;
                        width: 23px;
                        display: inline-block;

                        path {
                            fill: $video_button_icon_color;
                            transition: all .3s;
                        }
                    }

                    &:hover {
                        border: .15vw solid $video_button_border_hover;
                        color: $video_button_hover;
                        svg path {
                            fill: $video_button_hover;
                        }
                    }
                }

                a.traderoom_link {
                    font-size: 1rem;
                    line-height: 1rem;
                    font-weight: 600;
                    text-transform: uppercase;
                    color: $traderoom_link;
                    text-align: center;
                    padding: .3vw;
                    position: relative;
                    transition: all .5s;
                    overflow: hidden;
                    white-space: nowrap;
                    &:hover {
                        &:before {
                            background-color: $traderoom_hover_bg;
                        }
                    }

                    &:after {
                        content: '';
                        height: 1px;
                        position: absolute;
                        width: 100%;
                        background-color: $tradroom_underscore;
                        left: 0;
                        bottom: 0;
                    }
                }
                .user-actions {
                    min-width: 200px;
                    list-style: none;
                    margin: 0;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    float: right;
                    transition: all .5s;

                    panda-forex-clock {
                        display: none;
                    }
                    li {
                        padding: 0;
                        margin: auto;
                    }
                    #panda-forex-login > div > div > button.forex-button-pandats.simple-button-pandats.spinner-button-pandats,
                    #panda-forex-signup > div > button.forex-button-pandats.simple-button-pandats {
                        display: none !important;
                    }

                    .cta_top_nav_login,
                    .cta_top_nav_signup {
                        min-width: 7vw;
                        font-size: 1rem;
                        font-weight: 400;
                        color: $cta1_text;
                        width: auto;
                        position: relative;
                        border-radius: 3px;
                        text-align: center;
                        line-height: 34px;
                        display: block;
                        &:focus {
                            outline: none;
                        }

                        &:after {
                            content: '';
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            z-index: -1 !important;
                            transition: all 0.3s;
                            border-radius: 3px;
                            opacity: 0;
                            -webkit-transform: scale(0.5,0.5);
                            transform: scale(0.5,0.5);
                        }

                        &:hover {
                            background: transparent;
                            &:after {
                                opacity: 1;
                                -webkit-transform: scale(1,1);
                                transform: scale(1,1);
                            }
                        }
                    }

                    .cta_top_nav_login {
                        background: $cta2_bg;
                        border: 1px solid $cta2_border;
                        margin-right: 5px;
                        white-space: nowrap;
                        min-width: 7vw;
                        &:after{
                            background-color: $cta2_bg_hover;

                        }
                    }

                    .cta_top_nav_signup {
                        background:  $cta1_bg;
                        border: 1px solid $cta1_border;
                        white-space: nowrap;
                        min-width: 7vw;
                        &:after {
                            background-color: $cta1_bg_hover;
                        }
                    }

                    #panda-forex-deposit-credit .forex-button-pandats.simple-button-pandats {
                        border: 1px solid $secondary_color;
                        border-radius: 3px;
                        color: $white;
                        background: $secondary_color;
                        transition: all 0.5s;
                        &:hover {
                            background-color: rgba(242, 153, 74, 0.3);
                        }
                    }
                    #panda-forex-menu {
                        .button-pandats {
                            border: none;
                            box-shadow: none;
                        }
                        .dropdown-pandats {
                            ul {
                                li {
                                    padding-left: 10px;
                                }
                            }
                        }
                        .button-pandats {
                            .icon-pandats {
                                &:before {
                                    color: $white;
                                }
                            }
                            .user-name-pandats {
                                span.ng-star-inserted {
                                    color: $white;
                                }
                            }
                        }
                    }
                    #panda-forex-menu .dropdown-pandats.menu-pandats li:hover,
                    custom-select .frx-dropdown-content-pandats .item-pandats:hover {
                        border-left: 3px solid $secondary_color;
                        color: #fff;
                        background: #f8a862;
                    }
                    span.item-pandats.ng-star-inserted:hover span.itemLabel{
                        color:$white;
                        background: transparent;
                        border-bottom: $white;
                    }
                }
                .menu-holder {
                    display: initial;
                    .menu.links {
                        display: flex;
                        float: none;
                        line-height: 3rem;
                        & > li {
                            position: relative;
                            white-space: nowrap;
                            padding: .3vw .5vw;
                            a {
                                font-size: 1rem;
                                font-weight: 500;
                                color: $header_nav_text;
                                padding: 0 .7vw;
                                background: none;
                                transition: all .3s;
                            }

                            &:hover > a {
                                color: $links_hover;
                            }
                            &.has_children {
                                & > a {
                                    padding: 0 20px 0 10px;
                                    position: relative;
                                    &:before {
                                        cursor: pointer;
                                        content: '';
                                        width: 7px;
                                        height: 7px;
                                        position: absolute;
                                        right: 3px;
                                        top: 45%;
                                        -webkit-transform: translateY(-50%)  scale(1, 0.8) rotate(45deg);
                                        transform: translateY(-50%) scale(1, 0.8) rotate(45deg);
                                        border-left: none;
                                        border-top: none;
                                        border-right: 2px solid $header_nav_arrows;
                                        border-bottom: 2px solid $header_nav_arrows;
                                        transition: all 250ms;
                                    }
                                }
                                .submenu {
                                    display: flex;
                                    flex-direction: column;
                                    position: absolute;
                                    top: calc(100% + 20px);
                                    visibility: hidden;
                                    opacity: 0;
                                    background: $submenu_bg;
                                    transition: top .2s ease-in, opacity .2s ease-out, visibility .2s ease-out;
                                    border-radius: 0 0 6px 6px;
                                }

                                &.topnav_blog a:before {
                                    display: none !important;
                                }
                            }
                            &:hover {
                                & > a {
                                    &:before {
                                        border-right: 2px solid $header_nav_arrows;
                                        border-bottom: 2px solid $header_nav_arrows;
                                        transform: scale(1,0.8) rotate(225deg);
                                    }
                                }
                                .submenu {
                                    flex-direction: column;
                                    min-width: 200px;
                                    visibility: visible;
                                    opacity: 1;
                                    top: 100%;

                                    &:after {
                                        width: 100%;
                                    }
                                    li {
                                        &:hover {
                                            background: rgba(42, 49, 67, 0.3);
                                            a {
                                                color: $links_hover;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .pull-left {
                .logo {
                    display: inline-block;
                    margin-top: 13px;
                }
            }
        }
    }
    .mainpandats .forex-button-pandats {
        border: 1px solid $main_btn;
        color: $white;
        background: $main_btn;
        transition: all 0.5s;
        &:hover {
            background: rgba(50, 180, 244, 0.1);
            color: $main_btn;
        }
    }
}
nav .sidenav-trigger {
    height: auto;
}
.mainpandats .forex-button-pandats {
    line-height: initial;
}

.no-click {
    cursor: pointer;

    & > a {
        pointer-events: none;
    }
}
body {
    &.nav-active {
        #wrapper {
            filter: blur(3px);
            -webkit-filter: blur(3px);
        }
    }
    &.mobile-only {
        #slide-out {
            .user_actions_mobile {
                display: flex;
            }
        }
    }
}

/* Language switcher START */

.lang_switcher {
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    height: 40px;
    padding: 0 5px;
    transition: all .3s;


    &:hover {
        background-color: rgba(17, 28, 43, 0.7);

        .additional_langs {
            display: block;
            opacity: 1;
        }
    }

    .flag_icon {
        width: 30px;
        height: 30px;
        background-position: center center;
        background-size: cover;
        border-radius: 50%;
    }

    .additional_langs {
        animation: slide-up 0.3s;
        display: none;
        position: absolute;
        flex-direction: column;
        left: 0;
        opacity: 0;
        padding: 0;
        top: 40px;
        transition: 250ms all;
        z-index: 999;

        li {
            background: rgba(17,28,43,0.7);
            padding: 6px 5px;
            margin: 0;
            a {
                padding: 0;
                margin: 0;
                width: 100%;
            }

            &:last-child {
                border-bottom-left-radius: 50%;
                border-bottom-right-radius: 50%;
            }
        }

        &::-webkit-scrollbar {
            background-color: transparent;
            width: 0;
        }
    }
}

/* Language switchers END */

/*    Mobile Body    */
body.mobile_body {
    #Header {
        nav {
            .nav-wrapper {
                .pull-right.desktop-only {
                    display: none;
                }
                .mobile-only.mobile_nav_toggle {
                    display: block;
                }
            }
        }
    }
    #pts-forx-init-wraper {
        display: none;
        #panda-forex-init {
            display: none;
        }
    }
    .wrapper-spinner-pandats {
        display: none !important;
    }
    #slide-out {
        .mobile-hide-overlay {
            .user_actions_mobile {
                display: flex;
            }
        }
    }
}
/*    Mobile Body End    */

/* HEADER END */
