/* FONTS START */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('/assets/fonts/roboto-light-webfont.woff2') format('woff2');
    src: local(''),
    url('/assets/fonts/roboto-light-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    src: url('/assets/fonts/roboto-regular-webfont.woff2') format('woff2'),
    url('/assets/fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/assets/fonts/roboto-medium-webfont.woff2') format('woff2'),
    url('/assets/fonts/roboto-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/assets/fonts/roboto-bold-webfont.woff2') format('woff2'),
    url('/assets/fonts/roboto-bold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/assets/fonts/roboto-italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/poppins-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/poppins-medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/poppins-semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/poppins-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

/* Typography START */

html {

    font-size: 15px;
    font-family: 'Roboto', 'Arial', sans-serif;

    h1, h2, h3, h4, h5 {
        font-family: $headers_font;
    }

    h1 {
        color: #353846;
        font-size: 2.5rem;
        line-height: 2.5rem;
        font-weight: normal;
    }

    h2 {
        color: #353846;
        font-size: 2rem;
        line-height: 2rem;
        font-weight: normal;
    }

    h3 {
        color: #353846;
        font-size: 1.5rem;
        line-height: 1.5rem;
        font-weight: normal;
    }

    span {
        font-family: 'Roboto', 'Arial', sans-serif;
    }

    p {
        font-family: 'Roboto', 'Arial', sans-serif;
        color: #353846;
        font-size: 1rem;
        line-height: 1.5rem;
    }

    a {
        font-family: 'Roboto', 'Arial', sans-serif;
        text-decoration: none;
        transition: color .3s;
        &:hover {
            text-decoration: none;
            color: $links_hover;
        }
    }
}

/* Typography END */

/* FONTS END */
