/* OVERRIDES START */



html body {
    #modal_fullscreen {
        a.dismiss {
            transition: all .3s;
            &:hover {
                transform: translateY(-3px);
                box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
            }
        }
    }
}

@media only screen and (max-width: 1420px) {
    #modal_fullscreen  img {
        width: 205px !important;
    }
}

@media only screen and (max-width: 768px) {
    #modal_fullscreen {
        .dismiss {
            margin-top: 50px;
        }

        img {
            margin-top: 30px;
        }
    }
}

/* OVERRIDES END */
