/* Global vars START */

$primary_color: #32B4F4;
$secondary_color: #F2994A;
$font_color: #353846;
$main_btn: #32B4F4;
$links_hover: #32B4F4;
$headers_font: 'Poppins', 'Arial', sans-serif;


/* CTA START */

$cta1_bg: #F59C45;
$cta1_border: #F59C45;
$cta1_bg_hover: rgba(240, 131, 35, 0.8);
$cta1_text: #FFFFFF;

$cta2_bg: #32b4f4;
$cta2_border:  #32B4F4;
$cta2_bg_hover: rgba(50, 180, 244, 0.8);
$cta2_text: #FFFFFF;


$gradient_cta_bg: linear-gradient(to right, #f37c33 0%, #f49d46 100%);
$gradient_cta_border: #F59C45;
$gradient_cta_text: #FFFFFF;
/* CTA END */

/* Header START */
$header_pinned_bg: linear-gradient(to right, rgba(26, 96, 147, 0.9) 0%, rgba(24, 59, 87, 0.9) 19.5%, rgba(20, 24, 33, 0.9) 100%);
$header_border: #32B4F4;
$header_nav_text: #FFFFFF;
$submenu_bg: linear-gradient(to right,rgba(26,96,147,0.9) 0%,rgba(24,59,87,0.9) 100%);
$header_nav_arrows: #FFFFFF;
$header_buttons_text: #FFFFFF;

$video_button_icon_color: #FFFFFF;
$video_button_text: #FFFFFF;
$video_button_border: #32B4F4;
$video_button_hover: #32B4F4;
$video_button_border_hover: #FFFFFF;

$traderoom_link: #FFFFFF;
$tradroom_underscore: #32B4F4;
$traderoom_hover_bg: #32B4F4;
/* Header END */

/* Inner secondary menu START */
$secondary_menu_font_color: #353846;
/* Inner secondary menu END */

/* Footer START */
$footer_bg: #171B26;
$footer_top_bg: #141721;
$footer_bottom_bg: #171B26;
$footer_menu_text: #FFFFFF;
$footer_address_text: #FFFFFF;

$risk_border: #242A39;
$risk_text: #C2C3C6;

$top_button_border: #74d7f4;
$top_button_bg: #32B4F4;
$top_button_arrow: #FFFFFF;
/* Footer END */

/* Breadcrumbs START */
$breadcrumbs_link: #32B4F4;
$breadcrumbs_separator: #23283b;
$breadcrumbs_current: #f08323;
/* Breadcrumbs END */

/* Cookie Policy Popup START */
$cookie_popup_bg: rgba(11, 16, 21, 0.9);
$cookie_popup_border: #485157;
$cookie_popup_title: #FFFFFF;
$cookie_popup_text: #FFFFFF;
$cookie_popup_link: #32B4F4;
$cookie_popup_link_hover: #F2994A;
$cookie_popup_cta_bg: #32B4F4;
$cookie_popup_cta_text: #FFFFFF;
/* Cookie Policy Popup END */

/* Mobile Sidemenu START */

$sidenav_controls: #FFFFFF;
$sidenav_bg: #15212F;
$sidenav_lang_bg: #38424e;

/* Mobile Sidemenu END */

/* Trading platform START */

$lever_border: #F2994A;
$lever_dark: #040007;
$lever_dark_bg: #F2994A;
$lever_light: #FFFFFF;
$lever_light_bg: #F2994A;

$dark_theme_bg: #10171B;
$dark_theme_text: #FFFFFF;
$dark_theme_accent: #F2994A;
$dark_theme_sidenav_bg: rgba(4, 0, 7, 0.7);
$dark_theme_sidenav_text: #FFFFFF;
$dark_theme_sidenav_accent: #32B4F4;

$white_theme_bg: #fbfbfb;
$white_theme_text: #10171B;
$white_theme_accent: #F2994A;
$white_theme_sidenav_bg:  #c9cbcd;
$white_theme_sidenav_text: #040007;
$white_theme_sidenav_accent: #32B4F4;

/* Trading platform vars END */

$video_popup_bg: #1c1b1b;
$video_popup_close: #FFFFFF;
