<!-- Breadcrumbs start -->
{% capture breadcrumbs %}
    <div id="breadcrumbs" role="navigation">
        <ul class="breadcrumbs">
            <li>
                <a href="{{ lang-router }}" title="{{ site.data.translations[page.lang].theme_UI.go_to_homepage }}">
                    {{ site.data.translations[page.lang].theme_UI.go_to_homepage }}
                </a>
            </li>
            {% assign pages = site.pages | sort: 'weight' %}
            {% assign parts = page.url | split: '/' %}
            {% assign root = '/' | append: parts[1] | append: '/' %}
            {% assign has_children = false %}
            {% for node in pages %}
                {% if node.url contains root and node.url != root %}
                    {% assign has_children = true %}
                {% endif %}
            {% endfor %}
            {% for node in pages %}
                {% if node.url contains root %}
                    {% assign node_parts = node.url | split: '/' %}
                    {% assign node_depth = node_parts | size %}

                    {% if node_depth == 2 %}
                        <span class="breadcrumb-separator"> &raquo; </span>
                        <li>
                            <a {% if p.url == node.url %}class="active"{% endif %}
                               href="{{ site.baseurl }}{{ node.url }}">
                                {{ node.title }}
                            </a>
                        </li>
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% for node in pages %}
                {% if node.url contains root %}
                    {% assign node_parts = node.url | split: '/' %}
                    {% assign node_depth = node_parts | size %}
                    {% if node_depth == 3 and node.url == page.url %}
                        <span class="breadcrumb-separator"> &raquo; </span>
                        <li>
                            <a {% if page.url contains node.url %} class="active"{% endif %}
                                    href="{{ site.baseurl }}{{ node.url }}">
                                {{ node.title }}
                            </a>
                        </li>
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% assign node_root = '/' | append: node_parts[1] | append: '/' | append: node_parts[2] | append: '/' %}
            {% assign has_children = false %}
            {% for subnode in pages %}
                {% if subnode.url contains node_root and subnode.url != node_root %}
                    {% assign has_children = true %}
                {% endif %}
            {% endfor %}
            {% if has_children == true %}
                {% for subnode in pages %}
                    {% if subnode.url contains node_root and subnode.url != node_root and subnode.url == subnode.url %}
                        <span class="breadcrumb-separator"> &raquo; </span>
                        <li>
                            <a {% if page.url contains subnode.url %} class="active"{% endif %}
                                    href="{{ site.baseurl }}{{ subnode.url }}">
                                {{ node.title }}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </ul>
    </div>
{% endcapture %}
{{ breadcrumbs | replace: '    ', '' | strip_newlines }}
<!-- Breadcrumbs end -->