{% capture footer-menu %}
<ul class="menu-footer-horizontal-menu">
    {% assign pages = site.pages | sort:"footer-weight" %}
    {% for p in pages %}
        {% if p.secondary-menu == 'footer' and p.lang == page.lang %}
            {% unless p.exclude_from_main_menu == true or p.path contains 'blog/page' %}
                <li>
                    <a {% if p.url == page.url %}class="active" {% endif %} href="{{ site.baseurl }}{{ p.url }}"> {{ p.title }}</a>
                </li>
            {% endunless %}
        {% endif %}
    {% endfor %}
</ul>
{% endcapture %}

{{ footer-menu | replace: '    ', '' | strip_newlines }}
