<aside>
    <nav id="slide-out" class="sidenav">
        <div class="sidenav-toggle sidenav-close">
            <a href="javascript:void(0);" class="menu-link" id="mobile-close" title=" t user_action.toggle-menu">
                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="17.908" height="1" transform="matrix(0.707469 -0.706744 0.681305 0.732 0 13)" fill="white"/>
                    <rect width="17.9097" height="1" transform="matrix(0.705627 0.708583 -0.68157 0.731753 1 0)" fill="white"/>
                </svg>
            </a>
        </div>
        <div class="mobile-hide-overlay">
            <!-- Logo -->
            <div class="logo">
                <a href="{{ lang-router }}" class="logo" title=" t user_action.go_to_homepage">
                    <img src="/assets/images/logo.svg" alt="t site.name " title=" t user_action.go_to_homepage">
                </a>
            </div>
            <div class="trade_button_container">
                <a href="/{{ site.trading_platform_page }}" class="trading" title=" site.trade-room">
                    t site.trade-room
                </a>
            </div>
            <div class="user_actions_mobile">
                <a href="/mobile/?lang={{ site.lang }}#login"
                    class="cta_button cta_button2"
                    title=" user_action.go_to  t user_action.login t user_action.page"
                >
                     t user_action.login
                </a>
                <a
                    href="/mobile/?lang={{ site.lang }}#signup"
                    class="cta_button cta_button1"
                    title=" user_action.go_to  t user_action.signup t user_action.page"
                >
                     user_action.signup
                </a>
            </div>
            {% include navigation/nested-menu.liquid %}
            <div class="sidenav-language-switcher">
                {% include language_switcher/flags_mobile.html %}
            </div>
        </div>
    </nav>
</aside>
