<!-- MAIN MENU START -->
{% capture menu-nested %}
    <ul class="menu links collapsible">
        {% assign pages = site.pages | sort: "weight" %}
        {% for node in pages %}
            {% if node.weight %}
                {% assign node_parts = node.url | split: '/' %}
                {% assign node_depth = node_parts | size %}
                {% if node_depth == 2 %}
                    {% assign node_root = '/' | append: node_parts[1] | append: '/' %}
                    {% assign has_children = false %}
                    {% for subnode in pages %}
                        {% if subnode.url contains node_root and subnode.url != node_root %}
                            {% assign has_children = true %}
                        {% endif %}
                    {% endfor %}
                    {% unless page.layout == 'trade-room' and node.url contains site.trading_platform_page %}
                        {% if node.menu == "main" %}
                            {% unless node.exclude_from_main_menu == true %}
                                {% if has_children == true %}
                                    <li class="has_children collapsible-header {% if node.custom_class %}{{ node.custom_class }}{% endif %}">
                                {% else %}
                                    <li {% if node.custom_class %}class="{{ node.custom_class }}" {% endif %}>
                                {% endif %}
                                <a {% if p.url == node.url %}class="active" {% endif %}
                                   href="{% if node.no-click == true %}javascript:void(0);{% else %}{{ site.baseurl }}{{ node.url }}{% endif %}"
                                   title="{{ user_action.go_to }} {{ node.title }}">{{ node.title }}</a>
                                {% if has_children == true %}
                                    <ul class="submenu links collapsible-body">
                                        {% for subnode in pages %}
                                            {% unless subnode.exclude_from_main_menu == true %}
                                                {% if subnode.url contains node_root and subnode.url != node_root %}
                                                    {% assign node_parts = subnode.url | split: '/' %}
                                                    {% assign node_depth = node_parts | size %}
                                                    {% if node_depth == 3 %}
                                                        <li {% if subnode.custom_class %}class="{{ subnode.custom_class }}" {% endif %}>
                                                            <a {% if page.url contains subnode.url %} class="active" {% endif %}
                                                                    href="{% if subnode.no-click == true %}javascript:void(0);{% else %}{{ site.baseurl }}{{ subnode.url }}{% endif %}"
                                                                    title="{{ subnode.title }}">
                                                                {{ subnode.title }}
                                                            </a>
                                                            {% assign subnode_root = '/' | append: node_parts[1] | append: '/' | append: node_parts[2] | append: '/'
                                                            %}
                                                            {% assign has_children = false %}
                                                            {% for subsubnode in pages %}
                                                                {% if subsubnode.url contains subnode_root and subsubnode.url != subnode_root %}
                                                                    {% assign has_children = true %}
                                                                {% endif %}
                                                            {% endfor %}
                                                            {% if has_children == true %}
                                                                <ul class="submenu links">
                                                                    {% for subsubnode in pages %}
                                                                        {% unless subsubnode.exclude_from_main_menu == true %}
                                                                            {% if subsubnode.url contains subnode_root and subsubnode.url != subnode_root %}
                                                                                <li {% if subsubnode.custom_class %}class="{{ subsubnode.custom_class }}" {% endif %}>
                                                                                    <a {% if page.url contains subsubnode.url %}
                                                                                        class="active" {% endif %}
                                                                                            href="{{ site.baseurl }}{{ subsubnode.url }}"
                                                                                            title="{{ subsubnode.title }}">
                                                                                        {{ subsubnode.title }}
                                                                                    </a>
                                                                                </li>
                                                                            {% endif %}
                                                                        {% endunless %}
                                                                    {% endfor %}
                                                                </ul>
                                                            {% endif %}
                                                        </li>
                                                    {% endif %}
                                                {% endif %}
                                            {% endunless %}
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                                </li>
                            {% endunless %}
                        {% endif %}
                    {% endunless %}
                {% endif %}
            {% endif %}
        {% endfor %}
    </ul>
{% endcapture %}

{{ menu-nested | replace: '    ', '' | strip_newlines }}
<!-- MAIN MENU END -->