<!-- MAIN MENU START -->
{% capture menu-nested %}
    <ul class="menu links">
        {% assign pages = site.pages | sort:"weight"  %}
        {% for node in pages %}
            {% if node.lang == site.defaultLang %}
                {% if node.weight and node.lang == page.lang and node.url contains page.section %}
                    {% assign node_parts = node.url | split: '/' %}
                    {% assign node_depth = node_parts | size %}
                    {% if node_depth == 2 %}
                        {% assign node_root = '/' | append: node_parts[1] | append: '/' %}
                        {% assign has_children = false %}
                        {% for subnode in pages %}
                            {% if subnode.url contains node_root and subnode.url != node_root %}
                                {% assign has_children = true %}
                            {% endif %}
                        {% endfor %}
                        {% unless page.layout == 'trade-room' and node.url contains site.trading_platform_page %}
                            {% unless node.exclude_from_main_menu == true %}
                                {% if has_children == true %}
                                    <li class="has_children {% if node.custom_class %}{{node.custom_class}}{% endif %}">
                                {% else %}
                                    <li {% if node.custom_class %}class="{{node.custom_class}}"{% endif %}>
                                {% endif %}
                                <a {% if p.url == node.url %}class="active"{% endif %}
                                   href="{% if node.no-click == true %}javascript:void(0);{% else %}{{ site.baseurl }}{{ node.url }}{% endif %}" title="{{ node.title }}"> {{ node.title }}</a>
                                {% if has_children == true %}
                                    <ul class="submenu links">
                                        {% for subnode in pages %}
                                            {% unless subnode.exclude_from_main_menu == true or subnode.title == node.title %}
                                                {% if subnode.url contains node_root and subnode.url != node_root and subnode.lang == page.lang %}
                                                    {% assign node_parts = subnode.url | split: '/' %}
                                                    {% assign node_depth = node_parts | size %}
                                                    {% if node_depth == 3 %}
                                                        <li {% if subnode.custom_class %}class="{{subnode.custom_class}}"{% endif %}>
                                                            <a {% if page.url contains subnode.url %} class="active"{% endif %}
                                                                    href="{% if subnode.no-click == true %}javascript:void(0);{% else %}{{ site.baseurl }}{{ subnode.url }}{% endif %}" title="{{ subnode.title }}">
                                                                {{ subnode.title }}
                                                            </a>
                                                            {% assign subnode_root = '/' | append: node_parts[1] | append: '/' | append: node_parts[2] | append: '/' %}
                                                            {% assign has_children = false %}
                                                            {% for subsubnode in pages %}
                                                                {% if subsubnode.url contains subnode_root and subsubnode.url != subnode_root %}
                                                                    {% assign has_children = true %}
                                                                {% endif %}
                                                            {% endfor %}
                                                            {% if has_children == true %}
                                                                <ul class="submenu links">
                                                                    {% for subsubnode in pages %}
                                                                        {% unless subsubnode.exclude_from_main_menu == true %}
                                                                            {% if subsubnode.url contains subnode_root and subsubnode.url != subnode_root and subsubnode.lang == page.lang %}
                                                                                {% if node_depth == 4 %}
                                                                                    <li {% if subsubnode.custom_class %}class="{{subsubnode.custom_class}}"{% endif %}>
                                                                                        <a {% if page.url contains subsubnode.url %}
                                                                                            class="active"{% endif %}
                                                                                                href="{{ site.baseurl }}{{ subsubnode.url }}" title="{{ subsubnode.title }}">
                                                                                            {{ subsubnode.title }}
                                                                                        </a>
                                                                                    </li>
                                                                                {% endif %}
                                                                            {% endif %}
                                                                        {% endunless %}
                                                                    {% endfor %}
                                                                </ul>
                                                            {% endif %}
                                                        </li>
                                                    {% endif %}
                                                {% endif %}
                                            {% endunless %}
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                                </li>
                            {% endunless %}
                        {% endunless %}
                    {% endif %}
                {% endif %}
            {% elsif node.lang != site.defaultLang %}
                {% if node.weight and node.lang == page.lang and node.url contains page.section %}
                    {% assign node_parts = node.url | split: '/' %}
                    {% assign node_depth = node_parts | size %}

                    {% if node_depth == 3 %}
                        {% assign node_root = '/' | append: node_parts[2] | append: '/' %}
                        {% assign has_children = false %}

                        {% for subnode in pages %}
                            {% if subnode.url contains node_root and subnode.url != node_root %}
                                {% assign has_children = true %}
                            {% endif %}
                        {% endfor %}

                        {% unless page.layout == 'trade-room' and node.url contains site.trading_platform_page %}

                            {% if node.menu == "main" %}
                                {% unless node.exclude_from_main_menu == true %}

                                    {% if has_children == true %}
                                        <li class="has_children {% if node.custom_class %}{{node.custom_class}}{% endif %}">
                                    {% else %}
                                        <li {% if node.custom_class %}class="{{node.custom_class}}"{% endif %}>
                                    {% endif %}

                                    <a {% if p.url == node.url %}class="active"{% endif %}
                                       href="{% if node.no-click == true %}javascript:void(0);{% else %}{{ site.baseurl }}{{ node.url }}{% endif %}" title=""> {{ node.title }}</a>

                                    {% if has_children == true %}
                                        <ul class="submenu links">
                                            {% for subnode in pages %}
                                                {% unless subnode.exclude_from_main_menu == true or subnode.title == node.title %}
                                                    {% if subnode.url contains node_root and subnode.url != node_root and subnode.lang == page.lang %}
                                                        {% assign node_parts = subnode.url | split: '/' %}
                                                        {% assign node_depth = node_parts | size %}
                                                        {% if node_depth == 4 %}
                                                            <li {% if subnode.custom_class %}class="{{subnode.custom_class}}"{% endif %}>
                                                                <a {% if page.url contains subnode.url %} class="active"{% endif %}
                                                                        href="{% if subnode.no-click == true %}javascript:void(0);{% else %}{{ site.baseurl }}{{ subnode.url }}{% endif %}" title=" ">
                                                                    {{ subnode.title }}
                                                                </a>
                                                                {% assign subnode_root = '/' | append: node_parts[1] | append: '/' | append: node_parts[2] | append: '/' %}
                                                                {% assign has_children = false %}
                                                                {% for subsubnode in pages %}
                                                                    {% if subsubnode.url contains subnode_root and subsubnode.url != subnode_root %}
                                                                        {% assign has_children = true %}
                                                                    {% endif %}
                                                                {% endfor %}
                                                                {% if has_children == true %}
                                                                    <ul class="submenu links">
                                                                        {% for subsubnode in pages %}
                                                                            {% unless subsubnode.exclude_from_main_menu == true %}
                                                                                {% if subsubnode.url contains subnode_root and subsubnode.url != subnode_root and subsubnode.lang == page.lang %}
                                                                                    {% if node_depth == 5 %}
                                                                                        <li {% if subsubnode.custom_class %}class="{{subsubnode.custom_class}}"{% endif %}>
                                                                                            <a {% if page.url contains subsubnode.url %}
                                                                                                class="active"{% endif %}
                                                                                                    href="{{ site.baseurl }}{{ subsubnode.url }}" title="">
                                                                                                {{ subsubnode.title }}
                                                                                            </a>
                                                                                        </li>
                                                                                    {% endif %}
                                                                                {% endif %}
                                                                            {% endunless %}
                                                                        {% endfor %}
                                                                    </ul>
                                                                {% endif %}
                                                            </li>
                                                        {% endif %}
                                                    {% endif %}
                                                {% endunless %}
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                    </li>
                                {% endunless %}
                            {% endif %}
                        {% endunless %}
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endfor %}
    </ul>
{% endcapture %}

{{ menu-nested | replace: '    ', '' | strip_newlines }}
<!-- MAIN MENU END -->
