{% for account in site.account_types %}
    <div class="col s12 m12 l4">
        <div class="account" data-aos="flip-left">
            <div class="account-header basic" style="background-image: url('{{ account.background_image }}')"><p>{{ account.account_type_name }}<br><span>{{ site.data.translations[page.lang].theme_UI.from }} {{ account.minimum_deposit }}</span></p>
            </div>
            <div class="account-info">
                <div class="btn-holder center">
                    <a class="lock_load"
                       href="javascript:void(0);" onclick="ctaBtnProcessing('signup')">
                        {{ site.data.translations[page.lang].theme_UI.open_account }}
                    </a>

                </div>
                <ul class="account-list">
                    {% for option in account.account_options %}
                        <li>{{ option[1] }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endfor %}