{% raw %}<!--- Start escaping double curly braces inside following markdown block - Angular app. --->
<div ng-app="tradingAssetsApp" ng-cloak id="tradingAssetsAppId">
    <div ng-controller="TradingAssetsController" class="trading-assets-container ">
        <ul class="assets-tabs-holder">
            <li class="asset-tab" ng-repeat="category in categoriesList"
                ng-class="{'active' : selectedCategory === category.id}"
                ng-click="changeCategory(category.id)">{{ category.name }}
            </li>
        </ul>
        <div class="spinner" ng-if="loaderSpin"></div>
        <div class="ps-container">
            <ul class="trading-assets-list" id="trading-assets-list">
                <li class="asset-items holder" ng-repeat="asset in assets" ng-click="playAccordion(asset)"
                    ng-class="{'fadeout': fadeoutClass, 'active': asset.active}">
                    <div class="asset-items row">
                        <div class="flex-container">
                            <div class="equal-column" ng-if="asset.Category === 'FOREX' || asset.Category ==='CRYPTO'">
                                <img class="asset-item-flag flag-1"
                                     err-src="/assets/trading-assets-list-plugin/images/empty.svg"
                                     ng-src="https://nfp.pandats.com/{% endraw %}{{ site.brand_platform }}{% raw %}/{{ asset.flag1 }}.svg"/>
                                <img class="asset-item-flag flag-2"
                                     err-src="/assets/trading-assets-list-plugin/images/empty.svg"
                                     ng-src="https://nfp.pandats.com/{% endraw %}{{ site.brand_platform }}{% raw %}/{{ asset.flag2 }}.svg"/>
                            </div>
                            <div class="equal-column"
                                 ng-if="!(asset.Category === 'FOREX' || asset.Category ==='CRYPTO')">
                                <img class="asset-item-flag flag-3"
                                     err-src="/assets/trading-assets-list-plugin/images/empty.svg"
                                     ng-src="https://nfp.pandats.com/{% endraw %}{{ site.brand_platform }}{% raw %}/{{ asset.flag3 }}.svg"/>
                            </div>
                            <span class="asset-item name">{{ asset.Name }}</span>
                        </div>
                        <div class="flex-container right">
                            <span class="asset-item price">{{ 'ask' | translate }} </span><span>{{ asset.Ask }}</span>
                            <span class="asset-item price">{{ 'bid' | translate }} </span><span>{{ asset.Bid }}</span>
                            <div class="equal-column">
                                <button class="asset-item cta" type="button" ng-if="asset.active"> {{ 'close' | translate }}</button>
                                <button class="asset-item cta" type="button" ng-if="!asset.active"> {{ 'getInfo' | translate }}</button>
                            </div>
                        </div>
                    </div>
                    <div class="asset-items detailed">
                        <div class="equal-column">&nbsp;</div>
                        <div class="info">
                            <h4 class="heading">{{ 'information' | translate }}</h4>
                            <ul>
                                <li>
                                    <span class="key">{{ 'baseAsset' | translate }}</span>
                                    <span class="value">{{ asset.Currency }}</span>
                                </li>
                                <li>
                                    <span class="key">{{ 'quoteAsset' | translate }}</span>
                                    <span class="value">{{ asset.QuoteAsset }}</span>
                                </li>
                                <li>
                                    <span class="key">{{ 'spread' | translate }}</span>
                                    <span class="value" ng-if="asset.Spread > 0">{{ asset.Spread }} {{ 'points' | translate }}</span>
                                    <span class="value" ng-if="asset.Spread <= 0">{{ floating }}</span>
                                </li>
                                <li>
                                    <span class="key">{{ 'digits' | translate }}</span>
                                    <span class="value">{{ asset.Digits }}</span>
                                </li>
                                <li>
                                    <span class="key">{{ 'lotValue' | translate }}</span>
                                    <span class="value">{{ asset.ContractSize }} {{ asset.Unit }}</span>
                                </li>
                            </ul>
                            <div class="trading-hours">
                                <h4 class="heading">{{ 'tradingHours' | translate }}</h4>
                                <ul>
                                    <li>
                                        <span class="key">{{ 'mondayToFriday' | translate }}</span>
                                        <span class="value">{{ tradingHours }}</span>
                                    </li>
                                    <li>
                                        <span class="key">{{ 'sunday' | translate }}</span>
                                        <span class="value">{{ sundayTradingHours }}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="equal-column">&nbsp;</div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="no-assets" ng-if="noCategoryAssets">
            <span>{{ 'noAssetsFound' | translate }}</span>
        </div>
    </div>
</div>
{% endraw %}<!--- End escaping double curly braces inside above markdown block - Angular app. --->
