<div id="modal_fullscreen" style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 999999; background-color: rgba(0, 0, 0, .4);
    transition: all .5s; opacity: 0;">
    <div id="modal_frame" style="position: absolute; top: 50%; left: 50%; width: 85%; height:calc(100% - 8vw); transform: translate(-50%, -50%); background-color: #2f92cd;
        background-image:url(&quot;data:image/svg+xml,%3Csvg width=&apos;1057&apos; height=&apos;303&apos; viewBox=&apos;0 0 1057 303&apos; fill=&apos;none&apos; xmlns=&apos;http://www.w3.org/2000/svg&apos;%3E%3Ccircle cx=&apos;528.5&apos; cy=&apos;528.5&apos; r=&apos;528.5&apos; fill=&apos;%236ECAFC&apos;/%3E%3C/svg%3E%0A&quot;), linear-gradient(to bottom, #006AAE, #6CC6F4);
        box-shadow: 0 0 32px 0 #2099e5; text-align: center; background-repeat: no-repeat; background-position: bottom center;">
        <a href="javascript:void(0)" onclick="demoModalHandle('button')" style="position: absolute; top: calc(10px + .7vw); right: calc(10px + .7vw);"><svg width="28" height="28" viewbox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M20.9517 6.99697C21.5023 7.54759 21.5023 8.44031 20.9517 8.99093L7.99094 21.9517C7.44032 22.5023 6.5476 22.5023 5.99698 21.9517C5.44636 21.401 5.44636 20.5083 5.99698 19.9577L18.9577 6.99697C19.5083 6.44635 20.4011 6.44635 20.9517 6.99697Z" fill="white" />
            <path fill-rule="evenodd" clip-rule="evenodd" d="M6.11083 6.99697C5.56021 7.54759 5.56021 8.44031 6.11083 8.99093L19.0716 21.9517C19.6222 22.5023 20.5149 22.5023 21.0655 21.9517C21.6161 21.401 21.6161 20.5083 21.0655 19.9577L8.10479 6.99697C7.55417 6.44635 6.66145 6.44635 6.11083 6.99697Z" fill="white" />
        </svg></a>
        <p style="padding-top: 10vh; font-weight: bold; font-size: 22px;  line-height: 26px; text-align: center;
        text-transform: uppercase; color: #FFFFFF;" class="editable" data-i18n="demo_popup_notice_title">
 	English Another DEMO SITE NOTICE en cONTENT dE CONTENT
 </p>
        <p style="font-size: 17px; font-weight: 300; line-height: 23px; text-align: center; color: #FFFFFF; margin-bottom: calc(15px + 2.5vw);" class="editable" data-i18n="demo_popup_notice_message">
 	English New Message This site is created for showcasing purposes only and is<br />not intended for commercial use.
 </p>
        <a href="javascript:void(0)" style="
            background: linear-gradient(270deg, rgba(246, 205, 97, 0.5) -5.02%, rgba(255, 142, 80, 0.5) 125.48%), #F2722E;
            border-radius: 3px; font-size: 17px; width: 150px; min-height: 44px; color: #FFFFFF; display: block;
            margin: 0 auto; line-height: 44px; margin-bottom: calc(15px + 2.5vw);
        " onclick="demoModalHandle('button')" class="dismiss editable" data-i18n="demo_popup_notice_action">Dismiss</a>
        <img src="/assets/images/modal_pic1.png" style="width: 335px; max-width: 100%; height: auto;" />
    </div>
</div>
