<link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon/favicon.ico">
<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon/favicon-16x16.png">
<link rel="mask-icon" href="/assets/images/favicon/safari-pinned-tab.svg" color="{{ site.manifest_theme_color }}">
<link rel="manifest" crossorigin="use-credentials" href="/assets/images/favicon/site.webmanifest">


<meta name="msapplication-TileColor" content="{{ site.manifest_theme_color }}">
<meta name="theme-color" content="{{ site.manifest_theme_color }}">
