<!-- ### FOOTER START ### -->
<footer id="Footer">
    <div class="top-footer">
        <div class="container">
            <div class="footer-menu-holder">
                <div class="footer_logo">
                    <a href="{{ lang-router }}" class="logo"><img class="lazy" src="/assets/images/placeholder_img.svg" data-src="/assets/images/logo.svg" alt="{{ site.data.translations[page.lang].brand.name }}" />
                    </a>
                </div>
                {% include navigation/footer-menu.liquid %}
            </div>
        </div>
    </div>
    <div class="bottom-footer">
        <div class="container">
            <div class="contact-information">
                <address>
                    {{ site.data.translations[page.lang].theme_UI.contact_info_title }}<br />
                    {{ site.data.translations[page.lang].theme_UI.address_title }} {{ site.data.translations[page.lang].brand.contact_info.company_address }}<br />
                </address>
                 {{ site.data.translations[page.lang].theme_UI.phone_title }}<a href="tel:{{site.phone}}" title="{{site.phone}}">{{ site.data.translations[page.lang].brand.contact_info.phone }}</a><br />
                {{ site.data.translations[page.lang].theme_UI.mail_title }}<a href="mailto:{{site.email}}" title="{{site.email}}">{{ site.data.translations[page.lang].brand.contact_info.email }}</a>
            </div>
        </div>
    </div>
    <!--googleoff: index-->
    <section class="footer_risk center">
        <div class="container">
            <p class="risk_disclaimer" data-i18n="risk_warning">
                {{ site.data.translations[page.lang].brand.risk_warning }}
            </p>
        </div>
    </section>
    <!--googleon: index-->
    {% if page.layout != 'trade-room' %}
        <div id="to-top-button">
            <a title="{{ site.data.translations[page.lang].theme_UI.scroll_top }}">
                <svg width="50" height="25" viewbox="0 0 50 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M50 25L45 25L25 5L5 25L0 25L25 -2.18557e-06L50 25Z" fill="white" />
                </svg>
            </a>
        </div>
    {% endif %}
</footer>

<!-- Modal for Video Popup -->
<div id="modalVideoFrame" class="modal">
    <a href="javascript:void(0);" class="modal-action modal-close waves-effect waves-green btn-flat" title="{{ site.data.translations[page.lang].theme_UI.user_action.close_popup }}"></a>
    <div class="modal-content">
        <div id="player"></div>
    </div>
</div>

<div id="mini-install-button">
    <a href="javascript:void(0)" title="{{ site.data.translations[page.lang].theme_UI.install_web_platform_on_desktop }}" onclick="deferredPrompt.prompt()"><img src="/assets/images/install_icon-mini.svg" alt="Install icon" /></a>
</div>

<script defer>
    function launchCookiePopup () {
        $('body').ihavecookies({
            cookieTypes: [],
            title: " cookie.title ",
            message: "{{ site.data.translations[page.lang].cookie.message }}",
            advancedBtnLabel: "",
            delay: 500,
            expires: 365,
            link: "{% capture gdpr_href %}{{ lang-router }}/{{ site.GDPR_policy_link }}{% endcapture %}{{ gdpr_href | replace: '//', '/' }}",
            onAccept: function () {
                var myPreferences = $.fn.ihavecookies.cookie();
            },
            uncheckBoxes: true,
            acceptBtnLabel: "{{ site.data.translations[page.lang].cookie.acceptBtnLabel }}",
            moreInfoLabel: "{{ site.data.translations[page.lang].cookie.moreInfoLabel }}",
        });
    }
</script>
{% include navigation/mobile-sidenav.html %}
{% if site.maxmind-block == true %}
    {% include check-access.html %}
{% endif %}
<!-- ### FOOTER END ### -->
