<div id="install-prompt-box" class="install-prompt-style" style="display: none">
    <div class="flex_wrapper">
        <div class="logo_container">
            <img class="install_logo" src="/assets/images/install-popup_logo.svg">
        </div>
        <a href="javascript:void(0);" class="call-install-prompt message-cta" title="user_action.install_site">user_action.install_web_platform_on_desktop</a>
        <a href="javascript:void(0);" onclick="hideInstallMessage()" class="hide-install-prompt" title="user_action.next_time">user_action.next_time</a>
    </div>
</div>
