<meta charset="utf-8"/>
<link rel="canonical" href="https://{{ site.deployEnv }}.{{ site.domain }}{{ page.url | replace:'index.html',''}}"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta name="title" content=""/>

<meta name="description" content=""/>
{% include favicon.html %}
{% if site.localDevelopment == false and site.deployEnv == 'www' %}<!-- Set Robots meta tags per environment -->
<meta name="robots" content="index, follow"/>
{% else %}
<meta name="robots" content="noindex, nofollow"/>
{% endif %}
<meta property="og:title" content=""/>

<meta property="og:type" content="website"/>
<meta property="og:url" content="https://{{ site.deployEnv }}.{{ site.domain }}{{ page.url | replace:'index.html',''}}"/>
<!-- TODO: Create og_image for brand and erase me! -->
<meta property="og:image" content="https://www.{{ site.domain }}/assets/images/og_image.jpg"/>
<meta property="og:image:type" content="image/jpeg"/>
<meta property="og:image:width" content="1200"/>
<meta property="og:image:height" content="1200"/>
<meta property="og:image:alt" content="translate site_page.home.meta-descr"/>
