<!-- Preload scripts -->
<link rel="preload" href="/assets/js/jquery.min.js" as="script"/>
<link rel="preload" href="/assets/materialize/js/materialize.min.js" as="script"/>
{% unless site.yt-video-id == '' %}<link rel="preload" href="/assets/js/youtube-api.js" as="script"/>{% endunless %}
{% if site.GDPR == true %}<link rel="preload" href="/assets/js/jquery.gdprcookies.min.js" as="script"/>{% endif %}
<link rel="preload" href="/assets/js/custom.js?ver={{ site.build_version }}-{{ site.time | date: '%s'}}" as="script"/>
<!-- Preload styles -->
<link rel="preload" href="/assets/css/theme.css?ver={{ site.build_version }}-{{ site.time | date: '%s'}}" as="style"/>
<link rel="preload" href="/assets/materialize/css/materialize.min.css" as="style"/>
<!-- Preload fonts -->
<link rel="preload" as="font" type="font/woff2" crossorigin="anonymous" href="/assets/fonts/roboto-light-webfont.woff2">
<link rel="preload" as="font" type="font/woff"  crossorigin="anonymous" href="/assets/fonts/roboto-light-webfont.woff">
<link rel="preload" as="font" type="font/woff2" crossorigin="anonymous" href="/assets/fonts/roboto-regular-webfont.woff2">
<link rel="preload" as="font" type="font/woff"  crossorigin="anonymous" href="/assets/fonts/roboto-regular-webfont.woff">
<link rel="preload" as="font" type="font/woff2" crossorigin="anonymous" href="/assets/fonts/roboto-medium-webfont.woff2">
<link rel="preload" as="font" type="font/woff"  crossorigin="anonymous" href="/assets/fonts/roboto-medium-webfont.woff">
<link rel="preload" as="font" type="font/woff2" crossorigin="anonymous" href="/assets/fonts/roboto-bold-webfont.woff2">
<link rel="preload" as="font" type="font/woff"  crossorigin="anonymous" href="/assets/fonts/roboto-bold-webfont.woff">
<link rel="preload" as="font" type="font/woff"  crossorigin="anonymous" href="/assets/fonts/poppins-regular.woff">
<link rel="preload" as="font" type="font/woff"  crossorigin="anonymous" href="/assets/fonts/poppins-medium.woff">
<link rel="preload" as="font" type="font/woff"  crossorigin="anonymous" href="/assets/fonts/poppins-semibold.woff">
<link rel="preload" as="font" type="font/woff"  crossorigin="anonymous" href="/assets/fonts/poppins-bold.woff">
<!-- Icons -->
