<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/materialize/js/materialize.min.js"></script>

<script src="/assets/js/custom.js?ver={{ site.build_version }}-{{ site.time | date: '%s'}}"></script>

<script src="/assets/js/aos.js"></script><!-- Animate content on scroll library -->

{% if page.layout == 'home' %}
<!-- Scripts for homepage only -->
<script src="/assets/js/homepage.js?ver={{ site.build_version }}-{{ site.time | date: '%s'}}"></script>
{% endif %}
{% unless page.layout == 'home' %}
<!-- Scripts for Inner pages  -->
<script src="/assets/js/inner.js?ver={{ site.build_version }}-{{ site.time | date: '%s'}}"></script>
{% endunless %}

<!-- Panda Trading platform script loader
<script src="https://nfp.pandats.com/{{ site.brand_platform }}/loader.js" defer></script>-->
