<!-- Switch -->
<div class="switch">
    <label>
        <input type="checkbox" id="theme-color-switcher">
        <div class="lever" title=" t nfp-localization.theme_switcher ">
            <div class="slider">
                <div class="light">
                    <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.48999 5.17081C8.36415 5.17081 7.28442 5.61749 6.48833 6.4126C5.69224 7.2077 5.245 8.28609 5.245 9.41054C5.245 10.535 5.69224 11.6134 6.48833 12.4085C7.28442 13.2036 8.36415 13.6503 9.48999 13.6503C10.6118 13.6373 11.684 13.1864 12.4773 12.3941C13.2706 11.6018 13.722 10.531 13.735 9.41054V9.41054C13.7429 8.85997 13.6419 8.31326 13.4376 7.80182C13.2334 7.29038 12.9299 6.82428 12.5448 6.43031C12.1596 6.03634 11.7003 5.72226 11.1933 5.50612C10.6862 5.28997 10.1414 5.17602 9.59011 5.17081H9.48999Z" fill="white"/>
                        <path d="M9.48999 3.91088C9.27226 3.91088 9.06345 3.82449 8.90948 3.67072C8.75552 3.51695 8.66903 3.30839 8.66903 3.09093V1.75102C8.67416 1.64723 8.69973 1.54548 8.7443 1.45159C8.78886 1.35769 8.85153 1.2735 8.92872 1.20384C9.00591 1.13417 9.09611 1.0804 9.19414 1.04561C9.29217 1.01081 9.39611 0.995675 9.50001 1.00106H9.56008C9.75534 1.01291 9.93952 1.09573 10.0778 1.23389C10.2162 1.37205 10.2991 1.55599 10.311 1.75102V3.09093C10.3059 3.3068 10.2177 3.51241 10.0649 3.6651C9.912 3.81778 9.70613 3.9058 9.48999 3.91088V3.91088Z" fill="white"/>
                        <path d="M9.48999 14.9102C9.27226 14.9102 9.06345 14.9966 8.90948 15.1504C8.75552 15.3041 8.66903 15.5127 8.66903 15.7302V17.0701C8.67669 17.2838 8.75279 17.4895 8.88614 17.6569C9.01949 17.8243 9.20306 17.9445 9.4099 18C9.61867 17.9862 9.81786 17.9074 9.97948 17.7747C10.1411 17.6419 10.257 17.462 10.311 17.2601V15.8002C10.3163 15.6885 10.2996 15.5769 10.2618 15.4717C10.2239 15.3665 10.1656 15.2698 10.0903 15.1872C10.015 15.1045 9.92407 15.0375 9.82278 14.99C9.72149 14.9425 9.6118 14.9153 9.50001 14.9102H9.48999Z" fill="white"/>
                        <path d="M13.3545 5.55076C13.2763 5.48448 13.2118 5.40344 13.1649 5.31227C13.118 5.2211 13.0896 5.1216 13.0812 5.01945C13.0729 4.91729 13.0847 4.81449 13.1162 4.71693C13.1476 4.61936 13.198 4.52894 13.2644 4.45083C13.2892 4.41598 13.3197 4.38556 13.3545 4.36083L14.3557 3.3609C14.4221 3.28272 14.5032 3.21837 14.5945 3.17153C14.6858 3.12469 14.7854 3.09628 14.8877 3.08792C14.99 3.07957 15.0929 3.09143 15.1906 3.12282C15.2883 3.15422 15.3788 3.20454 15.457 3.2709C15.4919 3.29563 15.5224 3.32605 15.5471 3.3609C15.6254 3.42718 15.6898 3.50822 15.7367 3.59939C15.7836 3.69055 15.8121 3.79006 15.8204 3.89221C15.8288 3.99436 15.8169 4.09716 15.7855 4.19473C15.7541 4.2923 15.7037 4.38272 15.6372 4.46083L15.5471 4.55082L14.5459 5.55076C14.3795 5.69169 14.1684 5.76905 13.9502 5.76905C13.7321 5.76905 13.521 5.69169 13.3545 5.55076V5.55076Z" fill="white"/>
                        <path d="M5.61543 13.2803C5.54907 13.2021 5.46793 13.1378 5.37665 13.0909C5.28537 13.0441 5.18574 13.0157 5.08346 13.0073C4.98118 12.999 4.87825 13.0108 4.78056 13.0422C4.68288 13.0736 4.51414 13.1903 4.51414 13.1903L4.42403 13.2803L3.42285 14.2802C3.34687 14.3555 3.28657 14.4451 3.24542 14.5438C3.20426 14.6425 3.18307 14.7483 3.18307 14.8552C3.18307 14.9621 3.20426 15.0679 3.24542 15.1666C3.28657 15.2653 3.34687 15.3549 3.42285 15.4302C3.5764 15.581 3.78315 15.6655 3.99853 15.6655C4.21391 15.6655 4.42066 15.581 4.57421 15.4302L5.57538 14.4302C5.71915 14.2812 5.79947 14.0822 5.79947 13.8753C5.79947 13.6683 5.7592 13.4294 5.61543 13.2803Z" fill="white"/>
                        <path d="M15.0165 9.41052C15.0191 9.19387 15.1064 8.98681 15.2598 8.8336C15.4132 8.68039 15.6205 8.59317 15.8375 8.59058H17.179C17.3968 8.59058 17.6056 8.67696 17.7595 8.83073C17.9135 8.9845 18 9.19306 18 9.41052C18 9.62799 17.9135 9.83654 17.7595 9.99031C17.6056 10.1441 17.3968 10.2305 17.179 10.2305H15.8174C15.6032 10.2253 15.3995 10.1366 15.2498 9.98336C15.1002 9.83015 15.0164 9.62457 15.0165 9.41052Z" fill="white"/>
                        <path d="M13.3478 13.3142C13.502 13.1618 13.7098 13.0757 13.9267 13.0742C14.1437 13.0728 14.3526 13.1561 14.5088 13.3064L15.4638 14.2475C15.6188 14.4003 15.7067 14.6082 15.7081 14.8257C15.7096 15.0431 15.6245 15.2523 15.4716 15.4071C15.3187 15.5619 15.1104 15.6497 14.8927 15.6511C14.675 15.6526 14.4656 15.5676 14.3106 15.4149L13.3414 14.4597C13.1925 14.3057 13.1099 14.0997 13.1111 13.8857C13.1123 13.6716 13.1972 13.4666 13.3478 13.3142Z" fill="white"/>
                        <path d="M4.00353 9.41052C3.99844 9.19466 3.91032 8.98904 3.75745 8.83636C3.60457 8.68368 3.3987 8.59566 3.18257 8.59058H1.82097C1.60323 8.59058 1.39442 8.67696 1.24046 8.83073C1.08649 8.9845 1 9.19306 1 9.41052C1 9.62799 1.08649 9.83654 1.24046 9.99031C1.39442 10.1441 1.60323 10.2305 1.82097 10.2305H3.16254C3.38216 10.2305 3.59309 10.1448 3.75024 9.99157C3.9074 9.83835 3.9983 9.62981 4.00353 9.41052V9.41052Z" fill="white"/>
                        <path d="M5.61543 5.55078C5.69371 5.4845 5.75814 5.40346 5.80503 5.31229C5.85193 5.22113 5.88038 5.12162 5.88874 5.01947C5.89711 4.91731 5.88524 4.81452 5.8538 4.71695C5.82237 4.61938 5.77199 4.52896 5.70554 4.45085L5.61543 4.36086L4.61426 3.36092C4.55038 3.28265 4.47153 3.21789 4.38231 3.1704C4.29309 3.12291 4.19529 3.09366 4.09462 3.08435C3.99396 3.07504 3.89244 3.08586 3.79601 3.11618C3.69958 3.1465 3.61016 3.1957 3.53298 3.26093C3.49475 3.28902 3.461 3.32273 3.43287 3.36092C3.35658 3.43706 3.29606 3.52748 3.25478 3.62699C3.21349 3.7265 3.19224 3.83316 3.19224 3.94088C3.19224 4.0486 3.21349 4.15526 3.25478 4.25478C3.29606 4.35429 3.35658 4.4447 3.43287 4.52085V4.52085L4.43404 5.52078C4.59706 5.66156 4.80393 5.7415 5.01936 5.74697C5.2348 5.75244 5.44546 5.6831 5.61543 5.55078V5.55078Z" fill="white"/>
                    </svg>
                </div>
                <div class="dark">
                    <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12.8794 13.9399C11.45 13.9349 10.0683 13.4248 8.97864 12.4997C7.88894 11.5746 7.16134 10.2941 6.9244 8.88441C6.68747 7.47476 6.95646 6.02674 7.68383 4.79622C8.41121 3.56571 9.55015 2.63192 10.8994 2.15989C10.5371 2.12017 10.1716 2.12017 9.80938 2.15989C7.90565 2.2301 6.10329 3.03573 4.78129 4.40738C3.45928 5.77904 2.72063 7.60986 2.72063 9.51489C2.72063 11.4199 3.45928 13.2507 4.78129 14.6224C6.10329 15.994 7.90565 16.7997 9.80938 16.8699C11.1532 16.8713 12.4708 16.4977 13.6139 15.791C14.7569 15.0844 15.68 14.0727 16.2794 12.8699C15.2547 13.5083 14.0849 13.8764 12.8794 13.9399Z" fill="black"/>
                    </svg>
                </div>
            </div>
        </div>
    </label>
</div>
