<!-- ## TOP NAVIGATION START ## -->
{% unless site.GTM-ID == 'TODO' %}
<!-- Include GTM -->
{% include google-tag-noscript.html %}
{% endunless %}
<!-- panda Forex plugin initialisation -->
<div id="pts-forx-init-wraper">
    <panda-forex-init id="panda-forex-init"></panda-forex-init>
    <panda-forex-personal-profile id="panda-forex-personal-profile"></panda-forex-personal-profile>
    <panda-forex-client-area id="panda-forex-client-area"></panda-forex-client-area>
</div>
<!-- panda Forex plugin initialisation -->
<header id="Header" class="header pin-header">
    <nav>
        <div class="nav-wrapper container">
            <div class="pull-left logo-container">
                <a href="{{ lang-router }}" class="logo"
                   title="{{ site.data.translations[page.lang].theme_UI.go_to_homepage }}"><img
                        src="/assets/images/logo.svg" alt="{{ site.data.translations[page.lang].brand.name }}" title="{{ site.data.translations[page.lang].brand.name }}">
                </a>
            </div>
            <div class="navigation-user-action-container pull-right">
                <div class="menu-holder desktop-only">
                    {% include navigation/main-nested-menu.liquid %}
                </div>
                <a href="#modalVideoFrame" class="modal-trigger video_popup_trigger hide-on-small-only" title="{{ site.data.translations[page.lang].theme_UI.video_title }}">
                    <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14.7126 10.4686L8.34656 15.233L8.34656 5.70413L14.7126 10.4686Z" fill="white"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M10.5 21C16.299 21 21 16.299 21 10.5C21 4.70101 16.299 0 10.5 0C4.70101 0 0 4.70101 0 10.5C0 16.299 4.70101 21 10.5 21ZM10.5 18.9251C15.1531 18.9251 18.9252 15.1531 18.9252 10.5C18.9252 5.84692 15.1531 2.07485 10.5 2.07485C5.84692 2.07485 2.07485 5.84692 2.07485 10.5C2.07485 15.1531 5.84692 18.9251 10.5 18.9251Z" fill="white"/>
                    </svg>
                    {{ site.data.translations[page.lang].theme_UI.video_text }}
                </a>
                <div class="hide-on-small-only">
                    {% include language_switcher/flags.html %}
                </div>
                <a href="{{ site.trading_platform_page }}" class="traderoom_link bg_hover_fadein hide-on-small-only" title="t site.trade-room">
                    {{ site.data.translations[page.lang].theme_UI.trade-room }}
                </a>
                <ul class="user-actions loader_animation desktop-only">
                    {% capture redir_link %}{{ lang-router }}{{ site.trading_platform_page }}{% endcapture %}
                    <li>
                        <panda-forex-clock id="panda-forex-clock"></panda-forex-clock>
                    </li>
                    <li>
                        <panda-forex-login id="panda-forex-login" show-logout="false" redirect-after-login="{{ redir_link | replace: '//', '/' }}"></panda-forex-login>
                        <a class="cta_top_nav_login bg_hover_fadein  lock_load hide_logged_in"
                           href="javascript:void(0);" onclick="runPlugin('forexLogin')">
                            {{ site.data.translations[page.lang].theme_UI.login }}
                        </a>
                    </li>
                    <li>
                        <panda-forex-signup style="" id="panda-forex-signup" redirect-after-signup="{{ redir_link | replace: '//', '/' }}"></panda-forex-signup>
                        <a class="cta_top_nav_signup bg_hover_fadein  lock_load hide_logged_in"
                           href="javascript:void(0);" onclick="runPlugin('forexSignup')">
                            {{ site.data.translations[page.lang].theme_UI.signup }}
                        </a>
                    </li>
                    <li>
                        <panda-forex-menu id="panda-forex-menu"></panda-forex-menu>
                    </li>
                    <li>
                        <panda-forex-deposit-credit id="panda-forex-deposit-credit"></panda-forex-deposit-credit>
                    </li>
                </ul>
                <div class="show-on-medium-and-down mobile-only mobile_nav_toggle">
                    <a href="javascript:void(0);" data-target="slide-out" class="sidenav-trigger sidenav-toggle">
                        <div class="mobile_hamburger">
                            <svg width="27" height="15" viewBox="0 0 27 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect x="0.740234" y="0.959961" width="26.1" height="1.31818" fill="white"/>
                                <rect x="0.739258" y="6.9082" width="26.1" height="1.31818" fill="white"/>
                                <rect x="0.739258" y="12.8569" width="26.1" height="1.31818" fill="white"/>
                            </svg>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </nav>
    {% include install-app.html %}
</header>
<!-- ## TOP NAVIGATION END ## -->
