{% unless site.languages.size == 1 %}
{% capture language-switcher %}
<div class="lang_switcher">
    <a class="active_lang" href="#" title="{{ site.languageNames[page.lang] }}">
        <div class="flag_icon" style="background-image: url('/assets/images/flags/{{ page.lang }}.svg');"></div>
    </a>
    <ul class="additional_langs">
        {% for lang in site.languages %}

            {% if lang == site.defaultLang %}
                {% assign lang-path = "" %}
            {% else %}
                {% assign lang-path = "/" | append: lang %}
            {% endif %}

            {% assign page-link = page.url | remove: page.lang | replace: '//', '/' %}

            {% if lang != page.lang %}
                <li class="additional_lang">
                    <a href="{{ lang-path }}{{ page-link }}" onclick="setPreferredLang('{{ lang }}');" title="{{ site.languageNames[lang] }}">
                        <div class="flag_icon" style="background-image: url('/assets/images/flags/{{ lang }}.svg');"></div>
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
{% endcapture %}
{{ language-switcher | replace: '    ', '' | strip_newlines }}
{% endunless %}
