{% unless site.languages.size == 1 %}
{% capture language-flags %}
<div class="lang_switcher_round">
    <a class="active_lang" href="#" title="{{ site.languageNames[site.lang] }}">
        <div class="flag_icon" style="background-image: url('/assets/images/flags/{{ site.lang }}.svg');"></div>
        <span class="lang_name">{{ site.languageNames[site.lang] }}</span>
    </a>
    <ul class="additional_langs">
        {% for lang in site.languages %}
        {% if lang == site.defaultLang %}
        {% assign lang-path = "" %}
        {% else %}
        {% assign lang-path = lang | prepend: "/" %}
        {% endif %}
        {% if lang == site.lang %} {% continue %} {% endif %}
        <li class="additional_lang">
            <a href="{{ lang-path }}{{ page.url }}" onclick="setPreferredLang('{{ lang }}');">
                <div class="flag_icon" style="background-image: url('/assets/images/flags/{{ lang }}.svg');"></div>
                <span class="lang_name">{{ site.languageNames[lang] }}</span>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endcapture %}
{{ language-flags | replace: '    ', '' | strip_newlines }}
{% endunless %}

