{% unless site.languages.size == 1 %}
<ul class="lang-switcher">
    <a class="active" href="javascript:void(0);" title="{{ site.languageNames[site.lang] }}">
        <li class="active_lang">
            <span> {{ site.languageNames[site.lang] }} </span>
        </li>
    </a>

    {% for lang in site.languageNames %}
    {% if lang[0] == site.lang %} {% continue %} {% endif %}
        <a href="/{{ lang[0] }}{{ page.url }}?lang={{ lang[0] }}" title="{{lang[1]}}" onclick="setPreferredLang('{{ lang }}');">
            <li class="additional_lang">
                <span>{{ lang[1] }}</span>
            </li>
        </a>
    {% endfor %}
</ul>
{% endunless %}
