{% unless site.languages.size == 1 %}
<h3 class="localisation-title">
    <a class="dropdown-trigger" href="javascript:void(0)" data-target="lang-dropdown"
       title=" t nfp-localization.title"> t nfp-localization.title </a>
</h3>
<ul id="lang-dropdown" class="nfp-lang-switcher dropdown-content">
    {% for lang in site.nfp_languages_desc %}
    <li class="additional_lang {{ lang[0] }}">
        {% capture lang_link %}{{ lang-router }}{{ page.url }}?lang={{ lang[0] }}{% endcapture %}
        <a href="{{ lang_link | replace: '//', '/' }}" title="{{lang[1]}}">
            <img src="/assets/images/flags/{{lang[0]}}.svg" alt="{{ lang[1] }}">
            <span>{{ lang[1] }}</span>
        </a>
    </li>
    {% endfor %}
</ul>
{% endunless %}
