<div id="categories">
    <h3 class="center"> {{ site.data.translations[page.lang].blog.blog_categories }}</h3>
    {% assign sortedCategories = site.categories | sort %}
    <!-- Blog categories list -->
    <nav class="cat-nav">
        <ul class="list-group">
            {% for category in sortedCategories %}
                {% assign catUrl = category[0] | remove:' ' | downcase %}
                <li class="list-group-item">
                    <!-- Category name and link to the category posts collection (Note: dedicated page should be created for each category collection)-->
                    <a class="nav-item-link btn" href="{{site.baseurl}}/blog/{{catUrl}}" title=" {{ site.data.translations[page.lang].blog.category-archive }}">
                        {{ category[0] | capitalize  | replace: "-", " " }}:
                        <!-- Count number of posts of the category -->
                        <span class="badge pull-right waves-effect">{{ category[1].size }}</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </nav>
</div>
