<!DOCTYPE HTML>
<html lang="{{ site.lang }}">
<head>
    {% include head.html %}
</head>
<body class="not_found" {% if site.localDevelopment == false and site.deployEnv == 'www' %} oncontextmenu="return
false;"
{% endif %}>

<div  class="container row not_found_wrapper">
    <div class="col s12 offset-m1 m10 l8 offset-l2 center">
        <div class="logo"></div>
        <h1>ERROR 404</h1>
        <h3>The page you are looking for can’t be found</h3>
        <h4>The link is broken or the page may have been removed</h4>
        <div class="nav-buttons row">
            <a class="homepage-button col s12 xl4" href="{{ lang-router }}" title="Navigate to Homepage">Homepage</a>
            <a class="trading-button col s12 xl4 l4"  href="{{ site.trading_platform_page }}"
               title="Navigate to Trading Platform">Trading Platform</a>
        </div>
        <div class="history-btn">
            <a id="history-back" class="col s12 xl12" href="javascript:void(0);" onclick="history.back();"
               title="Navigate to previous page"
               style="display: none;">Back to previous page</a>
        </div>
    </div>
</div>

</body>
<script type="text/javascript">
    if ( history.length > 2 ) {
        document.getElementById('history-back').style.display = 'inline-block';
    }
</script>
</html>
