<!DOCTYPE HTML>
<html lang="{{ site.lang }}">
<head>
    {% include head.html %}
</head>
<body class="inner_page">
<!-- Wrapper -->
<div class="blog_homepage">
    <!-- Header -->
    {% include top-nav.html %}
    <!-- Main -->
    <div id="main">
        <div class="inner_title valign-wrapper {{ page.section }}">
            <div class="container center">
                <h1 class="text-inner_title">{{ page.title }}</h1>
            </div>
        </div>
        <h3 class="text_center editable">Blog carousel can be adjusted to display all blog posts or posts filtered by particular categories</h3>
        <section class="blog_carousel">
            <div class="controls-holder left">
                <div title="Navigation" class="arrow prev-arrow">
                    <svg width="23" height="38" viewBox="0 0 23 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M23 35.0023C23 37.5847 19.8779 38.8779 18.0519 37.0519L1.41422 20.4142C0.633167 19.6332 0.633165 18.3668 1.41422 17.5858L18.0519 0.948094C19.8779 -0.877875 23 0.415348 23 2.99766C23 3.76639 22.6946 4.50365 22.151 5.04723L8.19827 19L22.151 32.9528C22.6946 33.4964 23 34.2336 23 35.0023Z" fill="white"/>
                    </svg>
                </div>
            </div>
            <div class="controls-holder right">
                <div  title="Navigation" class="arrow next-arrow">
                    <svg width="23" height="38" viewBox="0 0 23 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M0 35.0023C0 37.5847 3.12212 38.8779 4.94809 37.0519L21.5858 20.4142C22.3668 19.6332 22.3668 18.3668 21.5858 17.5858L4.94809 0.948094C3.12212 -0.877875 0 0.415348 0 2.99766C0 3.76639 0.305381 4.50365 0.848959 5.04723L14.8017 19L0.848959 32.9528C0.30538 33.4964 0 34.2336 0 35.0023Z" fill="white"/>
                    </svg>

                </div>
            </div>
            <div class="carousel">
                {% assign posts = site.posts | where:"lang", page.lang %}
                {% for post in posts %}
                {% if post.lang == page.lang %}
                    <div class="carousel-item {% if forloop.first == true %}active{% endif %}">
                        <a class="carousel-img-link" href="{{ post.url }}" title="{{ site.data.translations[page.lang].blog.read-post }}">
                            <img src="{{ post.image }}" alt="{{ post.title }}" class="img-responsive">
                        </a>
                        <div class="carousel_caption">
                            <a href="{{ post.url }}" title="{{ site.data.translations[page.lang].blog.read-post }}">{{ post.title | truncate: 80 }}</a>
                            <span title="{{ site.data.translations[page.lang].blog.posted-on }} {{ post.date | date_to_string }}"><i class="glyphicon glyphicon-time"></i> {{ post.date | date_to_string }}</span>
                        </div>
                        <div class="carousel_excerpt">
                            <span>{{ post.excerpt | truncate: 100 }}</span>
                        </div>
                    </div>
                {% endif %}
                {% endfor %}
            </div>
        </section>
        <section class="blog_categories container center">
            {% include blog/categories-list.liquid %}
        </section>
        <section class="blog_tiles">
            <div class="container">
                <h2 class="center editable">Nulla sit amet arcu sit amet nibh.</h2>
                <ul class="d-flex">
                    {% for post in paginator.posts %}
                        <li>
                            <a href="{{ post.url }}" class="d-flex">
                                <div class="picture">
                                    <img src="{{ post.image }}" alt="Preview Image">
                                    <span class="more">{{ post.title | truncate: 80 }}</span>
                                </div>
                                <div class="description">
                                    <p class="title">{{ post.title | truncate: 60 }}</p>
                                    <span class="excerpt">{{ post.excerpt | truncate: 200 }}</span>
                                </div>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </section>

        <!-- Blog posts paginator START -->
        {% if paginator.total_pages > 1 %}
        <nav aria-label="Page navigation" class="pagination_container">
            <ul class="pagination">
                <li>
                    {% if paginator.previous_page %}
                    <a href="{{ paginator.previous_page_path | relative_url }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
                    {% else %}
                    <a href="javascript:void(0)" class="disabled" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
                    {% endif %}
                </li>

                {% for page in (1..paginator.total_pages) %}
                <li>
                    {% if page == paginator.page %}
                    <a href="javascript:void(0)" class="active">{{ page }}</a>
                    {% elsif page == 1 %}
                    <a href="{{ paginator.previous_page_path | relative_url }}" title="{{ site.data.translations[page.lang].blog.prev-page }}">{{ page }}</a>
                    {% else %}
                    <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
                    {% endif %}
                </li>
                {% endfor %}
                <li>
                    {% if paginator.next_page %}
                    <a href="{{ paginator.next_page_path | relative_url }}" aria-label="Next" title="{{ site.data.translations[page.lang].blog.next-page }}"><span aria-hidden="true">&raquo;</span></a>
                    {% else %}
                    <a href="javascript:void(0)" class="disabled" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
                    {% endif %}
                </li>
            </ul>
        </nav>
        {% endif %}
        <!-- Blog posts paginator END -->


    </div>
    <!-- Footer -->
    <footer>
        {% include footer.html %}
        <!-- Scripts -->
        {% include scripts-main.html %}
    </footer>
</div>
</body>
</html>

