<!DOCTYPE HTML>
<html lang="{{ site.lang }}">
<head>
    {% include head.html %}
</head>
<body class="inner_page category_list">
{% include google-tag-noscript.html %}
<!-- Wrapper -->
<div id="wrapper">
    <!-- Header -->
    {% include top-nav.html %}
    <!-- Main -->
    <div id="main">
        <div class="inner_title valign-wrapper {{ page.section }}">
            <div class="container center">
                <h1 class="text-inner_title">{{ page.title }}</h1>
            </div>
        </div>
        <section class="content">
            <div id="blog-list" class="container blog-wrapper">
                <div class="row">
                    <div class="col-lg-10">
                        {% include navigation/breadcrumbs.liquid %}
                        <h3 class="article-title">{{ site.brand_name }} {{ site.data.translations[page.lang].blog.latest-posts }} <span class="cat-name">{{ page.category }}</span> </h3>
                        <!-- Posts List Start -->
                        <section class="posts"><!-- News posts category  START -->
                            <div class="archive-group">
                                {% for post in site.categories[page.category] %}
                                    {% if post.lang == page.lang %}
                                        <article class="post-article panel panel-default">
                                            <div class="panel-heading">
                                                <span class="badge date">
                                                    <span title="{{ site.data.translations[page.lang].blog.posted-on }} {{ page.date | date_to_string }}">{{ post.date | date_to_string }}</span>&nbsp; &nbsp; |
                                                    {% assign postCategories = post.categories | sort %}

                                                    {% for category in postCategories %}
                                                        <a href="{{ lang-router }}/blog/{{ category }}"><span class="badge">{{ category | capitalize  | replace: "-", " " }}</span></a>
                                                    {% endfor %}

                                                </span>
                                            </div>
                                            <div class="panel-body">
                                                <img src="{{ post.image }}">
                                                <div class="d-flex flex-column">
                                                    <h2 class="card-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
                                                    <p>
                                                        {{ post.excerpt | truncate: 200 }}<br/><br/>
                                                        <a class="" href="{{ post.url }}">{{ site.data.translations[page.lang].blog.full-article }}</a>
                                                    </p>
                                                </div>
                                            </div>
                                        </article>
                                        <hr>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </section><!-- News posts category  END -->
                    </div>
                    <div class="col-lg-2">
                        {% include blog/categories-list.liquid %}
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- Footer -->
    <footer>
        {% include footer.html %}
        <!-- Scripts -->
        {% include scripts-main.html %}
    </footer>
</div>
</body>
</html>
