---
layout: default
---
<div class="content">
    <section class="page">
        <div class="container {% if page.full_width %}max-container{% endif %}">
            <h1>{{page.title}}</h1>
            {{ content }}
        </div>
        <div class="container">
            {% assign categoryName = page.path | split:'/' | last | split:'.' | first %}
            {% include products-list.html category=categoryName lvl=2 %}
        </div>
    </section>
</div>