<!DOCTYPE html>
<html lang="{{ site.lang }}">
<head>
    {% include head.html %}
</head>
<body class="homepage">
<!-- Wrapper -->
<div id="wrapper" class="aos-all">
    <!-- Header -->
    {% include top-nav.html %}
    <!-- Main -->
    <main>
        {{ content }}
    </main>
</div>

<!-- Footer -->
{% include footer.html %}
<!-- Scripts -->
{% include scripts-main.html %}
</body>
</html>
