<!DOCTYPE HTML>
<html lang="{{ site.lang }}">
<head>
    {% include head.html %}
</head>
<body class="not_found">

<div  class="container row not_found_wrapper">
    <div class="col s12 offset-m1 m10 offset-xl1 xl10">
        <div class="logo">
        </div>
        <h1 class="auto-scale">Offline Mode</h1>
        <h3>You are currently browsing in offline mode <br />
            Please check your internet connection and reload the site
        </h3>
        <div class="nav-buttons row">
            <a class="homepage-button col s12 xl4" href="/" title="Navigate to Homepage">Homepage</a>
        </div>
    </div>
    </body>
</div>
</html>
