<!DOCTYPE HTML>
<html lang="{{ site.lang }}">
<head>
    {% include head.html %}
</head>
<body class="inner_page with_left_sidebar">

<!-- Wrapper -->
<div id="wrapper">
    <!-- Header -->
    {% include top-nav.html %}
    <!-- Main -->
    <main id="main">
        <section class="content">
            <div class="inner_title valign-wrapper {{ page.section }}">
                <div class="container center">
                    <h1 class="text-inner_title">{{ page.title }}</h1>
                </div>
            </div>
            <div class="holder-content">
                <div class="container">
                    <div class="row">
                        <div class="left_sidebar col l3 xl3 hide-on-med-and-down">
                            {% include navigation/side-nav-menu.liquid %}
                        </div>
                        <div class="col s12 m12 l7 xl7 offset-l1 offset-xl1">
                            {% include navigation/breadcrumbs.liquid %}
                            <article class="page-content">
                                {{ content }}
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>
<!-- Footer -->
<footer>
    {% include footer.html %}
    <!-- Scripts -->
    {% include scripts-main.html %}
</footer>
</body>
</html>
