<!DOCTYPE HTML>
<html lang="{{ site.lang }}">
<head>
    {% include head.html %}
</head>
<body class="inner_page post_page">
{% include top-nav.html %}
<!-- Wrapper -->
<main id="main">
    <div class="inner_title valign-wrapper {{ page.section }}">
        <div class="container center">
            <h1 class="text-inner_title">{{ page.title }}</h1>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col s12 m8 offset-m2">
                <article class="page-content">
                    {% include navigation/breadcrumbs.liquid %}
                    <div style="background: url('{{ page.image }}')center center; background-size: cover;" class="post_img"></div>
                    <span class="posted_on">{{ site.data.translations[page.lang].blog.posted-on }}  {{ page.date | date_to_string }}</span>
                    <br />
                    <div class="post-content">
                        {{ content }}
                    </div>
                </article>
                <br/><br/>
                <div class="posts_nav">
                    {% if page.previous.url %}
                    <a class="prev pull_left" href="{{ page.previous.url }}" title="{{ site.data.translations[page.lang].blog.prev-post }}">&laquo;
                        {{ site.data.translations[page.lang].blog.prev-post }} <br>{{ page.previous.title | truncate: 40 }}</a>
                    {% else %}
                    <span>&nbsp;</span>
                    {% endif %}
                    {% if page.next.url %}
                    <a class="next pull_right" href="{{ page.next.url }}" title="{{ site.data.translations[page.lang].blog.next-post }}">{{ site.data.translations[page.lang].blog.next-post }} &raquo;<br>{{ page.next.title | truncate: 40 }} </a>
                    {% else %}
                    <span>&nbsp;</span>
                    {% endif %}

                </div>
            </div>
            <div class="col s12">
                {% include blog/categories-list.liquid %}
            </div>
        </div>
    </div>
</main>
<!-- Footer -->
{% include footer.html %}
<!-- Scripts -->
{% include scripts-main.html %}
</body>
</html>
