---
layout: home
exclude_from_main_menu: true
title: Home Page Title IT
meta-title: Homepage
description: Homepage description IT
permalink: /it/
lang: it
---
<section id="parallaxBox" class="top-hero-screen">
    <div class="hero-bg"></div>
    <div class="container">
        <div class="hero-screen-content-holder parallax">
            <div class="parallax-content">
                <div class="row c-box">
                    <div class="col s12 l6 xl6">
                        <div class="left-content-box parallax-front">
                            <h1 class="editable">IT Your ultimate <br>
                                trading environment</h1>
                            <p class="editable">Discover Brand WebTrader, <br>
                                a next generation trading platform that provides <br/>
                                the same great trading experience across <br/>
                                all platforms and devices.</p>
                            <div class="cta_btn_holder">
                                <a class="cta_button cta_button1 cta_arrow bg_hover_fadein lock_load"
                                   href="javascript:void(0);" onclick="ctaBtnProcessing('login')">
                                    {{ site.data.translations[page.lang].theme_UI.start_trading }}
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="right-content-box col s12 l6 xl6">
                        <div class="open-order-frame layer" data-speed="1"></div>
                        <div class="trading-platform-frame layer" data-speed="3"></div>
                        <div class="mobile-phone layer" data-speed="5">
                            <video class="video-source"
                                   loop
                                   autoplay
                                   muted
                                   id="demoVideo"
                                   poster="/assets/images/home/phone-placeholder.jpg">
                                <source src="/assets/mp4/mobile-open-order-steps.mp4"
                                        type="video/mp4">
                            </video>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="slider-carousel" data-aos="fade-up">
    <div class="row">
        <div class="col s12 m12 l8 offset-l2 center">
            <h3 class="editable">Why Trade with {{ site.brand_name }}?</h3>
            <p class="editable">With over two decades in the business of online trading, {{ site.brand_name }} is an experienced,
                globally recognised name that operates under the strictest standards and is here to stay. {{
                site.brand_name }} offers traders of all levels a safe and secure multi-asset trading experience on a
                variety of platforms.</p>
        </div>
        <div class="col s12 m12 l2 center">
            <div class="controls-slider-carousel">
                <a href="javascript:void(0)"
                   title="Navigation"
                   class="prev-arrow"><img src="/assets/images/home/prev-slider.svg"
                                           alt=""></a>
                <a href="javascript:void(0)"
                   title="Navigation"
                   class="next-arrow"><img src="/assets/images/home/next-slider.svg"
                                           alt=""></a>
            </div>
        </div>
    </div>
    <div class="row full-width-holder">
        <div class="row">
            <div class="carousel-holder">
                <div class="col s12 m12 l12">
                    <div class="full-width-carousel">
                        <div class="carousel-item">
                            <div class="count">01</div>
                            <div class="carousel-icon">
                                <svg width="52"
                                     height="48"
                                     viewBox="0 0 52 48"
                                     fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0)">
                                        <path d="M23.3674 3.71638H28.5887C31.0643 3.71638 33.1348 5.50543 33.5849 7.8312H37.0957C36.6006 3.5822 32.9997 0.272461 28.5887 0.272461H23.3674C18.9563 0.272461 15.3555 3.5822 14.8604 7.8312H18.3712C18.8213 5.50543 20.8918 3.71638 23.3674 3.71638Z"
                                              fill="#353846"/>
                                        <path d="M48.7534 9.53076H3.24735C1.807 9.53076 0.636719 10.6489 0.636719 11.9907C0.636719 11.9907 0.636719 18.7891 0.636719 22.3672C3.29236 25.4086 8.91872 28.0027 20.5315 28.5841V30.8652C11.9345 30.4179 5.67794 28.942 1.67197 26.2584V45.2223C1.67197 46.5641 2.84225 47.6823 4.2826 47.6823H47.7181C49.1585 47.6823 50.3287 46.5641 50.3287 45.2223V26.3031C46.2778 28.942 40.0663 30.4626 31.4692 30.9099V28.6289C43.082 28.0474 48.7084 25.4533 51.364 22.4119V11.9907C51.364 10.6489 50.1937 9.53076 48.7534 9.53076ZM29.6687 26.1689C29.6687 26.974 29.6687 27.8238 29.6687 28.6289C29.6687 29.3892 29.6687 30.1496 29.6687 30.9099C29.6687 31.5361 29.6687 32.207 29.6687 32.8331C29.6687 33.504 29.6687 34.1749 29.6687 34.8458C27.6433 36.8585 24.3124 36.8585 22.287 34.8458C22.287 34.1749 22.287 33.504 22.287 32.8331C22.287 32.207 22.287 31.5361 22.287 30.9099C22.287 30.1496 22.287 29.3892 22.287 28.6289C22.287 27.8238 22.287 26.974 22.287 26.1689C22.287 26.0347 22.287 25.9006 22.287 25.7664C24.3124 23.7537 27.6433 23.7537 29.6687 25.7664C29.6687 25.9453 29.6687 26.0795 29.6687 26.1689Z"
                                              fill="#353846"/>
                                        <path d="M24.9425 28.7185C24.6274 29.0315 24.4023 29.4341 24.4023 29.9261C24.4023 30.3286 24.5824 30.7311 24.8525 30.9995C24.9425 31.0889 25.0325 31.1784 25.1225 31.2231V32.4755C25.1225 32.6096 25.1675 32.7438 25.2125 32.878C25.3476 33.1464 25.6626 33.37 25.9777 33.37C26.3378 33.37 26.6079 33.1911 26.7429 32.878C26.7879 32.7438 26.8329 32.6096 26.8329 32.4755V31.2231C26.923 31.1337 27.013 31.0889 27.103 30.9995C27.3731 30.7311 27.5531 30.3286 27.5531 29.9261C27.5531 29.4341 27.328 29.0315 27.013 28.7185C26.7429 28.4501 26.3828 28.3159 25.9777 28.3159C25.5726 28.3159 25.2125 28.4501 24.9425 28.7185Z"
                                              fill="#353846"/>
                                    </g>
                                    <defs>
                                        <clipPath id="clip0">
                                            <rect width="50.7273"
                                                  height="47.4545"
                                                  fill="white"
                                                  transform="translate(0.636719 0.272461)"/>
                                        </clipPath>
                                    </defs>
                                </svg>
                            </div>
                            <div class="carousel-content">
                                <div class="content">
                                    <h5>Regulated in Multiple Jurisdictions</h5>
                                    <p>We work closely with 3 major regulators (FCA, ASIC & CySEC) to ensure compliance
                                        in multiple regions.</p>
                                </div>
                                <div class="btn-holder">
                                    <a href="javascript:void(0)"
                                       title="Read More">Read More >></a>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="count">02</div>
                            <div class="carousel-icon">
                                <svg width="52"
                                     height="48"
                                     viewBox="0 0 52 48"
                                     fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0)">
                                        <path d="M23.3674 3.71638H28.5887C31.0643 3.71638 33.1348 5.50543 33.5849 7.8312H37.0957C36.6006 3.5822 32.9997 0.272461 28.5887 0.272461H23.3674C18.9563 0.272461 15.3555 3.5822 14.8604 7.8312H18.3712C18.8213 5.50543 20.8918 3.71638 23.3674 3.71638Z"
                                              fill="#353846"/>
                                        <path d="M48.7534 9.53076H3.24735C1.807 9.53076 0.636719 10.6489 0.636719 11.9907C0.636719 11.9907 0.636719 18.7891 0.636719 22.3672C3.29236 25.4086 8.91872 28.0027 20.5315 28.5841V30.8652C11.9345 30.4179 5.67794 28.942 1.67197 26.2584V45.2223C1.67197 46.5641 2.84225 47.6823 4.2826 47.6823H47.7181C49.1585 47.6823 50.3287 46.5641 50.3287 45.2223V26.3031C46.2778 28.942 40.0663 30.4626 31.4692 30.9099V28.6289C43.082 28.0474 48.7084 25.4533 51.364 22.4119V11.9907C51.364 10.6489 50.1937 9.53076 48.7534 9.53076ZM29.6687 26.1689C29.6687 26.974 29.6687 27.8238 29.6687 28.6289C29.6687 29.3892 29.6687 30.1496 29.6687 30.9099C29.6687 31.5361 29.6687 32.207 29.6687 32.8331C29.6687 33.504 29.6687 34.1749 29.6687 34.8458C27.6433 36.8585 24.3124 36.8585 22.287 34.8458C22.287 34.1749 22.287 33.504 22.287 32.8331C22.287 32.207 22.287 31.5361 22.287 30.9099C22.287 30.1496 22.287 29.3892 22.287 28.6289C22.287 27.8238 22.287 26.974 22.287 26.1689C22.287 26.0347 22.287 25.9006 22.287 25.7664C24.3124 23.7537 27.6433 23.7537 29.6687 25.7664C29.6687 25.9453 29.6687 26.0795 29.6687 26.1689Z"
                                              fill="#353846"/>
                                        <path d="M24.9425 28.7185C24.6274 29.0315 24.4023 29.4341 24.4023 29.9261C24.4023 30.3286 24.5824 30.7311 24.8525 30.9995C24.9425 31.0889 25.0325 31.1784 25.1225 31.2231V32.4755C25.1225 32.6096 25.1675 32.7438 25.2125 32.878C25.3476 33.1464 25.6626 33.37 25.9777 33.37C26.3378 33.37 26.6079 33.1911 26.7429 32.878C26.7879 32.7438 26.8329 32.6096 26.8329 32.4755V31.2231C26.923 31.1337 27.013 31.0889 27.103 30.9995C27.3731 30.7311 27.5531 30.3286 27.5531 29.9261C27.5531 29.4341 27.328 29.0315 27.013 28.7185C26.7429 28.4501 26.3828 28.3159 25.9777 28.3159C25.5726 28.3159 25.2125 28.4501 24.9425 28.7185Z"
                                              fill="#353846"/>
                                    </g>
                                    <defs>
                                        <clipPath id="clip0">
                                            <rect width="50.7273"
                                                  height="47.4545"
                                                  fill="white"
                                                  transform="translate(0.636719 0.272461)"/>
                                        </clipPath>
                                    </defs>
                                </svg>
                            </div>
                            <div class="carousel-content">
                                <div class="content">
                                    <h5>Segregated Accounts</h5>
                                    <p>As a {{ site.brand_name }} client, your funds are held in segregated accounts
                                        that are kept completely separate from the company's working capital.</p>
                                </div>
                                <div class="btn-holder">
                                    <a href="javascript:void(0)"
                                       title="Read More">Read More >></a>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="count">03</div>
                            <div class="carousel-icon">
                                <svg width="49"
                                     height="51"
                                     viewBox="0 0 49 51"
                                     fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0)">
                                        <path d="M7.04883 37.8975H41.6362V33.5499H40.4921V28.4924H41.6362V17.0023H40.4921V11.9448H41.6362V7.59717H7.04883V37.8975ZM13.6935 14.7397C14.0455 14.163 14.6616 13.7637 15.3216 13.7637C15.6737 13.7637 15.9817 13.8524 16.2897 14.0299L21.6583 17.1797C22.4063 16.603 23.3304 16.2924 24.2545 16.2924C25.2226 16.2924 26.1027 16.603 26.8508 17.1797L32.2193 14.0743C32.5273 13.8968 32.8354 13.8081 33.1874 13.8081C33.8475 13.8081 34.5075 14.163 34.8155 14.7841C35.0796 15.2277 35.1236 15.7601 34.9916 16.2481C34.8596 16.7361 34.5515 17.1353 34.1115 17.4015L28.5229 20.6844C28.5229 22.3259 27.5548 23.7899 26.1467 24.4997V31.3317C26.1467 32.3964 25.3106 33.2393 24.2545 33.2393C23.1984 33.2393 22.3623 32.3964 22.3623 31.3317V24.4553C20.9542 23.7455 19.9861 22.2372 19.9861 20.6401L14.3975 17.3572C13.9575 17.091 13.6495 16.6917 13.5175 16.2037C13.3414 15.7157 13.4295 15.1833 13.6935 14.7397Z"
                                              fill="#353846"/>
                                        <path d="M44.4968 0.45459H4.36486C2.12064 0.45459 0.272461 2.31786 0.272461 4.58041V40.8255C0.272461 43.088 2.12064 44.9513 4.36486 44.9513H44.4968C46.741 44.9513 48.5892 43.088 48.5892 40.8255V4.58041C48.5452 2.31786 46.697 0.45459 44.4968 0.45459ZM44.4528 38.7404C44.4528 39.8051 43.6167 40.648 42.5606 40.648H6.12503C5.11294 40.6924 4.23285 39.8051 4.23285 38.7404V6.75423C4.23285 5.6895 5.06893 4.84659 6.12503 4.84659H42.5166C43.5727 4.84659 44.4088 5.6895 44.4088 6.75423V38.7404H44.4528Z"
                                              fill="#353846"/>
                                        <path d="M24.2993 23.1243C25.6634 23.1243 26.8075 22.0153 26.8075 20.5956C26.8075 19.2203 25.7074 18.0669 24.2993 18.0669C22.9351 18.0669 21.791 19.176 21.791 20.5956C21.791 22.0153 22.8911 23.1243 24.2993 23.1243Z"
                                              fill="#353846"/>
                                    </g>
                                    <defs>
                                        <clipPath id="clip0">
                                            <rect width="48.2727"
                                                  height="49.9091"
                                                  fill="white"
                                                  transform="translate(0.272461 0.45459)"/>
                                        </clipPath>
                                    </defs>
                                </svg>
                            </div>
                            <div class="carousel-content">
                                <div class="content">
                                    <h5>Client Funds Insured up to $20,000</h5>
                                    <p>Your deposits with us are automatically insured up to $20,000, giving you that
                                        added level of protection.</p>
                                </div>
                                <div class="btn-holder">
                                    <a href="javascript:void(0)"
                                       title="Read More">Read More >></a>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="count">04</div>
                            <div class="carousel-icon">
                                <svg width="49"
                                     height="51"
                                     viewBox="0 0 49 51"
                                     fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M45.8422 29.7939L43.2812 27.9817C43.0494 27.8131 42.9229 27.5286 42.9545 27.2336C43.1021 25.9588 43.1231 24.6734 43.0177 23.3985C42.9967 23.1035 43.1231 22.8296 43.3655 22.6716L45.9898 20.9542C46.875 20.3747 47.2334 19.2368 46.8434 18.257L45.3047 14.3481C44.9675 13.4842 44.1454 12.9258 43.218 12.9258C43.0915 12.9258 42.9651 12.9363 42.8386 12.9574L39.7401 13.4842C39.4555 13.5369 39.171 13.421 38.9813 13.1892C38.1909 12.1883 37.295 11.2506 36.3149 10.4288C36.0936 10.2391 35.9882 9.94411 36.0409 9.65964L36.6732 6.58314C36.884 5.55062 36.336 4.48649 35.3664 4.06505L31.5302 2.40037C31.2456 2.27393 30.9505 2.21072 30.6343 2.21072C29.9071 2.21072 29.2221 2.56894 28.8005 3.15896L26.9878 5.71919C26.8192 5.95098 26.5346 6.07742 26.2396 6.04581C24.9643 5.89831 23.668 5.8667 22.3928 5.98259C22.0977 6.00366 21.8131 5.87723 21.6656 5.63491L19.9477 3.01145C19.5262 2.37929 18.8306 2 18.0718 2C17.7872 2 17.5132 2.05268 17.2497 2.15804L13.3397 3.69629C12.3596 4.08612 11.7694 5.11864 11.9486 6.1617L12.4755 9.24874C12.5282 9.53321 12.4123 9.81768 12.1804 10.0073C11.1687 10.7975 10.2412 11.7036 9.40866 12.6835C9.21896 12.9047 8.92386 13.0101 8.63931 12.9574L5.57244 12.3252C5.42489 12.2936 5.26681 12.2831 5.11926 12.2831C4.22344 12.2831 3.42247 12.8099 3.06414 13.6317L1.39897 17.4668C0.977405 18.4361 1.29358 19.5845 2.15778 20.1956L4.70824 21.9973C4.94009 22.1658 5.06656 22.4503 5.03495 22.7453C4.87686 24.0202 4.85578 25.3161 4.97171 26.6015C4.99279 26.8965 4.86632 27.1704 4.62392 27.3284L2.01023 29.0458C1.12495 29.6253 0.766624 30.7632 1.15657 31.743L2.69527 35.6519C3.03252 36.5158 3.85457 37.0742 4.78201 37.0742C4.90848 37.0742 5.03495 37.0637 5.16142 37.0426L8.23882 36.5158C8.52338 36.4631 8.80793 36.579 8.99764 36.8108C9.78807 37.8223 10.6944 38.7494 11.6746 39.5818C11.8959 39.7714 12.0013 40.0664 11.9486 40.3509L11.3162 43.4063C11.1054 44.4388 11.6535 45.503 12.6231 45.9244L16.4804 47.5996C16.7649 47.7261 17.06 47.7893 17.3762 47.7893C18.1034 47.7893 18.7884 47.4311 19.21 46.841L21.0122 44.2913C21.1808 44.0596 21.4654 43.9331 21.7604 43.9647C23.0357 44.1122 24.332 44.1333 25.6072 44.0279C25.9023 44.0069 26.1869 44.1333 26.3344 44.3756L28.0523 46.9885C28.4738 47.6207 29.1694 48 29.9282 48C30.2128 48 30.4868 47.9473 30.7503 47.842L34.6603 46.3037C35.6404 45.9139 36.2306 44.8814 36.0514 43.8383L35.5245 40.7513C35.4718 40.4668 35.5877 40.1823 35.8196 39.9927C36.8313 39.2025 37.7588 38.2964 38.5808 37.3165C38.7705 37.0953 39.0656 36.9899 39.3502 37.0426L42.417 37.6748C42.5646 37.7064 42.7227 37.7169 42.8702 37.7169C43.766 37.7169 44.567 37.1901 44.9253 36.3683L46.601 32.5121C47.0226 31.5534 46.7064 30.4049 45.8422 29.7939ZM28.1577 35.5465C22.3296 37.8433 15.7532 34.9881 13.4557 29.1617C11.1581 23.3353 14.0142 16.7609 19.8423 14.464C25.6704 12.1672 32.2468 15.0224 34.5443 20.8488C36.8313 26.6647 33.9752 33.2497 28.1577 35.5465Z"
                                          fill="#353846"/>
                                </svg>
                            </div>
                            <div class="carousel-content">
                                <div class="content">
                                    <h5>Rapid Withdrawals</h5>
                                    <p>When you trade with {{ site.brand_name }}, your funds are yours to withdraw at
                                        any time with no delays, whatever the size of your withdrawal request.</p>
                                </div>
                                <div class="btn-holder">
                                    <a href="javascript:void(0)"
                                       title="Read More">Read More >></a>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="count">05</div>
                            <div class="carousel-icon">
                                <svg width="49"
                                     height="51"
                                     viewBox="0 0 49 51"
                                     fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M45.8422 29.7939L43.2812 27.9817C43.0494 27.8131 42.9229 27.5286 42.9545 27.2336C43.1021 25.9588 43.1231 24.6734 43.0177 23.3985C42.9967 23.1035 43.1231 22.8296 43.3655 22.6716L45.9898 20.9542C46.875 20.3747 47.2334 19.2368 46.8434 18.257L45.3047 14.3481C44.9675 13.4842 44.1454 12.9258 43.218 12.9258C43.0915 12.9258 42.9651 12.9363 42.8386 12.9574L39.7401 13.4842C39.4555 13.5369 39.171 13.421 38.9813 13.1892C38.1909 12.1883 37.295 11.2506 36.3149 10.4288C36.0936 10.2391 35.9882 9.94411 36.0409 9.65964L36.6732 6.58314C36.884 5.55062 36.336 4.48649 35.3664 4.06505L31.5302 2.40037C31.2456 2.27393 30.9505 2.21072 30.6343 2.21072C29.9071 2.21072 29.2221 2.56894 28.8005 3.15896L26.9878 5.71919C26.8192 5.95098 26.5346 6.07742 26.2396 6.04581C24.9643 5.89831 23.668 5.8667 22.3928 5.98259C22.0977 6.00366 21.8131 5.87723 21.6656 5.63491L19.9477 3.01145C19.5262 2.37929 18.8306 2 18.0718 2C17.7872 2 17.5132 2.05268 17.2497 2.15804L13.3397 3.69629C12.3596 4.08612 11.7694 5.11864 11.9486 6.1617L12.4755 9.24874C12.5282 9.53321 12.4123 9.81768 12.1804 10.0073C11.1687 10.7975 10.2412 11.7036 9.40866 12.6835C9.21896 12.9047 8.92386 13.0101 8.63931 12.9574L5.57244 12.3252C5.42489 12.2936 5.26681 12.2831 5.11926 12.2831C4.22344 12.2831 3.42247 12.8099 3.06414 13.6317L1.39897 17.4668C0.977405 18.4361 1.29358 19.5845 2.15778 20.1956L4.70824 21.9973C4.94009 22.1658 5.06656 22.4503 5.03495 22.7453C4.87686 24.0202 4.85578 25.3161 4.97171 26.6015C4.99279 26.8965 4.86632 27.1704 4.62392 27.3284L2.01023 29.0458C1.12495 29.6253 0.766624 30.7632 1.15657 31.743L2.69527 35.6519C3.03252 36.5158 3.85457 37.0742 4.78201 37.0742C4.90848 37.0742 5.03495 37.0637 5.16142 37.0426L8.23882 36.5158C8.52338 36.4631 8.80793 36.579 8.99764 36.8108C9.78807 37.8223 10.6944 38.7494 11.6746 39.5818C11.8959 39.7714 12.0013 40.0664 11.9486 40.3509L11.3162 43.4063C11.1054 44.4388 11.6535 45.503 12.6231 45.9244L16.4804 47.5996C16.7649 47.7261 17.06 47.7893 17.3762 47.7893C18.1034 47.7893 18.7884 47.4311 19.21 46.841L21.0122 44.2913C21.1808 44.0596 21.4654 43.9331 21.7604 43.9647C23.0357 44.1122 24.332 44.1333 25.6072 44.0279C25.9023 44.0069 26.1869 44.1333 26.3344 44.3756L28.0523 46.9885C28.4738 47.6207 29.1694 48 29.9282 48C30.2128 48 30.4868 47.9473 30.7503 47.842L34.6603 46.3037C35.6404 45.9139 36.2306 44.8814 36.0514 43.8383L35.5245 40.7513C35.4718 40.4668 35.5877 40.1823 35.8196 39.9927C36.8313 39.2025 37.7588 38.2964 38.5808 37.3165C38.7705 37.0953 39.0656 36.9899 39.3502 37.0426L42.417 37.6748C42.5646 37.7064 42.7227 37.7169 42.8702 37.7169C43.766 37.7169 44.567 37.1901 44.9253 36.3683L46.601 32.5121C47.0226 31.5534 46.7064 30.4049 45.8422 29.7939ZM28.1577 35.5465C22.3296 37.8433 15.7532 34.9881 13.4557 29.1617C11.1581 23.3353 14.0142 16.7609 19.8423 14.464C25.6704 12.1672 32.2468 15.0224 34.5443 20.8488C36.8313 26.6647 33.9752 33.2497 28.1577 35.5465Z"
                                          fill="#353846"/>
                                </svg>
                            </div>
                            <div class="carousel-content">
                                <div class="content">
                                    <h5>50,000+ Active Clients</h5>
                                    <p>Join an ever-growing community of traders who are benefiting from our ultra-low
                                        spreads and no conflicts execution.</p>
                                </div>
                                <div class="btn-holder">
                                    <a href="javascript:void(0)"
                                       title="Read More">Read More >></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="slogan-banner" data-aos="fade-up">
    <div class="container">
        <div class="row center">
            <h3 class="editable">Always On Your Side </h3>
            <p class="editable">{{ site.brand_name }} is committed to eliminating all conflicts of interest between us and our clients.
                We want you to succeed and are here to help you on every step of your trading journey.</p>
            <div class="btn-holder">
                <a class="cta_button gradient_btn cta_arrow bg_hover_fadein"
                   title="Read More"
                   href="javascript:void(0)">Read more</a>
            </div>
        </div>
    </div>
</section>
<section class="platform-section" data-aos="fade-up">
    <div class="container">
        <div class="row center">
            <h3 class="editable">A WebTrader for Professionals</h3>
        </div>
        <div class="row platform">
            <div class="left_info info">
                <ul>
                    <li>
                        <div class="title editable">Trading Account Live Data</div>
                    </li>
                    <li>
                        <div class="title editable">Extended Market Watch</div>
                    </li>
                </ul>
            </div>
            <div class="center_info info">
                <ul>
                    <li>
                        <div class="title editable">Intuitive charting with professional technical tools</div>
                    </li>
                    <li>
                        <div class="title editable">Client area integration</div>
                    </li>
                </ul>
            </div>
            <div class="right_info info">
                <ul>
                    <li>
                        <div class="title editable">Easy-to-use order window</div>
                    </li>
                    <li>
                        <div class="title editable">Existing positions window</div>
                    </li>
                </ul>
            </div>
            <div class="col s12 m12 l6 offset-l3">
                <img src="/assets/images/placeholder_img.svg"
                     data-src="/assets/images/home/laptop-img.png"
                     alt="Laptop"
                     class="lazy"
                >
            </div>
        </div>
        <div class="row center">
            <div class="btn-holder">
                <a class="cta_button cta_button1 bg_hover_fadein lock_load"
                   href="javascript:void(0);" onclick="ctaBtnProcessing('login')">
                    {{ site.data.translations[page.lang].theme_UI.start_trading }}
                </a>
                <a class="cta_button cta_button2 bg_hover_fadein lock_load hide_logged_in"
                   href="javascript:void(0);" onclick="ctaBtnProcessing('signup')">
                    {{ site.data.translations[page.lang].theme_UI.open_account }}
                </a>
            </div>
        </div>
    </div>
</section>
<section class="arrows-section" data-aos="fade-up">
    <div class="container">
        <div class="row center">
            <h3 class="editable">New to Trading?</h3>
            <p class="editable">If you're excited about markets but are just getting started, why not try our new social trading
                platform. Get to know our community of successful trade leaders, select a portfolio that matches your
                risk tolerance, and allocate a portion of your capital to it. It's that simple!</p>
        </div>
        <div class="row">
            <div class="arrows-block-holder">
                <h5 class="editable">How does social trading work?</h5>
                <div class="arrows-block">
                    <div class="icon-item">
                        <div class="icon-bg">
                            <img src="/assets/images/placeholder_img.svg"
                                 data-src="/assets/images/home/men-icon.svg"
                                 alt="Men icon"
                                 class="lazy">
                        </div>
                        <p class="editable">Choose a trade leader</p>
                    </div>
                    <div class="icon-item">
                        <div class="icon-bg">
                            <img src="/assets/images/placeholder_img.svg"
                                 data-src="/assets/images/home/file-icon.svg"
                                 alt="File icon"
                                 class="lazy">
                        </div>
                        <p class="editable">Allocate capital to their strategy</p>
                    </div>
                    <div class="icon-item">
                        <div class="icon-bg">
                            <img src="/assets/images/placeholder_img.svg"
                                 data-src="/assets/images/home/message-icon.svg"
                                 alt="Message icon"
                                 class="lazy">
                        </div>
                        <p class="editable">Their performance will be proportionally mirrored by your own account.</p>
                    </div>
                </div>
                <div class="btn-holder">
                    <a class="cta_button cta_button1 bg_hover_fadein lock_load"
                       href="javascript:void(0);" onclick="ctaBtnProcessing('login')">
                        {{ site.data.translations[page.lang].theme_UI.start_trading}}
                    </a>
                    <a class="cta_button cta_button2 bg_hover_fadein lock_load hide_logged_in"
                       href="javascript:void(0);" onclick="ctaBtnProcessing('signup')">
                        {{ site.data.translations[page.lang].theme_UI.open_account }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="accounts-section" data-aos="fade-up">
    <div class="container">
        <div class="small-width-container">
            <div class="row center">
                <h3 class="editable">Account Types</h3>
            </div>
            <div class="row">
                <div class="accounts-holder">
                    {% include account-types.liquid %}
                </div>
            </div>
            <div class="row center">
                <div class="btn-holder">
                    <a class="cta_button cta_button1 cta_arrow bg_hover_fadein transparent_bg lock_load hide_logged_in"
                       href="javascript:void(0);" onclick="ctaBtnProcessing('signup')">
                        {{ site.data.translations[page.lang].theme_UI.open_account }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="advantages-section" data-aos="fade-up">
    <div class="container">
        <div class="row">
            <div class="col s12 m12 l5">
                <h4 class="editable">Receive the VIP treatment, whatever the size of your account.</h4>
                <p class="border-text editable">Over the years {{ site.brand_name }} has developed a solid reputation for
                    reliability and trust. We want to see you succeed and have put together a multi-asset offering, a
                    collection of powerful platforms, and a wealth of educational, news and analysis resources to help
                    you on your way. All of the above is bolstered by our highly competitive spreads and rapid execution
                    technologies, so that in the heat of the moment you can get access to the market of your choice,
                    with no re-quotes or rejections.</p>
                <p class="editable">Our team of experienced customer support managers is available 24/7 to support you at every stage of
                    your online trading journey.</p>
                <div class="btn-holder">
                    <a class="cta_button cta_button1 bg_hover_fadein lock_load"
                       href="javascript:void(0);" onclick="ctaBtnProcessing('login')">
                        {{ site.data.translations[page.lang].theme_UI.start_trading }}
                    </a>
                    <a class="cta_button cta_button2 bg_hover_fadein lock_load hide_logged_in"
                       href="javascript:void(0);" onclick="ctaBtnProcessing('signup')">
                        {{ site.data.translations[page.lang].theme_UI.open_account }}
                    </a>
                </div>
            </div>
            <div class="col s12 m12 l6 offset-l1">
                <div class="col s6 m6 l4">
                    <div class="advantage-holder" data-aos="fade-up">
                        <svg width="94"
                             height="94"
                             viewBox="0 0 94 94"
                             fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  clip-rule="evenodd"
                                  d="M35.9466 79.3022H58.0541V71.7964V63.8012V57.8455V33.5333L57.7266 32.7175L56.9078 32.3911H54.1239H39.8768H37.0929L36.2741 32.7175L35.9466 33.4517V42.426V47.8922V49.7686V55.7243V63.7196V71.7149V79.3022ZM12.6109 79.3022H20.4714V49.9318L21.2083 48.0554L23.0915 47.2395H25.2204V42.5076L25.9573 41.7733H34.3909V33.6149L35.1278 31.82L35.2097 31.7384L37.0929 30.9226H39.1399V24.9669L39.8768 24.2327H42.9064V18.277L43.6433 17.5427H46.2634V8.65003L47.0003 7.91577L47.7373 8.65003V17.5427H50.3574L51.0943 18.277V24.2327H54.1239L54.8608 24.9669V30.9226H56.9078L58.791 31.7384L59.5279 33.6149V55.4795L60.6742 55.2348H70.991L72.8743 56.0506L73.6112 57.9271V79.3022H81.3079L82.0448 80.0365V84.3605L81.3079 85.0947H12.6109L11.874 84.3605V80.0365L12.6109 79.3022ZM80.5709 80.7707H72.8743H58.791H35.2097H21.2902H13.4297V83.5446H80.6528V80.7707H80.5709ZM41.9238 48.6264L41.105 47.8922L41.8419 47.1579H51.995L52.8138 47.8922L52.0769 48.6264H41.9238ZM41.9238 40.6312L41.1869 39.8969L41.9238 39.1626H52.0769L52.8138 39.8969L52.0769 40.6312H41.9238ZM41.9238 72.5307L41.1869 71.7964L41.9238 71.0622H52.0769L52.8138 71.7964L52.0769 72.5307H41.9238ZM41.9238 64.617L41.1869 63.8827L41.9238 63.1485H52.0769L52.8138 63.8827L52.0769 64.617H41.9238ZM41.9238 56.6217L41.1869 55.8875L41.9238 55.1532H52.0769L52.8138 55.8875L52.0769 56.6217H41.9238ZM59.5279 71.0622H66.8971L67.634 71.7964L66.8971 72.5307H59.5279V79.2206H72.1373V57.8455L71.8098 57.0296L70.991 56.7033H60.6742L59.8554 57.0296L59.5279 57.8455V63.0669H66.8971L67.634 63.8012L66.8971 64.5354H59.5279V71.0622ZM25.9573 72.5307L25.2204 71.7964L25.9573 71.0622H34.3909V64.617H25.9573L25.2204 63.8827L25.9573 63.1485H34.3909V56.7033H25.9573L25.2204 55.9691L25.9573 55.2348H34.3909V50.0134L34.0634 49.1975L33.2446 48.8712H25.9573H23.0915L22.2727 49.1975L21.9452 50.0134V79.3838H34.3909V72.6939H25.9573V72.5307ZM34.3909 43.2419H26.6942V47.2395H33.2446H34.3909V43.2419ZM49.5386 24.2327V19.0928H46.9185H44.2983V24.2327H49.5386ZM53.3051 25.7828H50.3574H43.6433H40.6137V30.9226H53.3051V25.7828Z"
                                  fill="#32B4F4"/>
                        </svg>
                        <p class="editable">Funds Held in Tier 1 Banks</p>
                    </div>
                </div>
                <div class="col s6 m6 l4">
                    <div class="advantage-holder" data-aos="fade-up">
                        <svg width="94"
                             height="94"
                             viewBox="0 0 94 94"
                             fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  clip-rule="evenodd"
                                  d="M38.2759 30.0526H56.8587V26.4211C56.8587 26.152 56.7241 25.883 56.5894 25.7485C56.1854 25.4795 56.0508 25.345 55.6468 25.345H39.2185C38.9492 25.345 38.6799 25.4795 38.5453 25.614C38.4106 25.7485 38.2759 26.0175 38.2759 26.2865V30.0526ZM21.0397 30.0526H36.9294V26.4211C36.9294 25.7485 37.1987 25.2105 37.6026 24.807C38.0066 24.269 38.5453 24 39.2185 24H55.6468C56.3201 24 56.8587 24.269 57.2627 24.6725C57.6667 25.076 57.936 25.7485 57.936 26.2865V29.9181H73.8256C74.9029 29.9181 75.9801 30.3216 76.6534 31.1287C77.3267 31.8012 77.8653 32.8772 77.8653 33.9532V57.0877V65.9649C77.8653 67.0409 77.4614 68.117 76.6534 68.7895C75.9801 69.462 74.9029 70 73.8256 70H21.0397C19.9625 70 18.8852 69.5965 18.2119 68.7895C17.404 68.117 17 67.0409 17 65.9649V34.0877C17 33.0117 17.404 31.9357 18.2119 31.2632C18.8852 30.4561 19.9625 30.0526 21.0397 30.0526ZM73.9603 31.3977H57.3974H37.6026H21.0397C20.2318 31.3977 19.5585 31.6667 19.1545 32.2047C18.6159 32.6082 18.3466 33.2807 18.3466 34.0877V56.5497H41.9117V54.5322C41.9117 54.1287 42.181 53.8596 42.585 53.8596H52.2804C52.6843 53.8596 52.9536 54.1287 52.9536 54.5322V56.5497H76.5188V34.0877C76.5188 33.2807 76.2494 32.6082 75.7108 32.2047C75.3068 31.6667 74.6336 31.3977 73.9603 31.3977ZM18.3466 57.8947V66.0994C18.3466 66.9064 18.6159 67.5789 19.1545 67.9825C19.5585 68.386 20.2318 68.655 21.0397 68.655H73.9603C74.7682 68.655 75.4415 68.386 75.8455 67.8479C76.3841 67.3099 76.6534 66.6374 76.6534 65.9649V57.7602H52.9536V61.5263C52.9536 61.9298 52.6843 62.1988 52.2804 62.1988H42.585C42.181 62.1988 41.9117 61.9298 41.9117 61.5263V57.7602H18.3466V57.8947ZM51.6071 57.2222C51.6071 57.0877 51.6071 57.0877 51.6071 57.0877V55.2047H43.2583V57.0877C43.2583 57.0877 43.2583 57.0877 43.2583 57.2222C43.2583 57.2222 43.2583 57.2222 43.2583 57.3567V60.9883H51.6071V57.2222Z"
                                  fill="#32B4F4"/>
                        </svg>
                        <p class="editable">Licensed and<br> Regulated</p>
                    </div>
                </div>
                <div class="col s6 m6 l4">
                    <div class="advantage-holder" data-aos="fade-up">
                        <svg width="94"
                             height="94"
                             viewBox="0 0 94 94"
                             fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  clip-rule="evenodd"
                                  d="M44.4065 24.5501C39.0515 25.3957 34.2602 27.7913 30.5962 31.4553C29.0461 33.0054 27.6369 34.8374 26.6504 36.6694C29.4688 35.9648 32.71 35.542 36.0921 35.1192C36.5149 34.1328 36.9377 33.1463 37.5014 32.1599C39.3333 28.7778 41.729 26.2412 44.4065 24.5501ZM51.5935 24.5501C54.271 26.2412 56.6667 28.7778 58.4986 32.1599C59.0623 33.1463 59.4851 34.1328 59.9079 35.1192C63.29 35.542 66.3902 35.9648 69.3496 36.6694C68.2222 34.8374 66.9539 33.1463 65.4038 31.5962C61.7398 27.9322 56.9485 25.3957 51.5935 24.5501ZM60.3306 36.5285C63.8537 36.9512 67.0948 37.5149 70.1951 38.2195C71.7453 41.3198 72.5908 44.7019 72.7317 48.3659H62.3035C62.1626 43.8564 61.458 39.9106 60.3306 36.5285ZM62.3035 49.6341C62.3035 54.1436 61.5989 58.0894 60.4715 61.4715C63.9946 61.0488 67.2358 60.4851 70.336 59.7805C71.8862 56.6802 72.7317 53.2981 72.8726 49.6341H62.3035ZM59.9079 62.8808C63.29 62.458 66.5312 62.0352 69.3496 61.3306C68.2222 63.1626 66.9539 64.8537 65.4038 66.4038C61.7398 70.0677 56.9485 72.6043 51.5935 73.3089C54.271 71.6179 56.6667 69.0813 58.4986 65.6992C59.0623 64.8537 59.4851 63.8672 59.9079 62.8808ZM48.6341 73.4499C52.0163 72.1816 55.1165 69.3631 57.3713 65.1355C57.794 64.4309 58.0759 63.7263 58.3577 63.0217C55.2575 63.3035 52.0163 63.4444 48.6341 63.4444V73.4499ZM58.9214 61.6125C55.6802 61.8943 52.1572 62.1761 48.6341 62.1761V49.6341H60.8943C60.8943 54.2845 60.1897 58.2304 58.9214 61.6125ZM60.8943 48.3659H48.6341V35.8238C52.1572 35.8238 55.6802 35.9648 58.9214 36.3875C60.1897 39.7696 60.8943 43.7154 60.8943 48.3659ZM58.3577 34.9783C55.2575 34.6965 52.0163 34.5556 48.6341 34.5556V24.5501C52.0163 25.8184 55.1165 28.6369 57.3713 32.8645C57.794 33.5691 58.0759 34.2737 58.3577 34.9783ZM37.6423 34.9783C37.9241 34.2737 38.206 33.5691 38.6287 32.8645C40.8835 28.6369 43.9837 25.8184 47.3659 24.5501V34.5556C43.9837 34.5556 40.7425 34.6965 37.6423 34.9783ZM37.0786 36.3875C40.3198 36.1057 43.7019 35.8238 47.3659 35.8238V48.3659H35.1057C35.1057 43.7154 35.8103 39.7696 37.0786 36.3875ZM35.1057 49.6341C35.1057 54.1436 35.9512 58.2304 37.0786 61.6125C40.3198 61.8943 43.8428 62.1761 47.3659 62.1761V49.6341H35.1057ZM37.6423 63.0217C37.9241 63.7263 38.3469 64.5718 38.6287 65.1355C40.8835 69.2222 43.9837 72.0406 47.3659 73.4499V63.4444C43.9837 63.4444 40.7425 63.3035 37.6423 63.0217ZM44.4065 73.4499C39.0515 72.6043 34.2602 70.2087 30.5962 66.5447C29.0461 64.9946 27.7778 63.3035 26.6504 61.4715C29.6098 62.0352 32.71 62.5989 36.0921 63.0217C36.5149 64.0081 36.9377 64.9946 37.5014 65.981C39.3333 69.2222 41.729 71.7588 44.4065 73.4499ZM35.6694 61.4715C32.1463 61.0488 28.9051 60.4851 25.8049 59.7805C24.2547 56.6802 23.4092 53.2981 23.2683 49.6341H33.6965C33.8374 54.1436 34.4011 58.0894 35.6694 61.4715ZM33.6965 48.3659H23.2683C23.4092 44.7019 24.2547 41.3198 25.8049 38.2195C28.7642 37.5149 32.1463 36.9512 35.6694 36.5285C34.4011 39.9106 33.8374 43.8564 33.6965 48.3659ZM29.6098 30.6098C34.2602 25.9593 40.8835 23 47.9295 23C55.1165 23 61.5989 25.9593 66.2493 30.6098C70.8997 35.2602 73.8591 41.7425 73.8591 48.9295C73.8591 56.1165 70.8997 62.5989 66.2493 67.2493C61.5989 71.8997 54.9756 74.8591 47.9295 74.8591C40.7425 74.8591 34.2602 71.8997 29.6098 67.2493C24.9593 62.7398 22 56.1165 22 48.9295C22 41.8835 24.9593 35.2602 29.6098 30.6098Z"
                                  fill="#32B4F4"/>
                        </svg>
                        <p class="editable">Serving 50+<br> Countries</p>
                    </div>
                </div>
                <div class="col s6 m6 l4">
                    <div class="advantage-holder" data-aos="fade-up">
                        <svg width="94"
                             height="94"
                             viewBox="0 0 72 79"
                             fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  clip-rule="evenodd"
                                  d="M3.16152 69.637H68.6722C69.0047 69.637 69.171 69.4667 69.3373 69.2963C69.5036 69.1259 69.6698 68.9556 69.6698 68.6148V67.2519C69.6698 66.9111 69.5036 66.7407 69.3373 66.5704C69.171 66.4 69.0047 66.2296 68.6722 66.2296H65.3468H6.48694H3.16152C2.82898 66.2296 2.66271 66.4 2.49644 66.5704C2.33017 66.7407 2.1639 66.9111 2.1639 67.2519V68.6148C2.1639 68.9556 2.33017 69.1259 2.49644 69.2963C2.66271 69.637 2.99525 69.637 3.16152 69.637ZM8.14964 25H64.0166C64.6817 25 65.1805 25.1704 65.5131 25.6815C65.8456 26.0222 66.0119 26.7037 66.0119 27.2148V65.037H68.6722C69.171 65.037 69.8361 65.2074 70.1686 65.7185C70.5012 66.0593 70.8337 66.7407 70.8337 67.2519V68.6148C70.8337 69.2963 70.6674 69.8074 70.1686 70.1481C69.8361 70.4889 69.171 70.8296 68.6722 70.8296H3.16152C2.49644 70.8296 1.99762 70.6593 1.66508 70.1481C1.16627 69.8074 1 69.2963 1 68.7852V67.4222C1 66.7407 1.16627 66.2296 1.66508 65.8889C1.99762 65.5481 2.66271 65.2074 3.16152 65.2074H5.82185V27.2148C5.82185 26.5333 5.98812 26.0222 6.48694 25.6815C6.98575 25.1704 7.48456 25 8.14964 25ZM63.8503 26.363H8.14964C7.8171 26.363 7.65083 26.363 7.48456 26.5333C7.31829 26.7037 7.15202 27.0444 7.15202 27.2148V65.037H64.848V27.2148C64.848 26.8741 64.6817 26.7037 64.5154 26.5333C64.3492 26.363 64.1829 26.363 63.8503 26.363ZM25.4418 68.6148C25.1093 68.6148 24.7767 68.2741 24.7767 67.9333C24.7767 67.5926 25.1093 67.2519 25.4418 67.2519H46.0594C46.3919 67.2519 46.7245 67.5926 46.7245 67.9333C46.7245 68.2741 46.3919 68.6148 46.0594 68.6148H25.4418ZM9.64608 28.0667C9.31354 28.0667 8.981 28.4074 8.981 28.7481V62.6519C8.981 62.9926 9.31354 63.3333 9.64608 63.3333H62.1876C62.5202 63.3333 62.8527 62.9926 62.8527 62.6519V28.7481C62.8527 28.4074 62.5202 28.0667 62.1876 28.0667H9.64608ZM61.6888 29.4296H10.3112V62.1407H61.6888V29.4296Z"
                                  fill="#32B4F4"/>
                        </svg>
                        <p class="editable">24 Hour<br> Support</p>
                    </div>
                </div>
                <div class="col s6 m6 l4">
                    <div class="advantage-holder" data-aos="fade-up">
                        <svg width="94"
                             height="94"
                             viewBox="0 0 94 94"
                             fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  clip-rule="evenodd"
                                  d="M54.5928 33.4142C55.0181 33.4142 55.3017 33.697 55.3017 34.1213C55.3017 34.5455 55.0181 34.8283 54.5928 34.8283H49.3472C46.9371 34.8283 44.6688 35.8182 43.1093 37.3738C41.5498 38.9293 40.5574 41.192 40.5574 43.596V48.2627C40.5574 50.6667 41.5498 52.9293 43.1093 54.4849C44.6688 56.0404 46.9371 57.0303 49.3472 57.0303H54.5928C55.0181 57.0303 55.3017 57.3132 55.3017 57.7374C55.3017 58.1617 55.0181 58.4445 54.5928 58.4445H49.3472C46.5118 58.4445 43.9599 57.3132 42.1169 55.4748C40.2738 53.6364 39.1396 51.091 39.1396 48.2627V43.596C39.1396 40.7677 40.2738 38.2223 42.1169 36.3839C43.9599 34.5455 46.5118 33.4142 49.3472 33.4142H54.5928Z"
                                  fill="#32B4F4"/>
                            <path fill-rule="evenodd"
                                  clip-rule="evenodd"
                                  d="M54.5928 33.4142C55.0181 33.4142 55.3017 33.697 55.3017 34.1213C55.3017 34.5455 55.0181 34.8283 54.5928 34.8283H49.3472C46.9371 34.8283 44.6688 35.8182 43.1093 37.3738C41.5498 38.9293 40.5574 41.192 40.5574 43.596V48.2627C40.5574 50.6667 41.5498 52.9293 43.1093 54.4849C44.6688 56.0404 46.9371 57.0303 49.3472 57.0303H54.5928C55.0181 57.0303 55.3017 57.3132 55.3017 57.7374C55.3017 58.1617 55.0181 58.4445 54.5928 58.4445H49.3472C46.5118 58.4445 43.9599 57.3132 42.1169 55.4748C40.2738 53.6364 39.1396 51.091 39.1396 48.2627V43.596C39.1396 40.7677 40.2738 38.2223 42.1169 36.3839C43.9599 34.5455 46.5118 33.4142 49.3472 33.4142H54.5928Z"
                                  fill="#32B4F4"/>
                            <path fill-rule="evenodd"
                                  clip-rule="evenodd"
                                  d="M35.1698 48.8283C34.7445 48.8283 34.4609 48.5455 34.4609 48.1213C34.4609 47.697 34.7445 47.4142 35.1698 47.4142H53.6002C54.0255 47.4142 54.309 47.697 54.309 48.1213C54.309 48.5455 54.0255 48.8283 53.6002 48.8283H35.1698Z"
                                  fill="#32B4F4"/>
                            <path fill-rule="evenodd"
                                  clip-rule="evenodd"
                                  d="M35.1698 48.8283C34.7445 48.8283 34.4609 48.5455 34.4609 48.1213C34.4609 47.697 34.7445 47.4142 35.1698 47.4142H53.6002C54.0255 47.4142 54.309 47.697 54.309 48.1213C54.309 48.5455 54.0255 48.8283 53.6002 48.8283H35.1698Z"
                                  fill="#32B4F4"/>
                            <path fill-rule="evenodd"
                                  clip-rule="evenodd"
                                  d="M35.1698 44.4444C34.7445 44.4444 34.4609 44.1616 34.4609 43.7373C34.4609 43.3131 34.7445 43.0303 35.1698 43.0303H53.6002C54.0255 43.0303 54.309 43.3131 54.309 43.7373C54.309 44.1616 54.0255 44.4444 53.6002 44.4444H35.1698Z"
                                  fill="#32B4F4"/>
                            <path fill-rule="evenodd"
                                  clip-rule="evenodd"
                                  d="M35.1698 44.4444C34.7445 44.4444 34.4609 44.1616 34.4609 43.7373C34.4609 43.3131 34.7445 43.0303 35.1698 43.0303H53.6002C54.0255 43.0303 54.309 43.3131 54.309 43.7373C54.309 44.1616 54.0255 44.4444 53.6002 44.4444H35.1698Z"
                                  fill="#32B4F4"/>
                            <path fill-rule="evenodd"
                                  clip-rule="evenodd"
                                  d="M48.0709 19.4141C40.6987 19.4141 34.0354 22.3838 29.2152 27.1919C24.3949 32 21.4177 38.6465 21.4177 46C21.4177 53.3535 24.3949 60 29.2152 64.8081C34.0354 69.6162 40.6987 72.5859 48.0709 72.5859C55.443 72.5859 62.1063 69.6162 66.9266 64.8081C71.7468 60 74.7241 53.3535 74.7241 46C74.7241 38.6465 71.7468 32 66.9266 27.1919C62.1063 22.3838 55.443 19.4141 48.0709 19.4141ZM28.2228 26.202C33.3266 21.1111 40.2734 18 48.0709 18C55.8684 18 62.8152 21.1111 67.919 26.202C73.0228 31.2929 76.1418 38.2222 76.1418 46C76.1418 53.7778 73.0228 60.7071 67.919 65.798C62.8152 70.8889 55.8684 74 48.0709 74C40.2734 74 33.3266 70.8889 28.2228 65.798C23.119 60.7071 20 53.6364 20 46C20 38.2222 23.119 31.2929 28.2228 26.202Z"
                                  fill="#32B4F4"/>
                            <path fill-rule="evenodd"
                                  clip-rule="evenodd"
                                  d="M48.0709 19.4141C40.6987 19.4141 34.0354 22.3838 29.2152 27.1919C24.3949 32 21.4177 38.6465 21.4177 46C21.4177 53.3535 24.3949 60 29.2152 64.8081C34.0354 69.6162 40.6987 72.5859 48.0709 72.5859C55.443 72.5859 62.1063 69.6162 66.9266 64.8081C71.7468 60 74.7241 53.3535 74.7241 46C74.7241 38.6465 71.7468 32 66.9266 27.1919C62.1063 22.3838 55.443 19.4141 48.0709 19.4141ZM28.2228 26.202C33.3266 21.1111 40.2734 18 48.0709 18C55.8684 18 62.8152 21.1111 67.919 26.202C73.0228 31.2929 76.1418 38.2222 76.1418 46C76.1418 53.7778 73.0228 60.7071 67.919 65.798C62.8152 70.8889 55.8684 74 48.0709 74C40.2734 74 33.3266 70.8889 28.2228 65.798C23.119 60.7071 20 53.6364 20 46C20 38.2222 23.119 31.2929 28.2228 26.202Z"
                                  fill="#32B4F4"/>
                            <path fill-rule="evenodd"
                                  clip-rule="evenodd"
                                  d="M48.0709 66.0808C50.7645 66.0808 53.4582 65.5151 55.7265 64.5252C58.1367 63.5353 60.405 61.9798 62.2481 60.1414C64.0911 58.303 65.6506 56.0404 66.643 53.6363C67.6354 51.2323 68.2025 48.6868 68.2025 46C68.2025 43.3131 67.6354 40.6262 66.643 38.3636C65.6506 35.9595 64.0911 33.6969 62.2481 31.8585C60.405 30.0202 58.1367 28.4646 55.7265 27.4747C53.3164 26.4848 50.7645 25.9191 48.0709 25.9191C45.3772 25.9191 42.6835 26.4848 40.4152 27.4747C38.005 28.4646 35.7367 30.0202 33.8936 31.8585C32.0506 33.6969 30.4911 35.9595 29.4987 38.3636C28.5063 40.6262 27.9392 43.1717 27.9392 46C27.9392 48.6868 28.5063 51.3737 29.4987 53.6363C30.4911 56.0404 32.0506 58.303 33.8936 60.1414C35.7367 61.9798 38.005 63.5353 40.4152 64.5252C42.6835 65.5151 45.2354 66.0808 48.0709 66.0808ZM56.2936 65.7979C53.7417 66.7878 50.9063 67.4949 48.0709 67.4949C45.0936 67.4949 42.4 66.9292 39.8481 65.7979C37.1544 64.6666 34.886 63.1111 32.9012 61.1313C30.9164 59.1515 29.3569 56.7474 28.2228 54.202C27.2303 51.6565 26.5215 48.8282 26.5215 46C26.5215 43.0303 27.0886 40.3434 28.2228 37.7979C29.2152 35.1111 30.7746 32.707 32.7595 30.7272C34.7443 28.7474 37.1544 27.1919 39.7063 26.0606C42.2582 25.0707 45.0936 24.505 47.9291 24.505C50.9063 24.505 53.6 25.0707 56.1519 26.0606C58.8455 27.1919 61.1139 28.7474 63.0987 30.7272C65.0835 32.707 66.643 35.1111 67.7772 37.6565C68.7696 40.202 69.4784 43.0303 69.4784 45.8585C69.4784 48.8282 68.9114 51.5151 67.7772 54.0606C66.643 56.7474 65.0835 59.0101 63.0987 60.9899C61.2557 63.1111 58.8455 64.6666 56.2936 65.7979Z"
                                  fill="#32B4F4"/>
                            <path fill-rule="evenodd"
                                  clip-rule="evenodd"
                                  d="M48.0709 66.0808C50.7645 66.0808 53.4582 65.5151 55.7265 64.5252C58.1367 63.5353 60.405 61.9798 62.2481 60.1414C64.0911 58.303 65.6506 56.0404 66.643 53.6363C67.6354 51.2323 68.2025 48.6868 68.2025 46C68.2025 43.3131 67.6354 40.6262 66.643 38.3636C65.6506 35.9595 64.0911 33.6969 62.2481 31.8585C60.405 30.0202 58.1367 28.4646 55.7265 27.4747C53.3164 26.4848 50.7645 25.9191 48.0709 25.9191C45.3772 25.9191 42.6835 26.4848 40.4152 27.4747C38.005 28.4646 35.7367 30.0202 33.8936 31.8585C32.0506 33.6969 30.4911 35.9595 29.4987 38.3636C28.5063 40.6262 27.9392 43.1717 27.9392 46C27.9392 48.6868 28.5063 51.3737 29.4987 53.6363C30.4911 56.0404 32.0506 58.303 33.8936 60.1414C35.7367 61.9798 38.005 63.5353 40.4152 64.5252C42.6835 65.5151 45.2354 66.0808 48.0709 66.0808ZM56.2936 65.7979C53.7417 66.7878 50.9063 67.4949 48.0709 67.4949C45.0936 67.4949 42.4 66.9292 39.8481 65.7979C37.1544 64.6666 34.886 63.1111 32.9012 61.1313C30.9164 59.1515 29.3569 56.7474 28.2228 54.202C27.2303 51.6565 26.5215 48.8282 26.5215 46C26.5215 43.0303 27.0886 40.3434 28.2228 37.7979C29.2152 35.1111 30.7746 32.707 32.7595 30.7272C34.7443 28.7474 37.1544 27.1919 39.7063 26.0606C42.2582 25.0707 45.0936 24.505 47.9291 24.505C50.9063 24.505 53.6 25.0707 56.1519 26.0606C58.8455 27.1919 61.1139 28.7474 63.0987 30.7272C65.0835 32.707 66.643 35.1111 67.7772 37.6565C68.7696 40.202 69.4784 43.0303 69.4784 45.8585C69.4784 48.8282 68.9114 51.5151 67.7772 54.0606C66.643 56.7474 65.0835 59.0101 63.0987 60.9899C61.2557 63.1111 58.8455 64.6666 56.2936 65.7979Z"
                                  fill="#32B4F4"/>
                        </svg>
                        <p class="editable">60+ FX<br> Pairs</p>
                    </div>
                </div>
                <div class="col s6 m6 l4">
                    <div class="advantage-holder" data-aos="fade-up">
                        <svg width="94"
                             height="94"
                             viewBox="0 0 94 94"
                             fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  clip-rule="evenodd"
                                  d="M67.9732 40.9558H28.1136C27.5078 40.9558 27.0232 41.1981 26.5386 41.5616C26.1751 41.925 25.9328 42.5308 25.9328 43.1366V66.0347C25.9328 66.6404 26.1751 67.2462 26.5386 67.6097C26.9021 67.9731 27.5078 68.2154 28.1136 68.2154H67.9732C68.579 68.2154 69.1848 67.9731 69.5482 67.6097C69.9117 67.2462 70.154 66.6404 70.154 66.0347V43.1366C70.154 42.5308 69.9117 42.0462 69.5482 41.5616C69.1848 41.1981 68.579 40.9558 67.9732 40.9558ZM18.6636 39.3808L61.4309 27.8712L59.9771 22.5404L17.3309 34.05L18.6636 39.3808ZM61.7944 28.9616L64.7021 39.8654H28.1136C27.2655 39.8654 26.4175 40.2289 25.8117 40.8347C25.2059 41.4404 24.8425 42.2885 24.8425 43.1366V55.9789C24.479 55.9789 23.9944 55.8577 23.7521 55.6154C23.2675 55.3731 22.904 55.0097 22.7828 54.4039L19.0271 40.4712L61.7944 28.9616ZM16.9675 32.9597L16.8463 32.2327C16.7252 31.627 16.7252 31.0212 17.0886 30.5366C17.3309 30.052 17.8155 29.6885 18.4213 29.5674L56.8271 19.2693C57.4328 19.1481 58.0386 19.1481 58.5232 19.5116C59.0078 19.7539 59.3713 20.2385 59.4925 20.8443L59.7348 21.5712L16.9675 32.9597ZM66.0348 45.802V49.3154H57.7963V45.802H66.0348ZM57.1905 44.7116H66.5194C66.8828 44.7116 67.1251 44.9539 67.1251 45.3174V49.9212C67.1251 50.1635 66.8828 50.527 66.5194 50.527H57.1905C56.9482 50.527 56.5848 50.2847 56.5848 49.9212V45.3174C56.7059 44.9539 56.9482 44.7116 57.1905 44.7116ZM36.5944 50.4058V54.8885H30.9002V50.4058H36.5944ZM30.4155 49.3154H37.2001C37.4425 49.3154 37.8059 49.5577 37.8059 49.9212V55.4943C37.8059 55.8577 37.5636 56.1 37.2001 56.1H30.4155C30.0521 56.1 29.8098 55.8577 29.8098 55.4943V49.9212C29.8098 49.5577 30.1732 49.3154 30.4155 49.3154ZM58.7655 63.127C58.5232 63.127 58.1598 62.8847 58.1598 62.5212C58.1598 62.1577 58.4021 61.9154 58.7655 61.9154H66.5194C66.7617 61.9154 67.1251 62.1577 67.1251 62.5212C67.1251 62.8847 66.8828 63.127 66.5194 63.127H58.7655ZM49.3155 63.127C49.0732 63.127 48.7098 62.8847 48.7098 62.5212C48.7098 62.2789 48.9521 61.9154 49.3155 61.9154H57.0694C57.4328 61.9154 57.6752 62.1577 57.6752 62.5212C57.6752 62.8847 57.4328 63.127 57.0694 63.127H49.3155ZM39.8655 63.127C39.6232 63.127 39.2598 62.8847 39.2598 62.5212C39.2598 62.2789 39.5021 61.9154 39.8655 61.9154H47.6194C47.8617 61.9154 48.2251 62.1577 48.2251 62.5212C48.2251 62.8847 47.9828 63.127 47.6194 63.127H39.8655ZM30.4155 63.127C30.0521 63.127 29.8098 62.8847 29.8098 62.5212C29.8098 62.2789 30.0521 61.9154 30.4155 61.9154H38.1694C38.5328 61.9154 38.7752 62.1577 38.7752 62.5212C38.7752 62.8847 38.5328 63.127 38.1694 63.127H30.4155ZM24.8425 57.0693C24.2367 57.0693 23.6309 56.827 23.1463 56.5847C22.4194 56.1 21.9348 55.4943 21.6925 54.6462L15.7559 32.475C15.5136 31.627 15.6348 30.7789 16.1194 30.052C16.4828 29.325 17.2098 28.7193 18.0578 28.477L56.5848 18.1789C57.4328 17.9366 58.2809 18.0577 59.0078 18.5424C59.7348 18.9058 60.3405 19.6327 60.5828 20.4808L60.9463 21.6924L62.6425 28.1135L65.7925 39.8654H67.9732C68.8213 39.8654 69.6694 40.2289 70.2751 40.8347C70.8809 41.4404 71.2444 42.2885 71.2444 43.1366V66.0347C71.2444 66.8827 70.8809 67.7308 70.2751 68.3366C69.6694 68.9424 68.8213 69.3058 67.9732 69.3058H28.1136C27.2655 69.3058 26.4175 68.9424 25.8117 68.3366C25.2059 67.7308 24.8425 66.8827 24.8425 66.0347V57.0693Z"
                                  fill="#32B4F4"/>
                        </svg>
                        <p class="editable">Multiple Funding Options</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="feature-section" data-aos="fade-up" data-aos-id="compare_show">
    <div class="container">
        <div class="row center">
            <h3 class="editable">WebTrader with Day and Night Mode.</h3>
            <p class="editable">
                Our fully customisable WebTrader allows you to effortlessly switch between Day and Night modes. Perhaps
                you want your charts to be easy on the eyes for those trading sessions that go late into the night, or
                maybe you want it light and bright for that early morning Asian session. Now you can adjust it to your
                preference at a flick of switch.
            </p>
        </div>
        <div class="row">
            <div class="switcher">
                <label>
                    <input type="checkbox" id="theme-switcher" class="checked">
                    <span class="switcher-nav" title="Theme Color Switcher"></span>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="themes light"
                 data-aos="flip-down"
                 data-aos-delay="50"
                 data-aos-duration="300"
                 data-aos-easing="ease-in-out"
                 data-aos-mirror="true"
                 data-aos-once="false"
                 data-aos-anchor-placement="top-center">
                <div class="platform-container">
                    <div class="platforms-contain">
                        <figure>
                            <div id="compare"></div>
                        </figure>
                        <input
                                oninput="beforeAfter()"
                                onchange="beforeAfter()"
                                type="range"
                                min="0"
                                max="100"
                                value="50"
                                id="slider"
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section_with_icons" data-aos="fade-up">
    <div class="container">
        <div class="row">
            <h3 class="editable">A Brokerage You Can Trust</h3>
        </div>
        <div class="row">
            <div class="col s12 m12 l6">
                <div class="col l12 m12 s12">
                    <div class="focus-block" data-aos="fade-up">
                        <div class="img">
                            <img class="lazy"
                                 alt="Icon img"
                                 src="/assets/images/placeholder_img.svg"
                                 data-src="/assets/images/home/icon1.svg">
                        </div>
                        <div class="content-block">
                            <h5>Multi-Asset Trading</h5>
                            <p>Nowadays, our clients demand much more than just FX, which is why we’ve ensured that as a
                                {{ site.brand_name }} trader, you have access to all the most important markets in the
                                global economy.</p>
                        </div>
                    </div>
                </div>
                <div class="col l12 m12 s12">
                    <div class="focus-block" data-aos="fade-up">
                        <div class="img">
                            <img class="lazy"
                                 alt="Icon img"
                                 src="/assets/images/placeholder_img.svg"
                                 data-src="/assets/images/home/icon3.svg">
                        </div>
                        <div class="content-block">
                            <h5>Low Spreads, Superior Execution</h5>
                            <p>Take advantage of our industry-beating, razor thin spreads and lightning fast execution
                                across the entire range of our available asset classes. Over 86% of our orders are
                                executed at the client’s chosen price or better.</p>
                        </div>
                    </div>
                </div>
                <div class="col l12 m12 s12">
                    <div class="focus-block" data-aos="fade-up">
                        <div class="img">
                            <img class="lazy"
                                 alt="Icon img"
                                 src="/assets/images/placeholder_img.svg"
                                 data-src="/assets/images/home/icon5.svg">
                        </div>
                        <div class="content-block">
                            <h5>Insured Funds & Negative Balance Protection</h5>
                            <p>Client funds are insured up to $20,000 and all traders, irrespective of their account
                                type, benefit from negative balance protection, ensuring that your balance can never dip
                                into negative territory.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m12 l6">
                <div class="col l12 m12 s12">
                    <div class="focus-block" data-aos="fade-up">
                        <div class="img">
                            <img class="lazy"
                                 alt="Icon img"
                                 src="/assets/images/placeholder_img.svg"
                                 data-src="/assets/images/home/icon2.svg">
                        </div>
                        <div class="content-block">
                            <h5>Professional Research & Analysis</h5>
                            <p>An informed trader is a trader with an edge. We’ve assembled a team of industry experts
                                to provide you with the latest breaking news, market analysis, insights and the highest
                                quality educational materials.</p>
                        </div>
                    </div>
                </div>
                <div class="col l12 m12 s12">
                    <div class="focus-block" data-aos="fade-up">
                        <div class="img">
                            <img class="lazy"
                                 alt="Icon img"
                                 src="/assets/images/placeholder_img.svg"
                                 data-src="/assets/images/home/icon4.svg">
                        </div>
                        <div class="content-block">
                            <h5>Fully Regulated Across Jurisdictions</h5>
                            <p>{{ site.brand_name }} is authorised and regulated by the FCA in the United Kingdom, CySEC
                                in the EU and ASIC in Australia and the broader Asia Pacific region.</p>
                        </div>
                    </div>
                </div>
                <div class="col l12 m12 s12">
                    <div class="focus-block" data-aos="fade-up">
                        <div class="img">
                            <img class="lazy"
                                 alt="Icon img"
                                 src="/assets/images/placeholder_img.svg"
                                 data-src="/assets/images/home/icon6.svg">
                        </div>
                        <div class="content-block">
                            <h5>Your Data is Safe with Us</h5>
                            <p>Our systems use industrial grade encryption to ensure that your sensitive information is
                                kept private. We do not share your data with any third parties and only a select few
                                staff members are permitted access to it.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="btn-holder">
                <a class="cta_button cta_button1 bg_hover_fadein lock_load"
                   href="javascript:void(0);" onclick="ctaBtnProcessing('login')">
                    {{ site.data.translations[page.lang].theme_UI.start_trading }}
                </a>
                <a class="cta_button cta_button2 bg_hover_fadein lock_load hide_logged_in"
                   href="javascript:void(0);" onclick="ctaBtnProcessing('signup')">
                    {{ site.data.translations[page.lang].theme_UI.open_account }}
                </a>
            </div>
        </div>
    </div>
</section>
<section class="app-section" data-aos="fade-up">
    <div class="container">
        <div class="row">
            <div class="col s12 m10 l8">
                <h3 class="editable">
                    Professional Trading Comes to Mobile
                </h3>
                <p class="editable">For those who would rather use mobile apps to access their accounts, {{ site.brand_name }} has you
                    covered with our sleek and sophisticated native mobile trading apps for both Android and iOS. Trade
                    safely and securely on your mobile device and never miss another opportunity again.</p>
                <p><span class="editable">While other brokers treat mobile trading as an afterthought, we understand that today’s traders spend most of their time on mobile and so demand a professional trading experience on the go. Download our Android and iOS apps using the links below and see for yourself!</span>
                </p>
                <div class="social-btn-holder">
                    <a href="javascript:void(0)" title="Google Play" target="_blank">
                        <img class="lazy"
                             alt="Google Play"
                             src="/assets/images/placeholder_img.svg"
                             data-src="/assets/images/home/google-play.png">
                    </a>
                    <a href="javascript:void(0)" title="App Store" target="_blank">
                        <img class="lazy"
                             alt="App Store"
                             src="/assets/images/placeholder_img.svg"
                             data-src="/assets/images/home/app-store.png">
                    </a>
                </div>
            </div>
            <div class="col s10 m10 l6">
                <p class="editable">*Requires either an Android or iOS smartphone or tablet with access to the internet and connection
                    speeds of 56kbps or greater</p>
            </div>
        </div>
    </div>
</section>
<section class="mobile-section" data-aos="fade-up">
    <div class="container">
        <div class="row">
            <div class="col s12 m12 l5">
                <h3 class="editable">Trade from<br>
                    <span>Anywhere</span></h3>
                <div class="border-text">
                    <p class="editable">At {{ site.brand_name }}, we recognise the importance of mobile trading and have made it our
                        priority to offer our clients access to the same great trading experience regardless of the
                        device they’re using. Enjoy low latency market access and superior trading conditions, wherever
                        you may find yourself.</p>
                    <p class="editable"><span>Our all-new {{ site.brand_name }} WebTrader platform</span> allows both our MT4 and MT5
                        traders to access
                        their positions from any web-enabled device while on the go. Customise your trading interface to
                        display chosen assets and preferred layouts every time you log in.</p>
                    <p class="editable"><span>{{ site.brand_name }} WebTrader</span>
                        syncs seamlessly with our MT4/MT5 servers to provide users with an identical user experience to
                        the desktop versions, allowing you to analyse, enter, exit and edit your positions from
                        anywhere.</p>
                </div>
                <div class="btn-holder">
                    <a class="cta_button cta_button1 bg_hover_fadein lock_load"
                       href="javascript:void(0);" onclick="ctaBtnProcessing('login')">
                        {{ site.data.translations[page.lang].theme_UI.start_trading }}
                    </a>
                    <a class="cta_button cta_button2 bg_hover_fadein lock_load hide_logged_in"
                       href="javascript:void(0);" onclick="ctaBtnProcessing('signup')">
                        {{ site.data.translations[page.lang].theme_UI.open_account }}
                    </a>
                </div>
            </div>
            <div class="col s12 m12 l7">
                <div class="divider blank height-70"></div>
                <img class="responsive-img margin_auto_h" src="/assets/images/home/platforms-pic.png"
                     alt="Trade from Anywhere">
            </div>
        </div>
    </div>
</section>
<section class="additional-info-with-images" data-aos="fade-up">
    <div class="container">
        <div class="row center">
            <h3 class="editable">News, Analysis & Much More…</h3>
        </div>
        <div class="row">
            <div class="col s12 m12 l4">
                <div class="image-holder">
                    <img class="lazy"
                         src="/assets/images/placeholder_img.svg"
                         data-src="/assets/images/home/image-block1.jpg"
                         alt=""></div>
                <div class="description">
                    <div class="title">Global corporate debt continues to soar as companies struggle to remain
                        profitable
                    </div>
                    <p>With global corporate debt ballooning to a staggering $5.4 trillion in 2020, many investors are
                        growing concerned that markets have gotten way ahead of the fundamentals and could be vulnerable
                        to a correction.</p>
                    <a class="more"
                       href="javascript:void(0)"
                       title="Read More">Read more</a>
                </div>
            </div>
            <div class="col s12 m12 l4">
                <div class="image-holder">
                    <img class="lazy"
                         src="/assets/images/placeholder_img.svg"
                         data-src="/assets/images/home/image-block2.jpg"
                         alt=""></div>
                <div class="description">
                    <div class="title">Professional traders share their top tips for beginners</div>
                    <p>We asked a select group of our most popular trade leaders to share their best bits of advice for
                        newcomers to the world of trading. Read on for what our team of experts wish someone had told
                        them when they were just getting started!</p>
                    <a class="more"
                       href="javascript:void(0)"
                       title="Read More">Read more</a>
                </div>
            </div>
            <div class="col s12 m12 l4">
                <div class="image-holder">
                    <img class="lazy"
                         src="/assets/images/placeholder_img.svg"
                         data-src="/assets/images/home/image-block3.jpg"
                         alt=""></div>
                <div class="description">
                    <div class="title">Cyber attacks on the rise as more people work from home</div>
                    <p>In a year when news headlines were dominated by the global pandemic, the sharp rise in costly
                        cyber attacks appears have been flying below the radar. However, 2020 saw many high profile
                        digital attacks to sensitive data that have affected dozens of big companies.</p>
                    <a class="more"
                       href="javascript:void(0)"
                       title="Read More">Read more</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="carousel-section" data-aos="fade-up">
    <div class="container">
        <div class="row">
            <div class="col s12 m12 l12">
                <h3 class="center editable">We’re Bullish on Education!</h3>
                <p class="center editable">Browse our constantly growing archive of quality educational resources.</p>
            </div>
        </div>
        <div class="row">
            <div class="carousel-holder" data-aos="flip-down" aos-duration="500">
                <div class="col s12 m8 offset-m2 l10 offset-l1">
                    <div class="carousel">
                        <div class="carousel-item">
                            <div class="carousel-img">
                                <img src="/assets/images/placeholder_img.svg"
                                     data-src="/assets/images/home/slide1.jpg"
                                     alt="Slide"
                                     class="lazy"
                                >
                            </div>
                            <div class="carousel-content">
                                <div class="content">
                                    <h5>5 social trading tips and tricks to get you started.</h5>
                                    <p>
                                        Looking to start trading socially in 2021? We have everything you need to get
                                        started. Enjoy our top 5 tips for those of your who are new to the world of
                                        social trading and start the new year with a bang.
                                    </p>
                                </div>
                                <div class="btn-holder">
                                    <a href="javascript:void(0)" title="Read More">
                                        Read More >>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="carousel-img">
                                <img src="/assets/images/placeholder_img.svg"
                                     data-src="/assets/images/home/slide2.jpg"
                                     alt="Slide"
                                     class="lazy"
                                >
                            </div>
                            <div class="carousel-content">
                                <div class="content">
                                    <h5>Technical deep dive: how to use RSI in your trading</h5>
                                    <p>
                                        Relative strength index, or RSI for short, is one of the most used, and best
                                        loved technical indicators among forex traders. But far more than just providing
                                        simple overbought and oversold signals, RSI can also be used to help you
                                        identify when a move could be running our of steam.
                                    </p>
                                </div>
                                <div class="btn-holder">
                                    <a href="javascript:void(0)"
                                       title="Read More">Read More >></a>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="carousel-img">
                                <img src="/assets/images/placeholder_img.svg"
                                     data-src="/assets/images/home/slide3.jpg"
                                     alt="Slide"
                                     class="lazy"
                                >
                            </div>
                            <div class="carousel-content">
                                <div class="content">
                                    <h5>The crypto bull market is officially here!</h5>
                                    <p>
                                        Crypto holders the world over are rejoicing as the entire crypto market has
                                        recently breached a market cap of $1trillion. But how long will it last and what
                                        do you need to know if you’re new to trading this most exciting and volatile of
                                        markets?
                                    </p>
                                </div>
                                <div class="btn-holder">
                                    <a href="javascript:void(0)" title="Read More">
                                        Read More >>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="carousel-img">
                                <img src="/assets/images/placeholder_img.svg"
                                     data-src="/assets/images/home/slide3.jpg"
                                     alt="Slide"
                                     class="lazy">
                            </div>
                            <div class="carousel-content">
                                <div class="content">
                                    <h5>What is alt-season and why’s it important?</h5>
                                    <p>
                                        Having crossed several important milestones over the New Year, many crypto
                                        traders are talking about “alt-season.” But what is it and how does the dynamic
                                        between bitcoin itself and the rest of the crypto market work at key moments in
                                        the cycle?
                                    </p>
                                </div>
                                <div class="btn-holder">
                                    <a href="javascript:void(0)" title="Read More">
                                        Read More >>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="controls-holder">
                    <a href="javascript:void(0)" title="Navigation" class="prev-arrow">
                        <img src="/assets/images/home/prev.svg" alt="">
                    </a>
                    <a href="javascript:void(0)" title="Navigation" class="next-arrow">
                        <img src="/assets/images/home/next.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="btn-holder">
                <div class="btn-holder">
                    <a class="cta_button gradient_btn cta_arrow bg_hover_fadein lock_load hide_logged_in"
                       href="javascript:void(0);" onclick="ctaBtnProcessing('signup')">
                        {{ site.data.translations[page.lang].theme_UI.open_account }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>