[ng\:cloak],
[ng-cloak],
.ng-cloak {
    display: none !important;
}

#tradingAssetsAppId {
    font: 16px/32px Roboto, sans-serif;
    border-radius: 5px;
    max-width: 1216px;
    min-height: 453px;
    height: 453px;
    margin: 50px auto 30px;
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, .1);
    overflow: hidden;
    position: relative;
    background-color: #ffffff;
}

#tradingAssetsAppId .trading-assets-container {
    height: 100%;
}

#tradingAssetsAppId .assets-tabs-holder {
    width: 100%;
    height: 60px;
    margin: 0 0 5px !important;
    display: flex;
    list-style: none !important;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    left: 0;
    right: 0;
    top: 0;
    border-bottom: 2px solid #e3e3e3;
    box-sizing: border-box;
}

#tradingAssetsAppId .asset-tab {
    color: #000000;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
    text-transform: capitalize;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex: 1;
    margin-bottom: -2px !important;
}

#tradingAssetsAppId .asset-tab.active {
    color:  #000;
    border-bottom: 2px solid #000;
}

#tradingAssetsAppId .heading {
    font-family: Roboto, Arial, Tahoma, sans-serif;
    letter-spacing: 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: .75rem;
    margin-bottom: 0;
    text-align: center;
    color: #4e4b4b;
}

#tradingAssetsAppId .asset-item-flag {
    display: inline;
    width: 30px !important;
    max-height: 22px;
    border-radius: 2px;
    box-shadow: 2px 2px rgba(0, 0, 0, .2);
    vertical-align: middle;
}

#tradingAssetsAppId .asset-item.price {
    color: #5d5d5f;
    text-transform: uppercase;
    font-size: .75rem;
    margin-left: 3%;
}

#tradingAssetsAppId .asset-item.price:first-child {
    margin-left: 0;
}

#tradingAssetsAppId .asset-item.price + span {
    color: #4d4d4d;
    font-size: 1rem;
    margin-left: 1%;
}

#tradingAssetsAppId .asset-items {
    animation-timing-function: ease-in-out;
    animation-duration: .8s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        opacity: 0;
        -webkit-transform: translateY(60px);
        transform: translateY(60px);
        transform: scale(0);
    }

    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        transform: scale(1);
    }
}

#tradingAssetsAppId .trading-assets-list,
#tradingAssetsAppId .info ul {
    list-style: none !important;
    margin: 0 !important;
}

#tradingAssetsAppId .trading-assets-list:last-of-type {
    margin-bottom: 15px !important;
    padding: 0;
}

#tradingAssetsAppId .info > ul {
    margin-bottom: 5px !important;
}

#tradingAssetsAppId .info {
    width: 100%;
    max-width: 480px;
    min-width: fit-content;
    color: #4d4d4d;
    font-size: .75rem;
    line-height: 2.34;
}

#tradingAssetsAppId .info ul li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    position: relative;
    padding: 0;
}

#tradingAssetsAppId .info ul li span {
    font-size: .75rem;
}

#tradingAssetsAppId .info ul li::after {
    display: block;
    border-bottom: dotted 1px #cccccc;
    width: 100%;
    position: absolute;
    top: 15px;
    content: no-close-quote;
    z-index: -1;
}

#tradingAssetsAppId .info ul li span {
    background-color: #f5f7fa;
    z-index: 10;
    padding: 0 13px;
    color: #000 !important;
}

#tradingAssetsAppId .flex-container {
    display: flex;
    align-items: center;
}

#tradingAssetsAppId .flex-container.right {
    width: 50%;
    justify-content: inherit;
}

#tradingAssetsAppId .equal-column {
    min-width: 90px;
    text-align: left;
}

#tradingAssetsAppId .info + .equal-column {
    min-width: 100px;
}

#tradingAssetsAppId .asset-items.detailed {
    display: flex;
    padding: 0 10px;
    max-height: 0;
    overflow: hidden;
    /* Set our transitions up. */
    -webkit-transition: max-height .8s;
    -moz-transition: max-height .8s;
    transition: max-height .8s;
}

#tradingAssetsAppId .asset-items.holder.active .asset-items.detailed {
    max-height: 290px;
    padding: 10px 0 20px;
    position: relative;
}
#tradingAssetsAppId .asset-items.holder.active .asset-items.detailed:before {
    height: 1px;
    background: #ccc;
    display: block;
    width: 99%;
    content: '';
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0.5%;
}

#tradingAssetsAppId .asset-item.cta {
    background: #f5f7fa;
    cursor: pointer;
    text-transform: uppercase;
    color: #484848;
    font-size: .7rem;
    padding: 0;
    height: 32px;
    line-height: 31px;
    min-width: 90px;
    border: 1px solid currentColor;
    border-radius: 5px;
    transition: .25s;
    font-weight: 600;
    margin: 5px 0;
    font-family: Roboto, Arial, Tahoma, sans-serif;
    letter-spacing: 0;
    box-shadow: none;
}

#tradingAssetsAppId .asset-items.active .cta {
    color: #f5f7fa;
    background: #4491cf;
}

#tradingAssetsAppId .asset-items.row:hover .asset-item.cta {
    background: #008000ab;
    color: #f5f7fa;
}

#tradingAssetsAppId .asset-items.row > * {
    padding: 0;
}

#tradingAssetsAppId .asset-items.holder {
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    transition: .8s;
    margin-bottom: -1px;
}

#tradingAssetsAppId .asset-items.holder:after {
    height: 1px;
    background: #ccc;
    display: block;
    width: 99%;
    content: '';
    margin: 0 auto;
}

.asset-items.holder.active,
.asset-items.holder:hover,
.asset-items.holder.active:hover {
    background-color: #f5f7fa;
    border-color: #e3e3e3;
    cursor: pointer;
    border-radius: 5px;
}

.asset-items.holder.active:after {
    content: none;
}

.asset-items .row:after,
.asset-items .row:before {
    content: no-close-quote;
    display: none;
}

.asset-items.row {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 10px;
    transition: .25s;
    align-items: center;
}

.asset-items.row:hover {
    background: #f5f7fa;
    border-radius: 5px;
}

.asset-item.name {
    color: #000;
    font-weight: 600;
    margin-right: 20px;
    text-indent: -2px;
    white-space: pre;
    line-height: 1.15;
}

.asset-items.row:hover .asset-item.name,
.asset-items.holder.active .asset-item.name,
.asset-items.holder.active .asset-item.cta {
    color: #000;
}

.asset-items.holder.active .asset-item.cta:hover,
.asset-items.holder.active .asset-items.row:hover .asset-item.cta {
    color: #ffffff;
}

.asset-items.holder.active .asset-items.row {

    background: #fff;
}

.ps-container {
    position: relative;
    width: 100%;
    max-height: calc(100% - 70px);
    overflow: auto;
}

.no-assets {
    width: 96%;
    margin: 0 auto;
    padding: 0 10px;
    color: #4d4d4d;
    font-size: 1rem;
    line-height: 2.34;
}

/* LOADER STARTS */

#tradingAssetsAppId .spinner {
    position: absolute;
    left: calc(50% - 25px);
    top: calc(50% - 25px);
    border: 10px solid #b2b2b2;
    border-radius: 50%;
    border-top: 10px solid #000;
    border-right: 10px solid #639b2e;
    border-bottom: 10px solid #17407b;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* LOADER ENDS */

@media screen and (max-width: 640px) {
    #tradingAssetsAppId {
        width: 100%;
    }

    .equal-column {
        min-width: 75px;
    }

    #tradingAssetsAppId .flex-container.right {
        width: 65%;
    }

}

@media screen and (max-width: 480px) {
    #tradingAssetsAppId .asset-tab {
        font-size: 1rem;
    }

    #tradingAssetsAppId .asset-items.holder {
        width: 98%;
    }

    #tradingAssetsAppId .asset-items.row,
    #tradingAssetsAppId .asset-items.detailed {
        padding: 0 5px;
    }

    #tradingAssetsAppId .asset-item.name {
        margin-right: 5%;
    }

    #tradingAssetsAppId .asset-item.name,
    #tradingAssetsAppId .asset-item.cta {
        font-size: .825rem;
    }

    #tradingAssetsAppId .asset-item.cta {
        min-width: 75px;
    }

    #tradingAssetsAppId .asset-item.price + span {
        font-size: .75rem;
    }

    #tradingAssetsAppId img.asset-item-flag.flag-1 {
        width: 20px !important;
    }

    #tradingAssetsAppId img.asset-item-flag.flag-2 {
        width: 20px !important;
    }
}

@media screen and (max-width: 420px) {
    #tradingAssetsAppId .equal-column,
    #tradingAssetsAppId .asset-item.cta {
        min-width: 70px;
    }
}

@media screen and (max-width: 375px) {
    #tradingAssetsAppId .flex-container.right {
        justify-content: flex-end;
    }

    #tradingAssetsAppId .flex-container.right span {
        display: none;
    }

    #tradingAssetsAppId .asset-item.name,
    #tradingAssetsAppId .asset-item.cta {
        font-size: .875rem;
    }
    #tradingAssetsAppId .asset-tab {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 320px) {
    #tradingAssetsAppId .asset-tab {
        font-size: .875rem;
    }
}
